03--analyse-action-intraday-du-jour-kYeSF1x0PIhlEMu6.json

{"createdAt":"2025-08-09T09:32:47.254Z","updatedAt":"2025-08-16T16:27:09.000Z","id":"kYeSF1x0PIhlEMu6","name":"03- Analyse action intraday du jour","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"# TESLA","height":304,"width":1648,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1328,-608],"typeVersion":1,"id":"47cab6a1-7aa2-4d3d-a6ed-06a9980d097a","name":"Sticky Note"},{"parameters":{"url":"=https://api.twelvedata.com/time_series\n\n","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"=TSLA"},{"name":"interval","value":"1day"},{"name":"outputsize","value":"252"},{"name":"apikey","value":"0acb27a7d7314f52b8c63ff8a3a9becb"},{"name":"timezone","value":"Europe/Paris"},{"name":"order","value":"asc"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1120,-576],"id":"3e9e5e6e-a245-40df-922c-3b2120e59b3c","name":"1 day"},{"parameters":{"url":"=https://api.twelvedata.com/time_series\n\n","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"=TSLA"},{"name":"interval","value":"1h"},{"name":"outputsize","value":"120"},{"name":"apikey","value":"0acb27a7d7314f52b8c63ff8a3a9becb"},{"name":"timezone","value":"Europe/Paris"},{"name":"order","value":"asc"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-944,-576],"id":"07f238d5-e4eb-4d2f-870a-995e9162ad49","name":"1 heure"},{"parameters":{"url":"=https://api.twelvedata.com/time_series\n\n","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"=TSLA"},{"name":"interval","value":"15min"},{"name":"outputsize","value":"150"},{"name":"apikey","value":"0acb27a7d7314f52b8c63ff8a3a9becb"},{"name":"timezone","value":"Europe/Paris"},{"name":"order","value":"asc"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-720,-576],"id":"b2c85605-f035-4c6f-8941-1918ca0067b8","name":"15 minutes"},{"parameters":{"modelName":"models/gemini-2.5-pro","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-480,-432],"id":"e91816b8-7558-4184-9e27-cc72f180bb0c","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"dvW7sOBx2nN3N5iu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"url":"=https://api.twelvedata.com/time_series\n\n","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"=NVDA"},{"name":"interval","value":"1day"},{"name":"outputsize","value":"252"},{"name":"apikey","value":"0acb27a7d7314f52b8c63ff8a3a9becb"},{"name":"timezone","value":"Europe/Paris"},{"name":"order","value":"asc"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1120,-208],"id":"72f80f11-eae1-4762-bb87-8aefc2362aed","name":"1 day1"},{"parameters":{"url":"=https://api.twelvedata.com/time_series\n\n","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"=NVDA"},{"name":"interval","value":"1h"},{"name":"outputsize","value":"120"},{"name":"apikey","value":"0acb27a7d7314f52b8c63ff8a3a9becb"},{"name":"timezone","value":"Europe/Paris"},{"name":"order","value":"asc"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-944,-208],"id":"5d7de282-1fa4-497a-b342-e584f8102099","name":"1 heure1"},{"parameters":{"url":"=https://api.twelvedata.com/time_series\n\n","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"=NVDA"},{"name":"interval","value":"15min"},{"name":"outputsize","value":"150"},{"name":"apikey","value":"0acb27a7d7314f52b8c63ff8a3a9becb"},{"name":"timezone","value":"Europe/Paris"},{"name":"order","value":"asc"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-720,-208],"id":"46493475-3bae-4b8b-a55e-8c863a37b589","name":"15 minutes1"},{"parameters":{"modelName":"models/gemini-2.5-pro","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-480,-80],"id":"d6c3aea0-d1d0-4085-8398-6cf385cdfe57","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"dvW7sOBx2nN3N5iu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"content":"# NVIDIA","height":288,"width":1648,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1328,-240],"typeVersion":1,"id":"8d7a0d68-7cb2-4862-a9c5-1f6cb83ad76f","name":"Sticky Note1"},{"parameters":{"promptType":"define","text":"=## CONTEXTE\n\n- **Date de l'analyse :** {{ $now.toFormat('yyyy-MM-dd') }}\n- **Objectif du plan :** Prochaine session de trading\n- **Action analysée :** {{ $json.meta.symbol }}\n\n## DONNÉES DE MARCHÉ (MULTI-TIMEFRAME)\n\nVoici les données OHLCV nécessaires, séparées par unité de temps :\n\n\n\n### Données Journalières (1day - 252 dernières bougies)\n{{ JSON.stringify($('1 day1').item.json.values) }}\n\n### Données Horaires (1h - 120 dernières bougies)\n{{ JSON.stringify($('1 heure1').item.json.values) }}\n\n### Données 15 Minutes (15min - 150 dernières bougies)\n{{ JSON.stringify( $('1 day1').item.json.values) }}","options":{"systemMessage":"=## RÔLE ET OBJECTIF\n\nTu es un trader analyste quantitatif d'élite, spécialisé dans les stratégies intraday basées sur les concepts Smart Money (Order Block, FVG, Break of Structure - BoS, Change of Character - CHoCH, flux d'ordres et liquidité).\n\nTon objectif est d'analyser les données de marché fournies pour une action spécifique et de produire un plan de trading à haute probabilité pour la prochaine session.\n\n## UTILISATION DES OUTILS\n\n1. Use the Think tool to review your output\n\n## INSTRUCTIONS\n\nEn te basant **uniquement** sur les données fournies, suis rigoureusement les étapes suivantes :\n\n1.  **Analyse Top-Down :**\n    *   **Daily (D1) :** Détermine le biais directionnel principal (haussier/baissier) en analysant la structure des swing points, les dernières prises de liquidité et les BoS.\n    *   **Horaire (H1) :** Confirme si la structure H1 est alignée avec le biais D1. Identifie le dernier CHoCH ou BoS pertinent.\n\n2.  **Identification des Niveaux Clés :**\n    *   Identifie précisément le Plus Haut de la Veille (**PDH**) et le Plus Bas de la Veille (**PDL**).\n    *   Sur le graphique 15 minutes, localise la **zone d'intérêt (POI)** la plus pertinente et la plus \"fraîche\" (non mitigée) pour la prochaine session. Il doit s'agir d'une confluence claire entre un **Order Block (OB)** et/ou un **Fair Value Gap (FVG)**.\n\n3.  **Construction du Plan de Trading :**\n    *   Synthétise ton analyse dans un plan d'intervention clair et structuré, présenté sous forme de tableau.\n    *   Le plan doit inclure : Scénario (Achat/Vente), Point d'Entrée, Stop Loss (SL), Take Profit 1 (TP1), Take Profit 2 (TP2), et le Ratio Risque/Récompense pour TP1.\n\n4.  **Justification et Évaluation :**\n    *   Rédige une justification concise expliquant le narratif du trade, pourquoi la zone a été choisie, et la logique derrière les niveaux de SL et TP.\n    *   Termine par une évaluation de la qualité de l'opportunité sur une échelle allant de 1 a 7 étoiles"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-480,-208],"id":"1ee4b1e0-13c0-4790-abd4-e90869ae89ba","name":"Agent NVDA"},{"parameters":{"promptType":"define","text":"=## CONTEXTE\n\n- **Date de l'analyse :** {{ $now.toFormat('yyyy-MM-dd') }}\n- **Objectif du plan :** Prochaine session de trading\n- **Action analysée :** {{ $json.meta.symbol }}\n\n## DONNÉES DE MARCHÉ (MULTI-TIMEFRAME)\n\nVoici les données OHLCV nécessaires, séparées par unité de temps :\n\n\n\n### Données Journalières (1day - 252 dernières bougies)\n{{ JSON.stringify($('1 day').item.json.values) }}\n\n### Données Horaires (1h - 120 dernières bougies)\n{{ JSON.stringify($('1 heure').item.json.values) }}\n\n### Données 15 Minutes (15min - 150 dernières bougies)\n{{ JSON.stringify( $('1 day').item.json.values) }}","options":{"systemMessage":"=## RÔLE ET OBJECTIF\n\nTu es un trader analyste quantitatif d'élite, spécialisé dans les stratégies intraday basées sur les concepts Smart Money (Order Block, FVG, Break of Structure - BoS, Change of Character - CHoCH, flux d'ordres et liquidité).\n\nTon objectif est d'analyser les données de marché fournies pour une action spécifique et de produire un plan de trading à haute probabilité pour la prochaine session.\n\n## UTILISATION DES OUTILS - IMPORTANT\n\n1. Use the Think tool to review your output\n\n## INSTRUCTIONS\n\nEn te basant **uniquement** sur les données fournies, suis rigoureusement les étapes suivantes :\n\n1.  **Analyse Top-Down :**\n    *   **Daily (D1) :** Détermine le biais directionnel principal (haussier/baissier) en analysant la structure des swing points, les dernières prises de liquidité et les BoS.\n    *   **Horaire (H1) :** Confirme si la structure H1 est alignée avec le biais D1. Identifie le dernier CHoCH ou BoS pertinent.\n\n2.  **Identification des Niveaux Clés :**\n    *   Identifie précisément le Plus Haut de la Veille (**PDH**) et le Plus Bas de la Veille (**PDL**).\n    *   Sur le graphique 15 minutes, localise la **zone d'intérêt (POI)** la plus pertinente et la plus \"fraîche\" (non mitigée) pour la prochaine session. Il doit s'agir d'une confluence claire entre un **Order Block (OB)** et/ou un **Fair Value Gap (FVG)**.\n\n3.  **Construction du Plan de Trading :**\n    *   Synthétise ton analyse dans un plan d'intervention clair et structuré, présenté sous forme de tableau.\n    *   Le plan doit inclure : Scénario (Achat/Vente), Point d'Entrée, Stop Loss (SL), Take Profit 1 (TP1), Take Profit 2 (TP2), et le Ratio Risque/Récompense pour TP1.\n\n4.  **Justification et Évaluation :**\n    *   Rédige une justification concise expliquant le narratif du trade, pourquoi la zone a été choisie, et la logique derrière les niveaux de SL et TP.\n    *   Termine par une évaluation de la qualité de l'opportunité sur une échelle allant de 1 a 7 étoiles"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-480,-576],"id":"19850e7e-7eff-42ab-a120-2deac50beb15","name":"Agent Tesla"},{"parameters":{"url":"=https://api.twelvedata.com/time_series\n\n","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"=GOOG"},{"name":"interval","value":"1day"},{"name":"outputsize","value":"252"},{"name":"apikey","value":"0acb27a7d7314f52b8c63ff8a3a9becb"},{"name":"timezone","value":"Europe/Paris"},{"name":"order","value":"asc"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[624,-560],"id":"5ff5b069-7fb3-40c7-b6d6-9d9dbda74baa","name":"1 day2"},{"parameters":{"url":"=https://api.twelvedata.com/time_series\n\n","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"=GOOG"},{"name":"interval","value":"1h"},{"name":"outputsize","value":"120"},{"name":"apikey","value":"0acb27a7d7314f52b8c63ff8a3a9becb"},{"name":"timezone","value":"Europe/Paris"},{"name":"order","value":"asc"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,-560],"id":"6030c07b-be9c-4d0b-bdda-3bc03be46787","name":"1 heure2"},{"parameters":{"url":"=https://api.twelvedata.com/time_series\n\n","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"=GOOG"},{"name":"interval","value":"15min"},{"name":"outputsize","value":"150"},{"name":"apikey","value":"0acb27a7d7314f52b8c63ff8a3a9becb"},{"name":"timezone","value":"Europe/Paris"},{"name":"order","value":"asc"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1024,-560],"id":"50217736-a6e4-4926-8a7d-36bf2c9b7528","name":"15 minutes2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1264,-432],"id":"ea78fed6-b33b-4f64-a478-f44cea8e9963","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"dvW7sOBx2nN3N5iu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"content":"# GOOGLE","height":304,"width":1648,"color":4},"type":"n8n-nodes-base.stickyNote","position":[336,-608],"typeVersion":1,"id":"8f415a36-c953-4c7a-bfc5-698d1b4b5938","name":"Sticky Note2"},{"parameters":{"promptType":"define","text":"=## CONTEXTE\n\n- **Date de l'analyse :** {{ $now.toFormat('yyyy-MM-dd') }}\n- **Objectif du plan :** Prochaine session de trading\n- **Action analysée :** {{ $json.meta.symbol }}\n\n## DONNÉES DE MARCHÉ (MULTI-TIMEFRAME)\n\nVoici les données OHLCV nécessaires, séparées par unité de temps :\n\n\n\n### Données Journalières (1day - 252 dernières bougies)\n{{ JSON.stringify($('1 day2').item.json.values) }}\n\n### Données Horaires (1h - 120 dernières bougies)\n{{ JSON.stringify($('1 heure2').item.json.values) }}\n\n### Données 15 Minutes (15min - 150 dernières bougies)\n{{ JSON.stringify( $('1 day2').item.json.values) }}","options":{"systemMessage":"=## RÔLE ET OBJECTIF\n\nTu es un trader analyste quantitatif d'élite, spécialisé dans les stratégies intraday basées sur les concepts Smart Money (Order Block, FVG, Break of Structure - BoS, Change of Character - CHoCH, flux d'ordres et liquidité).\n\nTon objectif est d'analyser les données de marché fournies pour une action spécifique et de produire un plan de trading à haute probabilité pour la prochaine session.\n\n## UTILISATION DES OUTILS\n\n1. Use the Think tool to review your output\n\n## INSTRUCTIONS\n\nEn te basant **uniquement** sur les données fournies, suis rigoureusement les étapes suivantes :\n\n1.  **Analyse Top-Down :**\n    *   **Daily (D1) :** Détermine le biais directionnel principal (haussier/baissier) en analysant la structure des swing points, les dernières prises de liquidité et les BoS.\n    *   **Horaire (H1) :** Confirme si la structure H1 est alignée avec le biais D1. Identifie le dernier CHoCH ou BoS pertinent.\n\n2.  **Identification des Niveaux Clés :**\n    *   Identifie précisément le Plus Haut de la Veille (**PDH**) et le Plus Bas de la Veille (**PDL**).\n    *   Sur le graphique 15 minutes, localise la **zone d'intérêt (POI)** la plus pertinente et la plus \"fraîche\" (non mitigée) pour la prochaine session. Il doit s'agir d'une confluence claire entre un **Order Block (OB)** et/ou un **Fair Value Gap (FVG)**.\n\n3.  **Construction du Plan de Trading :**\n    *   Synthétise ton analyse dans un plan d'intervention clair et structuré, présenté sous forme de tableau.\n    *   Le plan doit inclure : Scénario (Achat/Vente), Point d'Entrée, Stop Loss (SL), Take Profit 1 (TP1), Take Profit 2 (TP2), et le Ratio Risque/Récompense pour TP1.\n\n4.  **Justification et Évaluation :**\n    *   Rédige une justification concise expliquant le narratif du trade, pourquoi la zone a été choisie, et la logique derrière les niveaux de SL et TP.\n    *   Termine par une évaluation de la qualité de l'opportunité sur une échelle allant de 1 a 7 étoiles"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[1264,-560],"id":"a52f323a-decf-462b-a5ce-091439bd96ee","name":"Agent GOOGLE"},{"parameters":{"url":"=https://api.twelvedata.com/time_series\n\n","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"=AMZN"},{"name":"interval","value":"1day"},{"name":"outputsize","value":"252"},{"name":"apikey","value":"0acb27a7d7314f52b8c63ff8a3a9becb"},{"name":"timezone","value":"Europe/Paris"},{"name":"order","value":"asc"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[624,-208],"id":"86399384-fa26-4463-83c2-7024cfdba94b","name":"1 day3"},{"parameters":{"url":"=https://api.twelvedata.com/time_series\n\n","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"=AMZN"},{"name":"interval","value":"1h"},{"name":"outputsize","value":"120"},{"name":"apikey","value":"0acb27a7d7314f52b8c63ff8a3a9becb"},{"name":"timezone","value":"Europe/Paris"},{"name":"order","value":"asc"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,-208],"id":"b72da661-16a7-4b77-b25c-d47d9ea649bb","name":"1 heure3"},{"parameters":{"url":"=https://api.twelvedata.com/time_series\n\n","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"=AMZN"},{"name":"interval","value":"15min"},{"name":"outputsize","value":"150"},{"name":"apikey","value":"0acb27a7d7314f52b8c63ff8a3a9becb"},{"name":"timezone","value":"Europe/Paris"},{"name":"order","value":"asc"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1024,-208],"id":"12ce84f3-5b61-4ed1-9780-32dfb746cee7","name":"15 minutes3"},{"parameters":{"modelName":"models/gemini-2.5-pro","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1264,-80],"id":"2f3b9e43-d90f-4476-9724-064ec4fe326f","name":"Google Gemini Chat Model3","credentials":{"googlePalmApi":{"id":"dvW7sOBx2nN3N5iu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"content":"# AMAZON","height":288,"width":1648,"color":2},"type":"n8n-nodes-base.stickyNote","position":[336,-240],"typeVersion":1,"id":"b10b9d48-51d6-4051-a56c-b1974d649569","name":"Sticky Note3"},{"parameters":{"promptType":"define","text":"=## CONTEXTE\n\n- **Date de l'analyse :** {{ $now.toFormat('yyyy-MM-dd') }}\n- **Objectif du plan :** Prochaine session de trading\n- **Action analysée :** {{ $json.meta.symbol }}\n\n## DONNÉES DE MARCHÉ (MULTI-TIMEFRAME)\n\nVoici les données OHLCV nécessaires, séparées par unité de temps :\n\n\n\n### Données Journalières (1day - 252 dernières bougies)\n{{ JSON.stringify($('1 day3').item.json.values) }}\n\n### Données Horaires (1h - 120 dernières bougies)\n{{ JSON.stringify($('1 heure3').item.json.values) }}\n\n### Données 15 Minutes (15min - 150 dernières bougies)\n{{ JSON.stringify( $('1 day3').item.json.values) }}","options":{"systemMessage":"=## RÔLE ET OBJECTIF\n\nTu es un trader analyste quantitatif d'élite, spécialisé dans les stratégies intraday basées sur les concepts Smart Money (Order Block, FVG, Break of Structure - BoS, Change of Character - CHoCH, flux d'ordres et liquidité).\n\nTon objectif est d'analyser les données de marché fournies pour une action spécifique et de produire un plan de trading à haute probabilité pour la prochaine session.\n\n## UTILISATION DES OUTILS\n\n1. Use the Think tool to review your output\n\n## INSTRUCTIONS\n\nEn te basant **uniquement** sur les données fournies, suis rigoureusement les étapes suivantes :\n\n1.  **Analyse Top-Down :**\n    *   **Daily (D1) :** Détermine le biais directionnel principal (haussier/baissier) en analysant la structure des swing points, les dernières prises de liquidité et les BoS.\n    *   **Horaire (H1) :** Confirme si la structure H1 est alignée avec le biais D1. Identifie le dernier CHoCH ou BoS pertinent.\n\n2.  **Identification des Niveaux Clés :**\n    *   Identifie précisément le Plus Haut de la Veille (**PDH**) et le Plus Bas de la Veille (**PDL**).\n    *   Sur le graphique 15 minutes, localise la **zone d'intérêt (POI)** la plus pertinente et la plus \"fraîche\" (non mitigée) pour la prochaine session. Il doit s'agir d'une confluence claire entre un **Order Block (OB)** et/ou un **Fair Value Gap (FVG)**.\n\n3.  **Construction du Plan de Trading :**\n    *   Synthétise ton analyse dans un plan d'intervention clair et structuré, présenté sous forme de tableau.\n    *   Le plan doit inclure : Scénario (Achat/Vente), Point d'Entrée, Stop Loss (SL), Take Profit 1 (TP1), Take Profit 2 (TP2), et le Ratio Risque/Récompense pour TP1.\n\n4.  **Justification et Évaluation :**\n    *   Rédige une justification concise expliquant le narratif du trade, pourquoi la zone a été choisie, et la logique derrière les niveaux de SL et TP.\n    *   Termine par une évaluation de la qualité de l'opportunité sur une échelle allant de 1 a 7 étoiles"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[1264,-208],"id":"aa47eae4-a754-4d72-af5f-bca091a1db53","name":"Agent AMAZON"},{"parameters":{"url":"=https://api.twelvedata.com/time_series\n\n","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"=MSFT"},{"name":"interval","value":"1day"},{"name":"outputsize","value":"252"},{"name":"apikey","value":"0acb27a7d7314f52b8c63ff8a3a9becb"},{"name":"timezone","value":"Europe/Paris"},{"name":"order","value":"asc"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1120,144],"id":"649f9cab-a99b-4788-9f12-6bb7854b062e","name":"1 day4"},{"parameters":{"url":"=https://api.twelvedata.com/time_series\n\n","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"=MSFT"},{"name":"interval","value":"1h"},{"name":"outputsize","value":"120"},{"name":"apikey","value":"0acb27a7d7314f52b8c63ff8a3a9becb"},{"name":"timezone","value":"Europe/Paris"},{"name":"order","value":"asc"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-944,144],"id":"d6620b2c-50b6-4c00-9382-6ef3eebb51f0","name":"1 heure4"},{"parameters":{"url":"=https://api.twelvedata.com/time_series\n\n","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"=MSFT"},{"name":"interval","value":"15min"},{"name":"outputsize","value":"150"},{"name":"apikey","value":"0acb27a7d7314f52b8c63ff8a3a9becb"},{"name":"timezone","value":"Europe/Paris"},{"name":"order","value":"asc"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-720,144],"id":"88d4c4b8-1e16-406f-bc45-64165dc227bd","name":"15 minutes4"},{"parameters":{"modelName":"models/gemini-2.5-pro","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-480,272],"id":"621fd8ed-00fc-43f1-82b2-0636b77b6674","name":"Google Gemini Chat Model4","credentials":{"googlePalmApi":{"id":"dvW7sOBx2nN3N5iu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"content":"# MICROSOFT","height":304,"width":1648,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-1328,96],"typeVersion":1,"id":"c3f5368e-e23f-46ae-8455-d70191ddf927","name":"Sticky Note4"},{"parameters":{"promptType":"define","text":"=## CONTEXTE\n\n- **Date de l'analyse :** {{ $now.toFormat('yyyy-MM-dd') }}\n- **Objectif du plan :** Prochaine session de trading\n- **Action analysée :** {{ $json.meta.symbol }}\n\n## DONNÉES DE MARCHÉ (MULTI-TIMEFRAME)\n\nVoici les données OHLCV nécessaires, séparées par unité de temps :\n\n\n\n### Données Journalières (1day - 252 dernières bougies)\n{{ JSON.stringify($('1 day4').item.json.values) }}\n\n### Données Horaires (1h - 120 dernières bougies)\n{{ JSON.stringify($('1 heure4').item.json.values) }}\n\n### Données 15 Minutes (15min - 150 dernières bougies)\n{{ JSON.stringify( $('1 day4').item.json.values) }}","options":{"systemMessage":"=## RÔLE ET OBJECTIF\n\nTu es un trader analyste quantitatif d'élite, spécialisé dans les stratégies intraday basées sur les concepts Smart Money (Order Block, FVG, Break of Structure - BoS, Change of Character - CHoCH, flux d'ordres et liquidité).\n\nTon objectif est d'analyser les données de marché fournies pour une action spécifique et de produire un plan de trading à haute probabilité pour la prochaine session.\n\n## UTILISATION DES OUTILS\n\n1. Use the Think tool to review your output\n\n## INSTRUCTIONS\n\nEn te basant **uniquement** sur les données fournies, suis rigoureusement les étapes suivantes :\n\n1.  **Analyse Top-Down :**\n    *   **Daily (D1) :** Détermine le biais directionnel principal (haussier/baissier) en analysant la structure des swing points, les dernières prises de liquidité et les BoS.\n    *   **Horaire (H1) :** Confirme si la structure H1 est alignée avec le biais D1. Identifie le dernier CHoCH ou BoS pertinent.\n\n2.  **Identification des Niveaux Clés :**\n    *   Identifie précisément le Plus Haut de la Veille (**PDH**) et le Plus Bas de la Veille (**PDL**).\n    *   Sur le graphique 15 minutes, localise la **zone d'intérêt (POI)** la plus pertinente et la plus \"fraîche\" (non mitigée) pour la prochaine session. Il doit s'agir d'une confluence claire entre un **Order Block (OB)** et/ou un **Fair Value Gap (FVG)**.\n\n3.  **Construction du Plan de Trading :**\n    *   Synthétise ton analyse dans un plan d'intervention clair et structuré, présenté sous forme de tableau.\n    *   Le plan doit inclure : Scénario (Achat/Vente), Point d'Entrée, Stop Loss (SL), Take Profit 1 (TP1), Take Profit 2 (TP2), et le Ratio Risque/Récompense pour TP1.\n\n4.  **Justification et Évaluation :**\n    *   Rédige une justification concise expliquant le narratif du trade, pourquoi la zone a été choisie, et la logique derrière les niveaux de SL et TP.\n    *   Termine par une évaluation de la qualité de l'opportunité sur une échelle allant de 1 a 7 étoiles"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-480,144],"id":"d4d2b7c7-4afd-46e0-b393-7e377485c675","name":"Agent AMAZON1"},{"parameters":{"amount":1,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[400,-464],"id":"f85569c4-4bd1-4d33-a50e-061ec0ea2041","name":"Wait","webhookId":"42b32ec4-f8a4-428e-9e3c-f1c942c98f7c"},{"parameters":{"content":"# ANALYSE FINALE","height":304,"width":1632,"color":7},"type":"n8n-nodes-base.stickyNote","position":[352,96],"typeVersion":1,"id":"a1735ce6-c6b5-49ee-81a6-9ad2d7741984","name":"Sticky Note5"},{"parameters":{"modelName":"models/gemini-2.5-pro","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[800,256],"id":"76ea3704-bb29-4dec-a6b1-96488f6e87a9","name":"Google Gemini Chat Model5","credentials":{"googlePalmApi":{"id":"dvW7sOBx2nN3N5iu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"=Voici les 5 rapports d'analyse de la journée. Applique tes instructions pour sélectionner la meilleure opportunité.\n\n{{ JSON.stringify($input.all()) }}","options":{"systemMessage":"=## RÔLE ET OBJECTIF\n\nTu es le \"Chief Trading Strategist\" d'un hedge fund quantitatif. Ta mission n'est pas d'analyser les graphiques, mais d'évaluer les plans de trading soumis par tes 5 analystes (agents IA).\n\nTon objectif est de sélectionner **la meilleure et unique opportunité de trading** pour la journée parmi les 5 rapports fournis, et de justifier ta décision de manière comparative.\n\n## DONNÉES D'ENTRÉE\n\nTu recevras un ensemble de 5 rapports d'analyse au format JSON. Chaque rapport contient :\n- Le symbole de l'action (`symbol`)\n- Le plan de trading (`plan`)\n- La justification (`justification`)\n- L'évaluation de la qualité de l'opportunité (`evaluation`: \"Forte\", \"Moyenne\", ou \"Faible\")\n\n## CRITÈRES DE DÉCISION (PAR ORDRE DE PRIORITÉ)\n\nTu dois baser ta décision sur les critères suivants, dans cet ordre d'importance :\n\n1.  **Qualité de l'Opportunité :** Privilégie **toujours** une opportunité notée \"Forte\" par rapport à une \"Moyenne\" ou \"Faible\". Si plusieurs sont \"Fortes\", utilise les critères suivants pour les départager.\n2.  **Clarté du Narratif (Confluence) :** Le plan est-il soutenu par un alignement clair des tendances D1 et H1 ? Un biais unanime sur toutes les unités de temps est un signal de très haute qualité.\n3.  **Ratio Risque/Récompense (RR) :** Le plan offre-t-il un ratio RR supérieur à 2.5R pour le TP1 ? Un RR plus élevé est meilleur, à condition que les niveaux soient logiques.\n4.  **Qualité de la Zone d'Entrée (POI) :** La zone d'entrée est-elle précise, \"fraîche\" (non mitigée) et basée sur une inefficacité claire (FVG/OB) ? Une zone étroite et bien définie est supérieure à une zone large et vague.\n5.  **Clarté des Objectifs :** Les TPs sont-ils basés sur des pools de liquidité évidents (comme un PDL) ou des niveaux psychologiques, ou semblent-ils arbitraires ?\n\n## FORMAT DE SORTIE REQUIS\n\nTu dois fournir ta réponse dans le format structuré suivant, et uniquement ce format :\n\n### 1. Décision Finale\n**ACTION CHOISIE :** [Symbole de l'action] ([Scénario Achat/Vente])\n\n### 2. Justification de la Sélection\nAnalyse comparative expliquant pourquoi tu as choisi cette action **par rapport aux autres**. Ne te contente pas de répéter le rapport gagnant. Met en évidence les forces du plan choisi et les faiblesses relatives des plans écartés en te basant sur les critères de décision.\n\n### 3. Plan de Trading Recommandé\n[Copie ici le tableau complet du plan de trading de l'action sélectionnée]\n\n### 4. Classement des Opportunités\nClasse les 5 actions de la plus prometteuse à la moins prometteuse pour la journée :\n1.  [Symbole 1] - Évaluation : [Forte/Moyenne/Faible]\n2.  [Symbole 2] - Évaluation : [Forte/Moyenne/Faible]\n3.  [Symbole 3] - Évaluation : [Forte/Moyenne/Faible]\n4.  [Symbole 4] - Évaluation : [Forte/Moyenne/Faible]\n5.  [Symbole 5] - Évaluation : [Forte/Moyenne/Faible]"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[1088,160],"id":"af84daa2-8fee-4353-ad3c-3b450ec58275","name":"Chef Analyste"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d20903a-d8ed-4bed-8976-3436f99eace8","leftValue":"={{ $json.output }}","rightValue":"","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[0,-208],"id":"2a2019e4-c2e4-4cef-87e8-761280fd845f","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d20903a-d8ed-4bed-8976-3436f99eace8","leftValue":"={{ $json.output }}","rightValue":"","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1680,-560],"id":"46a2cdc0-7952-48c8-90d5-d709297a73ca","name":"If2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d20903a-d8ed-4bed-8976-3436f99eace8","leftValue":"={{ $json.output }}","rightValue":"","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1680,-208],"id":"e4711f96-07bf-4dee-be72-f37dd5aebefc","name":"If3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d20903a-d8ed-4bed-8976-3436f99eace8","leftValue":"={{ $json.output }}","rightValue":"","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[0,144],"id":"844848f5-aeed-4475-a291-09b3b9ecf2fe","name":"If4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d20903a-d8ed-4bed-8976-3436f99eace8","leftValue":"={{ $json.output }}","rightValue":"","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-16,-576],"id":"73e9a72d-03e6-4833-83b1-2d2333d18889","name":"If"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-1504,-576],"id":"ef7e87c9-5268-46ef-bff1-3e4c52092b9c","name":"When chat message received","webhookId":"7c49c0e6-a713-41f7-8ce0-3808c836fead"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[288,48],"id":"d60e60b0-b6c0-49ee-a6d1-0386225edb22","name":"Think"}],"connections":{"1 heure":{"main":[[{"node":"15 minutes","type":"main","index":0}]]},"1 day":{"main":[[{"node":"1 heure","type":"main","index":0}]]},"15 minutes":{"main":[[{"node":"Agent Tesla","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Agent Tesla","type":"ai_languageModel","index":0}]]},"1 day1":{"main":[[{"node":"1 heure1","type":"main","index":0}]]},"1 heure1":{"main":[[{"node":"15 minutes1","type":"main","index":0}]]},"15 minutes1":{"main":[[{"node":"Agent NVDA","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Agent NVDA","type":"ai_languageModel","index":0}]]},"Agent Tesla":{"main":[[{"node":"If","type":"main","index":0}]]},"1 day2":{"main":[[{"node":"1 heure2","type":"main","index":0}]]},"1 heure2":{"main":[[{"node":"15 minutes2","type":"main","index":0}]]},"15 minutes2":{"main":[[{"node":"Agent GOOGLE","type":"main","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Agent GOOGLE","type":"ai_languageModel","index":0}]]},"1 day3":{"main":[[{"node":"1 heure3","type":"main","index":0}]]},"1 heure3":{"main":[[{"node":"15 minutes3","type":"main","index":0}]]},"15 minutes3":{"main":[[{"node":"Agent AMAZON","type":"main","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"Agent AMAZON","type":"ai_languageModel","index":0}]]},"Agent NVDA":{"main":[[{"node":"If1","type":"main","index":0}]]},"Agent GOOGLE":{"main":[[{"node":"If2","type":"main","index":0}]]},"1 day4":{"main":[[{"node":"1 heure4","type":"main","index":0}]]},"1 heure4":{"main":[[{"node":"15 minutes4","type":"main","index":0}]]},"15 minutes4":{"main":[[{"node":"Agent AMAZON1","type":"main","index":0}]]},"Google Gemini Chat Model4":{"ai_languageModel":[[{"node":"Agent AMAZON1","type":"ai_languageModel","index":0}]]},"Wait":{"main":[[{"node":"1 day2","type":"main","index":0}]]},"Agent AMAZON1":{"main":[[{"node":"If4","type":"main","index":0}]]},"Google Gemini Chat Model5":{"ai_languageModel":[[{"node":"Chef Analyste","type":"ai_languageModel","index":0}]]},"Agent AMAZON":{"main":[[{"node":"If3","type":"main","index":0}]]},"If1":{"main":[[{"node":"Agent NVDA","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"If2":{"main":[[{"node":"Agent GOOGLE","type":"main","index":0}],[{"node":"1 day3","type":"main","index":0}]]},"If3":{"main":[[{"node":"Agent AMAZON","type":"main","index":0}],[{"node":"1 day4","type":"main","index":0}]]},"If4":{"main":[[{"node":"Agent AMAZON1","type":"main","index":0}],[{"node":"Chef Analyste","type":"main","index":0}]]},"If":{"main":[[{"node":"Agent Tesla","type":"main","index":0}],[{"node":"1 day1","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"1 day","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"Agent Tesla","type":"ai_tool","index":0},{"node":"Agent AMAZON","type":"ai_tool","index":0},{"node":"Agent GOOGLE","type":"ai_tool","index":0},{"node":"Agent NVDA","type":"ai_tool","index":0},{"node":"Agent AMAZON1","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c0817d74-0cdf-4ff7-80cd-934220c732cc","triggerCount":0,"tags":[]}