04--rapport-journalier-hBGYinmyGmrB53O4.json

{"createdAt":"2025-08-16T16:17:54.360Z","updatedAt":"2025-09-10T13:50:06.000Z","id":"hBGYinmyGmrB53O4","name":"04- Rapport journalier","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"=https://api.twelvedata.com/time_series","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"=TSLA"},{"name":"interval","value":"1day"},{"name":"outputsize","value":"60"},{"name":"apikey","value":"0acb27a7d7314f52b8c63ff8a3a9becb"},{"name":"timezone","value":"Europe/Paris"},{"name":"order","value":"asc"},{"name":"end_date"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1504,-1120],"id":"15c8319a-451f-49cb-b8ea-4b90d4a89fb1","name":"1 day"},{"parameters":{"url":"=https://api.twelvedata.com/time_series\n\n","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"=TSLA"},{"name":"interval","value":"1h"},{"name":"outputsize","value":"60"},{"name":"apikey","value":"0acb27a7d7314f52b8c63ff8a3a9becb"},{"name":"timezone","value":"Europe/Paris"},{"name":"order","value":"asc"},{"name":"end_date"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1504,-928],"id":"cb60bf45-ec31-488f-9bce-40afdd1ae307","name":"1 heure"},{"parameters":{"url":"=https://api.twelvedata.com/time_series\n\n","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"=TSLA"},{"name":"interval","value":"15min"},{"name":"outputsize","value":"50"},{"name":"apikey","value":"0acb27a7d7314f52b8c63ff8a3a9becb"},{"name":"timezone","value":"Europe/Paris"},{"name":"order","value":"asc"},{"name":"end_date"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1504,-736],"id":"ccb83714-5e43-4495-9177-8322de2d012e","name":"15 minutes"},{"parameters":{"url":"=https://api.twelvedata.com/time_series\n\n","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"=tsla"},{"name":"interval","value":"15min"},{"name":"outputsize","value":"80"},{"name":"apikey","value":"0acb27a7d7314f52b8c63ff8a3a9becb"},{"name":"timezone","value":"Europe/Paris"},{"name":"order","value":"asc"},{"name":"end_date"},{"name":"start_date"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[688,-960],"id":"4545cec9-9946-4ef4-ba25-78b7ac6be82b","name":"5 MINUTES"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1232,-1008],"id":"4bffa0a1-1553-49da-9a24-74f726676308","name":"Merge"},{"parameters":{"content":"## RÔLE ET OBJECTIF\n\nTu es un trader analyste quantitatif d'élite, spécialisé dans les stratégies intraday basées sur les concepts Smart Money (Order Block, FVG, Break of Structure - BoS, Change of Character - CHoCH, flux d'ordres et liquidité).\n\nTon objectif est d'analyser les données de marché fournies pour une action spécifique et de produire un plan de trading à haute probabilité pour la prochaine session.\n\n\n\n## INSTRUCTIONS\n\nEn te basant **uniquement** sur les données fournies, suis rigoureusement les étapes suivantes :\n\n1.  **Analyse Top-Down :**\n    *   **Daily (D1) :** Détermine le biais directionnel principal (haussier/baissier) en analysant la structure des swing points, les dernières prises de liquidité et les BoS.\n    *   **Horaire (H1) :** Confirme si la structure H1 est alignée avec le biais D1. Identifie le dernier CHoCH ou BoS pertinent.\n\n2.  **Identification des Niveaux Clés :**\n    *   Identifie précisément le Plus Haut de la Veille (**PDH**) et le Plus Bas de la Veille (**PDL**).\n    *   Sur le graphique 15 minutes, localise la **zone d'intérêt (POI)** la plus pertinente et la plus \"fraîche\" (non mitigée) pour la prochaine session. Il doit s'agir d'une confluence claire entre un **Order Block (OB)** et/ou un **Fair Value Gap (FVG)**.\n\n3.  **Construction du Plan de Trading :**\n    *   Synthétise ton analyse dans un plan d'intervention clair et structuré, présenté sous forme de tableau.\n    *   Le plan doit inclure : Scénario (Achat/Vente), Point d'Entrée, Stop Loss (SL), Take Profit 1 (TP1), Take Profit 2 (TP2), et le Ratio Risque/Récompense pour TP1.\n\n4.  **Justification et Évaluation :**\n    *   Rédige une justification concise expliquant le narratif du trade, pourquoi la zone a été choisie, et la logique derrière les niveaux de SL et TP.\n    *   Termine par une évaluation de la qualité de l'opportunité sur une échelle allant de 1 a 7 étoiles:","height":832,"width":736,"color":6},"type":"n8n-nodes-base.stickyNote","position":[976,-1168],"typeVersion":1,"id":"bdbd8ecb-c08f-437c-be60-aeaf5404a453","name":"Sticky Note"},{"parameters":{"content":"# TESLA","height":624,"width":2320,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1696,-1184],"typeVersion":1,"id":"411327c5-c46d-49ed-ab6c-958399c1bbab","name":"Sticky Note1"},{"parameters":{"url":"=https://api.twelvedata.com/time_series","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"=AMZN"},{"name":"interval","value":"1day"},{"name":"outputsize","value":"60"},{"name":"apikey","value":"0acb27a7d7314f52b8c63ff8a3a9becb"},{"name":"timezone","value":"Europe/Paris"},{"name":"order","value":"asc"},{"name":"end_date"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1504,-464],"id":"c6b36c6f-2d62-4092-a9aa-1dab865ac5d9","name":"1 day1"},{"parameters":{"url":"=https://api.twelvedata.com/time_series\n\n","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"=AMZN"},{"name":"interval","value":"1h"},{"name":"outputsize","value":"60"},{"name":"apikey","value":"0acb27a7d7314f52b8c63ff8a3a9becb"},{"name":"timezone","value":"Europe/Paris"},{"name":"order","value":"asc"},{"name":"end_date"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1504,-272],"id":"b3a504ae-1348-4a40-badb-36433e820f04","name":"1 heure1"},{"parameters":{"url":"=https://api.twelvedata.com/time_series\n\n","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"=AMZN"},{"name":"interval","value":"15min"},{"name":"outputsize","value":"50"},{"name":"apikey","value":"0acb27a7d7314f52b8c63ff8a3a9becb"},{"name":"timezone","value":"Europe/Paris"},{"name":"order","value":"asc"},{"name":"end_date"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1504,-80],"id":"17d828a0-9048-4e57-bcaf-f728a8f0acfe","name":"15 minutes1"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1232,-352],"id":"e8abe79a-0dcb-4948-a36e-003074079e44","name":"Merge1"},{"parameters":{"content":"# amazon","height":592,"width":2288},"type":"n8n-nodes-base.stickyNote","position":[-1664,-496],"typeVersion":1,"id":"7a758072-255e-439d-aaf8-a29f01de292a","name":"Sticky Note2"},{"parameters":{"url":"=https://api.twelvedata.com/time_series","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"=GOOG"},{"name":"interval","value":"1day"},{"name":"outputsize","value":"60"},{"name":"apikey","value":"0acb27a7d7314f52b8c63ff8a3a9becb"},{"name":"timezone","value":"Europe/Paris"},{"name":"order","value":"asc"},{"name":"end_date"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1504,192],"id":"a805f1d1-ed00-451d-8a60-e485099c1f96","name":"1 day2"},{"parameters":{"url":"=https://api.twelvedata.com/time_series\n\n","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"=GOOG"},{"name":"interval","value":"1h"},{"name":"outputsize","value":"60"},{"name":"apikey","value":"0acb27a7d7314f52b8c63ff8a3a9becb"},{"name":"timezone","value":"Europe/Paris"},{"name":"order","value":"asc"},{"name":"end_date"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1504,384],"id":"c0510360-fe31-4b37-8f95-adda4df5d154","name":"1 heure2"},{"parameters":{"url":"=https://api.twelvedata.com/time_series\n\n","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"=GOOG"},{"name":"interval","value":"15min"},{"name":"outputsize","value":"50"},{"name":"apikey","value":"0acb27a7d7314f52b8c63ff8a3a9becb"},{"name":"timezone","value":"Europe/Paris"},{"name":"order","value":"asc"},{"name":"end_date"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1504,576],"id":"477a72a5-4d8f-4d21-bb59-12ed1ddb5f78","name":"15 minutes2"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1232,304],"id":"66453390-c851-4e44-a2a3-df18c5e25125","name":"Merge2"},{"parameters":{"content":"# GOOGLE","height":592,"width":2288,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1664,144],"typeVersion":1,"id":"acd9da8a-3f76-44ad-bfda-607792b59e48","name":"Sticky Note3"},{"parameters":{"url":"=https://api.twelvedata.com/time_series","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"=NVDA"},{"name":"interval","value":"1day"},{"name":"outputsize","value":"60"},{"name":"apikey","value":"0acb27a7d7314f52b8c63ff8a3a9becb"},{"name":"timezone","value":"Europe/Paris"},{"name":"order","value":"asc"},{"name":"end_date"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1504,848],"id":"a87e7daa-9b65-44d8-b723-30962dd2982d","name":"1 day3"},{"parameters":{"url":"=https://api.twelvedata.com/time_series\n\n","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"=NVDA"},{"name":"interval","value":"1h"},{"name":"outputsize","value":"60"},{"name":"apikey","value":"0acb27a7d7314f52b8c63ff8a3a9becb"},{"name":"timezone","value":"Europe/Paris"},{"name":"order","value":"asc"},{"name":"end_date"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1504,1040],"id":"9822f183-f901-4161-9b43-6dc03d3ce274","name":"1 heure3"},{"parameters":{"url":"=https://api.twelvedata.com/time_series\n\n","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"=NVDA"},{"name":"interval","value":"15min"},{"name":"outputsize","value":"50"},{"name":"apikey","value":"0acb27a7d7314f52b8c63ff8a3a9becb"},{"name":"timezone","value":"Europe/Paris"},{"name":"order","value":"asc"},{"name":"end_date"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1504,1232],"id":"f8ea322d-f6e6-4da6-9271-f929385f5828","name":"15 minutes3"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1232,960],"id":"dd0c20bf-83ab-43bd-a95b-7e4bfc4b3e36","name":"Merge3"},{"parameters":{"content":"#NVIDIA","height":592,"width":2288,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1664,784],"typeVersion":1,"id":"832fff16-5e37-4bf8-a326-81838c59d696","name":"Sticky Note4"},{"parameters":{"url":"=https://api.twelvedata.com/time_series","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"=MSFT"},{"name":"interval","value":"1day"},{"name":"outputsize","value":"60"},{"name":"apikey","value":"0acb27a7d7314f52b8c63ff8a3a9becb"},{"name":"timezone","value":"Europe/Paris"},{"name":"order","value":"asc"},{"name":"end_date"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1504,1456],"id":"3ff86006-6cf5-4431-b8dc-cd3d7b493a01","name":"1 day4"},{"parameters":{"url":"=https://api.twelvedata.com/time_series\n\n","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"=MSFT"},{"name":"interval","value":"1h"},{"name":"outputsize","value":"60"},{"name":"apikey","value":"0acb27a7d7314f52b8c63ff8a3a9becb"},{"name":"timezone","value":"Europe/Paris"},{"name":"order","value":"asc"},{"name":"end_date"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1504,1648],"id":"935026cb-d406-4fb9-9fc6-0c4555274e40","name":"1 heure4"},{"parameters":{"url":"=https://api.twelvedata.com/time_series\n\n","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"=MSFT"},{"name":"interval","value":"15min"},{"name":"outputsize","value":"50"},{"name":"apikey","value":"0acb27a7d7314f52b8c63ff8a3a9becb"},{"name":"timezone","value":"Europe/Paris"},{"name":"order","value":"asc"},{"name":"end_date"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1504,1840],"id":"e9bd37d3-b975-494a-8a70-441d15d72871","name":"15 minutes4"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1232,1568],"id":"4159e28a-b107-4a80-a67e-017cd96fed77","name":"Merge4"},{"parameters":{"content":"#NVIDIA","height":592,"width":2288,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-1664,1424],"typeVersion":1,"id":"17e6a9b1-fec1-4ab7-a435-e9e9e8af5c52","name":"Sticky Note5"},{"parameters":{"modelName":"models/gemini-2.5-pro","options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-3136,1904],"id":"131bd940-a80b-4d9a-84fd-9cc488f4681e","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"dvW7sOBx2nN3N5iu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"=Symbol: {{ $('1 day').item.json.meta.symbol }}\nDonnées 1d, 1H et 15 minutes:\n{{ JSON.stringify($json.data) }}\n\n\n\n\n\n","options":{"systemMessage":"=## RÔLE ET OBJECTIF\n\nTu es un trader analyste quantitatif d'élite, spécialisé dans les stratégies intraday basées sur les concepts Smart Money (Order Block, FVG, Break of Structure - BoS, Change of Character - CHoCH, flux d'ordres et liquidité).\n\nTon objectif est d'analyser les données de marché fournies pour une action spécifique et de produire un plan de trading à haute probabilité pour la prochaine session.\n\n\n\n## INSTRUCTIONS\n\nEn te basant **uniquement** sur les données fournies, suis rigoureusement les étapes suivantes :\n\n1.  **Analyse Top-Down :**\n    *   **Daily (D1) :** Détermine le biais directionnel principal (haussier/baissier) en analysant la structure des swing points, les dernières prises de liquidité et les BoS.\n    *   **Horaire (H1) :** Confirme si la structure H1 est alignée avec le biais D1. Identifie le dernier CHoCH ou BoS pertinent.\n\n2.  **Identification des Niveaux Clés :**\n    *   Identifie précisément le Plus Haut de la Veille (**PDH**) et le Plus Bas de la Veille (**PDL**).\n    *   Sur le graphique 15 minutes, localise la **zone d'intérêt (POI)** la plus pertinente et la plus \"fraîche\" (non mitigée) pour la prochaine session. Il doit s'agir d'une confluence claire entre un **Order Block (OB)** et/ou un **Fair Value Gap (FVG)**.\n\n3.  **Construction du Plan de Trading :**\n    *   Synthétise ton analyse dans un plan d'intervention clair et structuré, présenté sous forme de tableau.\n    *   Le plan doit inclure : Scénario (Achat/Vente), Point d'Entrée, Stop Loss (SL), Take Profit 1 (TP1), Take Profit 2 (TP2), et le Ratio Risque/Récompense pour TP1.\n\n4.  **Justification et Évaluation :**\n    *   Rédige une justification concise expliquant le narratif du trade, pourquoi la zone a été choisie, et la logique derrière les niveaux de SL et TP.\n    *   Termine par une évaluation de la qualité de l'opportunité sur une échelle allant de 1 a 7 étoiles\n\n## FORMAT DE REPONSE\n\nRéponds de manière structurée avec des emojis adaptés, ssaut de ligne, titre en gras"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-768,-992],"id":"27666c3e-c472-4e5e-9c37-5a45093f771e","name":"TESLA"},{"parameters":{"promptType":"define","text":"=Symbol: {{ $('1 day1').item.json.meta.symbol }}\nDonnées 1d, 1H et 15 minutes:\n{{ JSON.stringify($json.data) }}\n\n\n\n\n\n","options":{"systemMessage":"=## RÔLE ET OBJECTIF\n\nTu es un trader analyste quantitatif d'élite, spécialisé dans les stratégies intraday basées sur les concepts Smart Money (Order Block, FVG, Break of Structure - BoS, Change of Character - CHoCH, flux d'ordres et liquidité).\n\nTon objectif est d'analyser les données de marché fournies pour une action spécifique et de produire un plan de trading à haute probabilité pour la prochaine session.\n\n\n\n## INSTRUCTIONS\n\nEn te basant **uniquement** sur les données fournies, suis rigoureusement les étapes suivantes :\n\n1.  **Analyse Top-Down :**\n    *   **Daily (D1) :** Détermine le biais directionnel principal (haussier/baissier) en analysant la structure des swing points, les dernières prises de liquidité et les BoS.\n    *   **Horaire (H1) :** Confirme si la structure H1 est alignée avec le biais D1. Identifie le dernier CHoCH ou BoS pertinent.\n\n2.  **Identification des Niveaux Clés :**\n    *   Identifie précisément le Plus Haut de la Veille (**PDH**) et le Plus Bas de la Veille (**PDL**).\n    *   Sur le graphique 15 minutes, localise la **zone d'intérêt (POI)** la plus pertinente et la plus \"fraîche\" (non mitigée) pour la prochaine session. Il doit s'agir d'une confluence claire entre un **Order Block (OB)** et/ou un **Fair Value Gap (FVG)**.\n\n3.  **Construction du Plan de Trading :**\n    *   Synthétise ton analyse dans un plan d'intervention clair et structuré, présenté sous forme de tableau.\n    *   Le plan doit inclure : Scénario (Achat/Vente), Point d'Entrée, Stop Loss (SL), Take Profit 1 (TP1), Take Profit 2 (TP2), et le Ratio Risque/Récompense pour TP1.\n\n4.  **Justification et Évaluation :**\n    *   Rédige une justification concise expliquant le narratif du trade, pourquoi la zone a été choisie, et la logique derrière les niveaux de SL et TP.\n    *   Termine par une évaluation de la qualité de l'opportunité sur une échelle allant de 1 a 7 étoiles\n\n## FORMAT DE REPONSE\n\n\nRéponds de manière structurée avec des emojis adaptés, ssaut de ligne, titre en gras"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-752,-352],"id":"d96c48fe-2357-49ff-95a0-0fd0c6e86e48","name":"AMAZON"},{"parameters":{"promptType":"define","text":"=Symbol: {{ $('1 day3').item.json.meta.symbol }}\nDonnées 1d, 1H et 15 minutes:\n{{ JSON.stringify($json.data) }}\n\n\n\n\n\n","options":{"systemMessage":"=## RÔLE ET OBJECTIF\n\nTu es un trader analyste quantitatif d'élite, spécialisé dans les stratégies intraday basées sur les concepts Smart Money (Order Block, FVG, Break of Structure - BoS, Change of Character - CHoCH, flux d'ordres et liquidité).\n\nTon objectif est d'analyser les données de marché fournies pour une action spécifique et de produire un plan de trading à haute probabilité pour la prochaine session.\n\n\n\n## INSTRUCTIONS\n\nEn te basant **uniquement** sur les données fournies, suis rigoureusement les étapes suivantes :\n\n1.  **Analyse Top-Down :**\n    *   **Daily (D1) :** Détermine le biais directionnel principal (haussier/baissier) en analysant la structure des swing points, les dernières prises de liquidité et les BoS.\n    *   **Horaire (H1) :** Confirme si la structure H1 est alignée avec le biais D1. Identifie le dernier CHoCH ou BoS pertinent.\n\n2.  **Identification des Niveaux Clés :**\n    *   Identifie précisément le Plus Haut de la Veille (**PDH**) et le Plus Bas de la Veille (**PDL**).\n    *   Sur le graphique 15 minutes, localise la **zone d'intérêt (POI)** la plus pertinente et la plus \"fraîche\" (non mitigée) pour la prochaine session. Il doit s'agir d'une confluence claire entre un **Order Block (OB)** et/ou un **Fair Value Gap (FVG)**.\n\n3.  **Construction du Plan de Trading :**\n    *   Synthétise ton analyse dans un plan d'intervention clair et structuré, présenté sous forme de tableau.\n    *   Le plan doit inclure : Scénario (Achat/Vente), Point d'Entrée, Stop Loss (SL), Take Profit 1 (TP1), Take Profit 2 (TP2), et le Ratio Risque/Récompense pour TP1.\n\n4.  **Justification et Évaluation :**\n    *   Rédige une justification concise expliquant le narratif du trade, pourquoi la zone a été choisie, et la logique derrière les niveaux de SL et TP.\n    *   Termine par une évaluation de la qualité de l'opportunité sur une échelle allant de 1 a 7 étoiles\n\n## FORMAT DE REPONSE\n\nRéponds de manière structurée avec des emojis adaptés, ssaut de ligne, titre en gras"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-784,976],"id":"1de2644e-9377-4556-831a-df1384961dc5","name":"NVIDIA"},{"parameters":{"promptType":"define","text":"=Symbol: {{ $('1 day4').item.json.meta.symbol }}\nDonnées 1d, 1H et 15 minutes:\n{{ JSON.stringify($json.data) }}\n\n\n\n\n\n","options":{"systemMessage":"=## RÔLE ET OBJECTIF\n\nTu es un trader analyste quantitatif d'élite, spécialisé dans les stratégies intraday basées sur les concepts Smart Money (Order Block, FVG, Break of Structure - BoS, Change of Character - CHoCH, flux d'ordres et liquidité).\n\nTon objectif est d'analyser les données de marché fournies pour une action spécifique et de produire un plan de trading à haute probabilité pour la prochaine session.\n\n\n\n## INSTRUCTIONS\n\nEn te basant **uniquement** sur les données fournies, suis rigoureusement les étapes suivantes :\n\n1.  **Analyse Top-Down :**\n    *   **Daily (D1) :** Détermine le biais directionnel principal (haussier/baissier) en analysant la structure des swing points, les dernières prises de liquidité et les BoS.\n    *   **Horaire (H1) :** Confirme si la structure H1 est alignée avec le biais D1. Identifie le dernier CHoCH ou BoS pertinent.\n\n2.  **Identification des Niveaux Clés :**\n    *   Identifie précisément le Plus Haut de la Veille (**PDH**) et le Plus Bas de la Veille (**PDL**).\n    *   Sur le graphique 15 minutes, localise la **zone d'intérêt (POI)** la plus pertinente et la plus \"fraîche\" (non mitigée) pour la prochaine session. Il doit s'agir d'une confluence claire entre un **Order Block (OB)** et/ou un **Fair Value Gap (FVG)**.\n\n3.  **Construction du Plan de Trading :**\n    *   Synthétise ton analyse dans un plan d'intervention clair et structuré, présenté sous forme de tableau.\n    *   Le plan doit inclure : Scénario (Achat/Vente), Point d'Entrée, Stop Loss (SL), Take Profit 1 (TP1), Take Profit 2 (TP2), et le Ratio Risque/Récompense pour TP1.\n\n4.  **Justification et Évaluation :**\n    *   Rédige une justification concise expliquant le narratif du trade, pourquoi la zone a été choisie, et la logique derrière les niveaux de SL et TP.\n    *   Termine par une évaluation de la qualité de l'opportunité sur une échelle allant de 1 a 7 étoiles\n\n## FORMAT DE REPONSE\n\nRéponds de manière structurée avec des emojis adaptés, ssaut de ligne, titre en gras"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-800,1584],"id":"d024ceac-e2b6-4f6f-9ba7-fbcf3c9c8123","name":"MICROSOFT"},{"parameters":{"folderId":"1LfM2lzP7-ASqXto8HdyOSe_2cRqc2dEc","title":"={{ $now }}-{{ $('1 day').item.json.meta.symbol }}\n"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[272,-992],"id":"dcba2df1-58f2-40b2-ae2d-1a0a78833ac8","name":"Create a document","credentials":{"googleDocsOAuth2Api":{"id":"nYOY5yU07rvlYs09","name":"Misterh.shop (DOCS)"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Edit Fields').item.json.output }}\n"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[432,-992],"id":"ded648d1-e26c-44be-8d20-97c7b598baf9","name":"Update a document","credentials":{"googleDocsOAuth2Api":{"id":"nYOY5yU07rvlYs09","name":"Misterh.shop (DOCS)"}}},{"parameters":{"folderId":"1LfM2lzP7-ASqXto8HdyOSe_2cRqc2dEc","title":"={{ $now }}- {{ $('1 day1').item.json.meta.symbol }}\n"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[272,-336],"id":"5145b4b2-4704-4f2d-9e6c-3d308cbbdbb5","name":"Create a document1","credentials":{"googleDocsOAuth2Api":{"id":"nYOY5yU07rvlYs09","name":"Misterh.shop (DOCS)"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Edit Fields1').item.json.output }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[448,-336],"id":"c70582ae-04b6-42fd-83e0-2df1d67d7440","name":"Update a document1","credentials":{"googleDocsOAuth2Api":{"id":"nYOY5yU07rvlYs09","name":"Misterh.shop (DOCS)"}}},{"parameters":{"folderId":"1LfM2lzP7-ASqXto8HdyOSe_2cRqc2dEc","title":"={{ $now }}- {{ $('1 day2').item.json.meta.symbol }}\n"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[304,320],"id":"4e9a6a3c-8db9-4ddf-afb5-464323128b51","name":"Create a document2","credentials":{"googleDocsOAuth2Api":{"id":"nYOY5yU07rvlYs09","name":"Misterh.shop (DOCS)"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Edit Fields2').item.json.output }}\n"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[496,320],"id":"1e2a9150-fdb4-4e4e-a9cc-64c0ad40bb17","name":"Update a document2","credentials":{"googleDocsOAuth2Api":{"id":"nYOY5yU07rvlYs09","name":"Misterh.shop (DOCS)"}}},{"parameters":{"folderId":"1LfM2lzP7-ASqXto8HdyOSe_2cRqc2dEc","title":"={{ $now }}- {{ $('1 day3').item.json.meta.symbol }}\n"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[256,976],"id":"c7febaa8-e42c-4bb8-a111-215701ebb265","name":"Create a document3","credentials":{"googleDocsOAuth2Api":{"id":"nYOY5yU07rvlYs09","name":"Misterh.shop (DOCS)"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Edit Fields3').item.json.output }}\n"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[448,976],"id":"df3b3fce-a9c6-4f26-8ad9-783fad4cb543","name":"Update a document3","credentials":{"googleDocsOAuth2Api":{"id":"nYOY5yU07rvlYs09","name":"Misterh.shop (DOCS)"}}},{"parameters":{"folderId":"1LfM2lzP7-ASqXto8HdyOSe_2cRqc2dEc","title":"={{ $now }}- {{ $('1 day4').item.json.meta.symbol }}\n"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[288,1568],"id":"dee7a25d-cd75-4e77-961a-99f120fe913c","name":"Create a document4","credentials":{"googleDocsOAuth2Api":{"id":"nYOY5yU07rvlYs09","name":"Misterh.shop (DOCS)"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Edit Fields4').item.json.output }}\n"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[464,1568],"id":"d22d803a-f1d6-48a8-89b6-d74cae416e91","name":"Update a document4","credentials":{"googleDocsOAuth2Api":{"id":"nYOY5yU07rvlYs09","name":"Misterh.shop (DOCS)"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-976,-992],"id":"81997838-f56d-4ecf-91df-b65fb734930b","name":"Aggregate"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-976,-352],"id":"9fa77018-4d28-4f83-96bb-79879ca75819","name":"Aggregate1"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-976,320],"id":"c4a0acc6-3cc5-42a2-bc81-87f1db3627c9","name":"Aggregate2"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-992,976],"id":"d4e2124c-2be5-4a9e-9053-dae8e8b3649e","name":"Aggregate3"},{"parameters":{"promptType":"define","text":"=Symbol: {{ $('1 day2').item.json.meta.symbol }}\nDonnées 1d, 1H et 15 minutes:\n{{ JSON.stringify($json.data) }}\n\n\n\n\n\n","options":{"systemMessage":"=## RÔLE ET OBJECTIF\n\nTu es un trader analyste quantitatif d'élite, spécialisé dans les stratégies intraday basées sur les concepts Smart Money (Order Block, FVG, Break of Structure - BoS, Change of Character - CHoCH, flux d'ordres et liquidité).\n\nTon objectif est d'analyser les données de marché fournies pour une action spécifique et de produire un plan de trading à haute probabilité pour la prochaine session.\n\n\n\n## INSTRUCTIONS\n\nEn te basant **uniquement** sur les données fournies, suis rigoureusement les étapes suivantes :\n\n1.  **Analyse Top-Down :**\n    *   **Daily (D1) :** Détermine le biais directionnel principal (haussier/baissier) en analysant la structure des swing points, les dernières prises de liquidité et les BoS.\n    *   **Horaire (H1) :** Confirme si la structure H1 est alignée avec le biais D1. Identifie le dernier CHoCH ou BoS pertinent.\n\n2.  **Identification des Niveaux Clés :**\n    *   Identifie précisément le Plus Haut de la Veille (**PDH**) et le Plus Bas de la Veille (**PDL**).\n    *   Sur le graphique 15 minutes, localise la **zone d'intérêt (POI)** la plus pertinente et la plus \"fraîche\" (non mitigée) pour la prochaine session. Il doit s'agir d'une confluence claire entre un **Order Block (OB)** et/ou un **Fair Value Gap (FVG)**.\n\n3.  **Construction du Plan de Trading :**\n    *   Synthétise ton analyse dans un plan d'intervention clair et structuré, présenté sous forme de tableau.\n    *   Le plan doit inclure : Scénario (Achat/Vente), Point d'Entrée, Stop Loss (SL), Take Profit 1 (TP1), Take Profit 2 (TP2), et le Ratio Risque/Récompense pour TP1.\n\n4.  **Justification et Évaluation :**\n    *   Rédige une justification concise expliquant le narratif du trade, pourquoi la zone a été choisie, et la logique derrière les niveaux de SL et TP.\n    *   Termine par une évaluation de la qualité de l'opportunité sur une échelle allant de 1 a 7 étoiles\n\n## FORMAT DE REPONSE\n\nRéponds de manière structurée avec des emojis adaptés, ssaut de ligne, titre en gras\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-768,320],"id":"3355db98-fe05-49c5-8f68-4a6681aeb86f","name":"GOOGLE"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-992,1584],"id":"02c17d04-e776-43a8-8f6c-268de503f89e","name":"Aggregate4"},{"parameters":{"assignments":{"assignments":[{"id":"5a8ee31a-741d-41d4-8356-8902b170e954","name":"output","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,-992],"id":"a88f111d-63f9-4709-8a48-9d441fd3604f","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"5a8ee31a-741d-41d4-8356-8902b170e954","name":"output","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,-336],"id":"a59a9ae8-3afa-4800-b78a-5f5ff6ef71d6","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"5a8ee31a-741d-41d4-8356-8902b170e954","name":"output","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,320],"id":"73eea8a7-ece6-46f3-ab77-ff82788c83c3","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"5a8ee31a-741d-41d4-8356-8902b170e954","name":"output","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-144,976],"id":"769edc48-c74d-4971-a213-a8b656de6c1a","name":"Edit Fields3"},{"parameters":{"assignments":{"assignments":[{"id":"5a8ee31a-741d-41d4-8356-8902b170e954","name":"output","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,1568],"id":"db83fb66-dd1d-4434-81c7-a9eeee75a38a","name":"Edit Fields4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d20903a-d8ed-4bed-8976-3436f99eace8","leftValue":"={{ $json.output }}","rightValue":"","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-320,-992],"id":"7c6fd0a9-122b-4aff-8667-3df230f2c304","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d20903a-d8ed-4bed-8976-3436f99eace8","leftValue":"={{ $json.output }}","rightValue":"","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-320,-336],"id":"4a46bc13-5752-4784-bc3a-a08ff9a72170","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d20903a-d8ed-4bed-8976-3436f99eace8","leftValue":"={{ $json.output }}","rightValue":"","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-336,320],"id":"89eed04d-dc37-48e4-8ee2-329b2fa7f49a","name":"If2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d20903a-d8ed-4bed-8976-3436f99eace8","leftValue":"={{ $json.output }}","rightValue":"","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-352,976],"id":"e6969368-184f-4141-af34-455d6fa4c678","name":"If3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d20903a-d8ed-4bed-8976-3436f99eace8","leftValue":"={{ $json.output }}","rightValue":"","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-400,1584],"id":"f90c9ed5-895a-4175-8da6-7b0e836b5d8d","name":"If4"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1936,-192],"id":"4e31cf5f-4891-4f7d-b5d0-9920e659c010","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1968,384],"id":"e8b94c32-cad1-4647-94ac-699b10682308","name":"No Operation, do nothing1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1936,1024],"id":"8e201bbb-d5ca-4ca2-895b-191b967ed3b6","name":"No Operation, do nothing2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1920,1648],"id":"27d09e95-9d5d-44de-be01-973ac315e7d8","name":"No Operation, do nothing3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1952,-928],"id":"3254a549-536e-4818-b914-fd8a91e880f0","name":"No Operation, do nothing4"},{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2240,-928],"id":"355caa1b-6ab2-438d-a433-44841638bde8","name":"Schedule Trigger"},{"parameters":{"rule":{"interval":[{"triggerAtHour":9,"triggerAtMinute":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2272,-192],"id":"d977c734-8494-4a5a-82cf-2cca19514c2b","name":"Schedule Trigger1"},{"parameters":{"rule":{"interval":[{"triggerAtHour":9,"triggerAtMinute":20}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2288,384],"id":"c7608f07-27b9-4942-9ae8-15db17a2f2bb","name":"Schedule Trigger2"},{"parameters":{"rule":{"interval":[{"triggerAtHour":9,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2272,1024],"id":"9370870a-f563-4e1d-92a7-1db5f8b7f57d","name":"Schedule Trigger3"},{"parameters":{"rule":{"interval":[{"triggerAtHour":9,"triggerAtMinute":40}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2240,1648],"id":"6744282a-acc3-473b-9ac1-6f3052315fe8","name":"Schedule Trigger4"}],"connections":{"1 day":{"main":[[{"node":"Merge","type":"main","index":0}]]},"1 heure":{"main":[[{"node":"Merge","type":"main","index":1}]]},"15 minutes":{"main":[[{"node":"Merge","type":"main","index":2}]]},"1 day1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"1 heure1":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"15 minutes1":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"1 day2":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"1 heure2":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"15 minutes2":{"main":[[{"node":"Merge2","type":"main","index":2}]]},"1 day3":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"1 heure3":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"15 minutes3":{"main":[[{"node":"Merge3","type":"main","index":2}]]},"1 day4":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"1 heure4":{"main":[[{"node":"Merge4","type":"main","index":1}]]},"15 minutes4":{"main":[[{"node":"Merge4","type":"main","index":2}]]},"Merge":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"TESLA","type":"ai_languageModel","index":0},{"node":"AMAZON","type":"ai_languageModel","index":0},{"node":"GOOGLE","type":"ai_languageModel","index":0},{"node":"NVIDIA","type":"ai_languageModel","index":0},{"node":"MICROSOFT","type":"ai_languageModel","index":0}]]},"Merge1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"Aggregate3","type":"main","index":0}]]},"Merge4":{"main":[[{"node":"Aggregate4","type":"main","index":0}]]},"TESLA":{"main":[[{"node":"If","type":"main","index":0}]]},"Create a document":{"main":[[{"node":"Update a document","type":"main","index":0}]]},"Create a document1":{"main":[[{"node":"Update a document1","type":"main","index":0}]]},"AMAZON":{"main":[[{"node":"If1","type":"main","index":0}]]},"Create a document2":{"main":[[{"node":"Update a document2","type":"main","index":0}]]},"Create a document3":{"main":[[{"node":"Update a document3","type":"main","index":0}]]},"NVIDIA":{"main":[[{"node":"If3","type":"main","index":0}]]},"Create a document4":{"main":[[{"node":"Update a document4","type":"main","index":0}]]},"MICROSOFT":{"main":[[{"node":"If4","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"TESLA","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"AMAZON","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"GOOGLE","type":"main","index":0}]]},"Aggregate3":{"main":[[{"node":"NVIDIA","type":"main","index":0}]]},"GOOGLE":{"main":[[{"node":"If2","type":"main","index":0}]]},"Aggregate4":{"main":[[{"node":"MICROSOFT","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Create a document","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Create a document1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Create a document2","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Create a document3","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Create a document4","type":"main","index":0}]]},"If":{"main":[[{"node":"TESLA","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"If1":{"main":[[{"node":"AMAZON","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"If2":{"main":[[{"node":"GOOGLE","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"If3":{"main":[[{"node":"NVIDIA","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}]]},"If4":{"main":[[{"node":"MICROSOFT","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"1 day1","type":"main","index":0},{"node":"1 heure1","type":"main","index":0},{"node":"15 minutes1","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"1 day2","type":"main","index":0},{"node":"1 heure2","type":"main","index":0},{"node":"15 minutes2","type":"main","index":0}]]},"No Operation, do nothing2":{"main":[[{"node":"1 day3","type":"main","index":0},{"node":"1 heure3","type":"main","index":0},{"node":"15 minutes3","type":"main","index":0}]]},"No Operation, do nothing3":{"main":[[{"node":"1 day4","type":"main","index":0},{"node":"1 heure4","type":"main","index":0},{"node":"15 minutes4","type":"main","index":0}]]},"No Operation, do nothing4":{"main":[[{"node":"1 day","type":"main","index":0},{"node":"1 heure","type":"main","index":0},{"node":"15 minutes","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"No Operation, do nothing4","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Schedule Trigger3":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Schedule Trigger4":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"223e7c63-23ef-447c-9d10-d6db65393590","triggerCount":0,"tags":[]}