agent-ia-analyste-action-dEBC3yUhm2YQbqEu.json

{"createdAt":"2025-05-07T05:11:56.248Z","updatedAt":"2025-08-02T16:35:03.000Z","id":"dEBC3yUhm2YQbqEu","name":"Agent IA Analyste Action","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"https://api.twelvedata.com/time_series","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"={{ $json.body.symbol }}"},{"name":"apikey","value":"ee6a290787f341849d49e5b7110b63c1"},{"name":"outputsize","value":"50"},{"name":"interval","value":"1h"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1056,-208],"id":"e1b312d0-677a-4ae8-8fed-c3bca5cfa690","name":"1 heure","credentials":{"httpHeaderAuth":{"id":"uXRODXG8NpT6OfB3","name":"Header Auth account"}}},{"parameters":{"url":"https://api.twelvedata.com/time_series","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"={{ $json.body.symbol }}"},{"name":"apikey","value":"ee6a290787f341849d49e5b7110b63c1"},{"name":"outputsize","value":"50"},{"name":"interval","value":"15min"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1056,-400],"id":"8fea5e6b-1316-4c4d-b1d9-1c65aa24cc2f","name":"15 minutes","credentials":{"httpHeaderAuth":{"id":"uXRODXG8NpT6OfB3","name":"Header Auth account"}}},{"parameters":{"url":"https://api.twelvedata.com/time_series","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"={{ $json.body.symbol }}"},{"name":"apikey","value":"ee6a290787f341849d49e5b7110b63c1"},{"name":"outputsize","value":"50"},{"name":"interval","value":"1min"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1056,-608],"id":"4514bd39-94d5-4958-ad1b-9419845d839f","name":"1 minute","credentials":{"httpHeaderAuth":{"id":"uXRODXG8NpT6OfB3","name":"Header Auth account"}}},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-752,-416],"id":"f4acef39-e10e-4b33-a10a-25b1374b3015","name":"Merge"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-544,-400],"id":"934912e6-860d-442b-808a-cc52a1c8fc8f","name":"Aggregate"},{"parameters":{"jsCode":"//Rassembler tous les éléments d'entrée dans un tableau\n  const allCandles = items.map(item => item.json);\n// Retourner un seul objet avec la clé 'allCandles'\nreturn [\n  {\n    json: {\n      allCandles\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-336,-400],"id":"09668f2e-dddc-473e-9f01-a85202580e12","name":"Code"},{"parameters":{"url":"https://newsapi.org/v2/everything","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $json.body.symbol }}"},{"name":"apiKey","value":"7b78d57dbcbb4ea5bebeaed64f5a082a"},{"name":"from","value":"={{ new Date(Date.now() - 3 * 24 * 60 * 60 * 1000).toISOString().split('T')[0] }}"},{"name":"sortBy","value":"popularity"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1056,160],"id":"28270308-9e77-4844-8086-fb2cf34e056e","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"16Sp9YLnTnqbOAY2","name":"News API"}}},{"parameters":{"promptType":"define","text":"=#ROLE\nTu es un analyste très intelligent et minutieux spécialisé dans l'analyse des marchés des cryptomonnaies et dans l’analyse des sentiments des textes et articles publiés.\n\n#OBJECTIF\nTon objectif est d’analyser les données des marchés des cryptomonnaies et de lire les articles qui te seront envoyés pour faire une analyse des sentiments à court terme et à long terme.\n\n#CONTEXT\nTu travailles pour un grand fonds d’investissement qui investit une somme considérable d’argent dans les cryptomonnaies avec l’épargne des clients. Étant donné le risque élevé associé à ces investissements, il est crucial d’être sérieux et minutieux dans tes analyses pour guider les décisions d’investissement.\n\n#SOP/POP\n1. Analyse à Court Terme :\n\nÉvaluer l’impact immédiat des nouvelles récentes sur le marché et la volatilité technique.\n\nDéterminer le sentiment du marché comme “Positif”, “Neutre”, ou “Négatif”.\n\nCalculer un score numérique entre -1 et 1.\n\nJustifier le sentiment à court terme en fournissant une réponse détaillée.\n\n2. Analyse à Long Terme :\n\nExaminer les perspectives globales du marché, les fondamentaux, et les facteurs réglementaires ou macroéconomiques.\n\nCatégoriser le sentiment à long terme comme “Positif”, “Neutre”, ou “Négatif”.\n\nCalculer un score numérique entre -1 et 1.\n\nJustifier le sentiment à long terme avec une explication concise.\n\n#INSTRUCTIONS\n\nSois précis et détaillé dans tes analyses.\n\nÉvite l’utilisation d’emojis et de markdown.\n\nPrésente les informations de manière directe et factuelle.\n\nN’utilise pas de sous-agents, car tu n’en as pas à ta disposition.\n\n#OUTILS\nTu n’as pas d’outils spécifiques à utiliser pour cette tâche.\n\n#EXEMPLES\n\nEntrée :\nAnalyse le sentiment du marché suite à l’annonce de l’adoption réglementaire du Bitcoin par plusieurs pays.\n\nSortie :\n{\n  \"shortTermSentiment\": {\n    \"category\": \"Positive\",\n    \"score\": 0.7,\n    \"rationale\": \"Le marché réagit positivement à l’annonce de l’adoption réglementaire du Bitcoin par plusieurs pays. Les indicateurs techniques montrent une hausse des volumes d’échange.\"\n  },\n  \"longTermSentiment\": {\n    \"category\": \"Neutral\",\n    \"score\": 0.1,\n    \"rationale\": \"Malgré des fondamentaux solides (adoption institutionnelle), les incertitudes macroéconomiques (inflation, taux d’intérêt) tempèrent l’optimisme à long terme.\"\n  }\n}\n\nExemple de format à utiliser :\n\n{\n  \"shortTermSentiment\": {\n    \"category\": \"\",\n    \"score\": null,\n    \"rationale\": \"\"\n  },\n  \"longTermSentiment\": {\n    \"category\": \"\",\n    \"score\": null,\n    \"rationale\": \"\"\n  }\n}\n\n#NOTES\nTon analyse doit être basée sur des données et des faits concrets.\n\nRappelle-toi que ton travail a un impact direct sur les décisions d’investissement d’un grand fonds d’investissement.\n\nTon analyse aidera à naviguer dans le marché volatil des cryptomonnaies, donc l’exactitude et la minutie sont primordiales.\n\n#Contenu à utiliser\nUtilise ce texte pour faire ton travail :{{ JSON.stringify($json.articles) }}\n\n\n","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-848,160],"id":"2cfbd7e2-3483-4b1c-868f-a2289c374fd5","name":"Basic LLM Chain"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-928,368],"id":"98ec6047-5387-4cd2-ac26-8d0df3ab8506","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"dvW7sOBx2nN3N5iu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-112,-240],"id":"81b22bed-d781-4fb9-bbf8-5bbaefd082a7","name":"Merge1"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[96,-240],"id":"cb26e96f-8735-4a6c-b503-34778ad1cd30","name":"Aggregate1"},{"parameters":{"promptType":"define","text":"=#ROLE\nTu es un excellent analyste de marché crypto et d’analyse de sentiment, ton rôle est de donner des conseils en investissements.\n\n#OBJECTIF\nAnalyser les données de marché et les articles qui te seront envoyés pour proposer des recommandations de trading précises et pertinentes, tant pour le trading au comptant que pour le trading à effet de levier.\n\n#Données techniques : {{ JSON.stringify($json.data[0]) }}\n\n#Analyse du sentiment : {{ JSON.stringify($json.data[1]) }}\n\nIl s’agit d’un tableau JSON dont chaque élément est un chandelier pour un crypto-actif. Chaque objet présente la structure suivante :\n\nPériode : 1 min, 15 minutes ou 1 h.\n\nBougies : un tableau de valeurs dans l’ordre suivant :\n[heure d’ouverture, ouverture, plus haut, plus bas, clôture, volume, heure de clôture, volume de cotation, transactions, volume de clôture du preneur, volume de cotation d’achat du preneur, ignorer].\n\nDonnées de sentiment : à la fin du tableau JSON, une analyse du sentiment à long et à court terme est également disponible, basée sur l’actualité crypto des 7 derniers jours.\n\nRegrouper les données :\n\nRegrouper les chandeliers par unité de temps en trois groupes :\n\nDonnées à court terme : Bougies 1 min.\n\nDonnées à moyen terme : Bougies 15 min.\n\nDonnées à long terme : Bougies 1 h.\n\nAnalyser les données en détail :\n\nAnalyse à court terme :\nUtiliser les bougies 1 min (avec les informations complémentaires des bougies 1 h) pour évaluer la volatilité et déterminer les niveaux de support et de résistance à court terme.\n\nDans votre analyse, combinez les indicateurs retardés traditionnels (tels que le MACD, le RSI et DXY) pour constituer une confirmation avec des éléments d’action de prix et les prix, tels que les zones de support/résistance clés, les lignes de tendance et les modèles.\n\nConcentrez-vous sur des signaux basés sur les prix pour déterminer le sentiment immédiat du marché et les niveaux structurels.\n\nAnalyse à long terme :\nUtiliser les bougies 1 jour (et les informations pertinentes des bougies 1 heure) pour évaluer la direction générale du marché et les principales zones de support/résistance.\n\nUtiliser les lignes de tendance et les signaux de divergence à long terme, ainsi que des indicateurs retardés, pour comprendre le contexte général du marché et les potentiels changements structurels.\n\n#CONTEXT\nTu travailles pour un grand cabinet de conseil en investissement. Tes recommandations doivent être minutieuses et pertinentes car l’argent des gens est en jeu. Il est crucial d’utiliser efficacement les données de marché et les analyses de sentiment pour fournir des conseils d’investissement éclairés.\n\n#SOP\n1. Analyse des Données de Marché :\n\nRegrouper les chandeliers par unité de temps (court terme, moyen terme, long terme).\n\nPour l’analyse à court terme, utiliser les bougies 1 minute et les informations complémentaires des bougies 1 h pour évaluer la volatilité et déterminer les niveaux de support et de résistance à court terme.\n\nPour l’analyse à long terme, utiliser les bougies 1 jour et les informations pertinentes des bougies 1 heure pour évaluer la direction générale du marché.\n\n2. Décomposition de l’Analyse :\n\nSignaux Principaux : Identifier les zones de support/résistance, cassures, rebonds de lignes de tendance, divergences.\n\nIndicateurs Retardés : Utiliser MACD, RSI, OBV pour confirmer ou compléter les signaux principaux.\n\nAnalyse du Sentiment : Analyser les tendances des volumes, le sentiment du marché, et les facteurs macroéconomiques.\n\n3. Générer des Recommandations :\n\nPour chaque recommandation, spécifier l’action (achat, vente, conservation), le prix d’entrée, le seuil de stop-loss, le seuil de take profit (TP), et fournir une argumentation détaillée.\n\n#INSTRUCTIONS\nToujours baser tes recommandations sur une analyse approfondie des données et des sentiments.\n\nÉviter les conseils génériques non étayés par des données concrètes.\n\nNe pas utiliser d’outils externes non mentionnés dans ce prompt.\n\nMaintenir une communication claire et concise dans tes recommandations.\n\n#EXEMPLES\nSpot Recommendations :\n\nShort-term :\n\nAction : Achat\n\nEntry Price : $10,000\n\nStop Loss : $9,500\n\nTake Profit : $11,000\n\nRationale : La cassure au-dessus de la résistance à $9,800 avec un volume élevé et un sentiment de marché positif suggère une poursuite de la hausse.\n\nPrimary Signals : Cassure de la résistance\n\nLagging Indicators : MACD en hausse\n\nSentiment Analysis : Sentiment positif sur les réseaux sociaux\n\nLeveraged Recommendations :\n\nShort-term :\n\nPosition : Longue\n\nLeverage : 3x\n\nEntry Price : $10,000\n\nStop Loss : $9,600\n\nTake Profit : $11,000\n\nRationale : Support solide à $9,800 et divergence positive RSI indiquant un potentiel de hausse.\n\nPrimary Price Action Signals : Support à $9,800\n\nLagging Indicator Confirmation : Divergence RSI positive\n\nSentiment & Macro Analysis : Stabilité macroéconomique\n\n#MODÈLE DE OUTPUT À UTILISER\nRecommandations Spot :\n\nCourt terme :\n\nAction : …\n\nPrix d’entrée : …\n\nStop Loss : …\n\nTake Profit : …\n\nJustification : …\n\nSignaux d'action principaux : …\n\nConfirmation de l'indicateurs retardés : …\n\nAnalyse du sentiment et macroéconomique : …\n\nLong terme :\n\nPosition : ...\n\nEffet de levier : …\n\nEntrée prix : …\n\nStop Loss : …\n\nTake Profit : …\n\nJustification : …\n\nSignaux d'action primaire : …\n\nConfirmation de l'indicateurs retardés : …\n\nSentiment et analyse macroéconomique : …\n\n#NOTES\nLe ton doit être professionnel et informatif.\n\nLes recommandations doivent être claires, précises et basées sur des analyses détaillées.\n\nÉviter le jargon complexe sans explications pour le rendre accessible aux investisseurs de tous niveaux.\n\n\n\n\n\n\n","needsFallback":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[304,-240],"id":"29c96287-c3e7-40d4-a35e-cded82a9e613","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-pro","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[176,-32],"id":"1054f9e6-034c-4da9-bee3-52db52ff0580","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"dvW7sOBx2nN3N5iu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[368,-16],"id":"b3d2be96-c228-41bc-a627-b9ffbf86a09c","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"dvW7sOBx2nN3N5iu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"httpMethod":"POST","path":"send_action","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1424,-640],"id":"1586080c-ec52-4d97-82e7-a082f564ede4","name":"Webhook","webhookId":"927ababb-f7dc-4389-ab4d-e2e9bb2782cb"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1424,-240],"id":"fb1e74c0-9acf-4869-ad38-ddb82a66b236","name":"Respond to Webhook"},{"parameters":{"promptType":"define","text":"=Résume ce texte en 100 mots maximum avec les informations les plus importantes:  {{ $json.output }}","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[736,-240],"id":"4c385955-82c4-4148-8b1c-900c5d0b1aff","name":"Basic LLM Chain1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[720,-32],"id":"7b09dd00-0ce8-49eb-bc6e-2c0b5fc0e5f3","name":"Google Gemini Chat Model3","credentials":{"googlePalmApi":{"id":"dvW7sOBx2nN3N5iu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      text: $node[\"Basic LLM Chain1\"].json.text,\n      detailed: $node[\"AI Agent\"].json.output\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,-240],"id":"c724c567-6db0-4466-966b-f29c0eda99a2","name":"Code1"}],"connections":{"1 heure":{"main":[[{"node":"Merge","type":"main","index":2}]]},"1 minute":{"main":[[{"node":"Merge","type":"main","index":0}]]},"15 minutes":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Code","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Code":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":1}]]},"Webhook":{"main":[[{"node":"1 minute","type":"main","index":0},{"node":"15 minutes","type":"main","index":0},{"node":"1 heure","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Code1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0ff77549-cc6b-45ea-b5ec-0e3def38ee3a","triggerCount":1,"tags":[]}