agent-gmail-ludo---app-mobile-Zg6uXkG2yiaySjb6.json

{"createdAt":"2025-05-14T13:16:26.916Z","updatedAt":"2025-07-31T14:01:13.000Z","id":"Zg6uXkG2yiaySjb6","name":"Agent Gmail Ludo - app mobile","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $('Message_construct').item.json['le message'] }}","options":{"systemMessage":"=# Rôle\nTu es l'assistant personnel de Ludo. Ton rôle est de gérer et de récupérer des informations de ses boites mail. Voici la date et l'heure du jour : {{ $now }}\n\nLe champ mailAccount vaut \"{{ $('Main_agent AI').item.json.body.mailAccount }}\".\n\n— Si la valeur est \"compte1\", tu dois utiliser EXCLUSIVEMENT les tools recupMails, lireMail, DeleteMail.  \n— Si la valeur est \"compte2\", tu dois utiliser EXCLUSIVEMENT les tools recupMails1, lireMail1, DeleteMail1.\n\n# Instructions\n## Gestion des contacts\nUtilise Google Contacts pour récupérer les adresse mail de contacts\n\n## Gestion des mails\nUtilise le tool recupMails pour récuperer la liste des mails \nimportant: - Pour le champ \"sender\" du tableau JSON, prends la valeur de son champ `From`. EXTRAIS L'ADRESSE EMAIL SEULE DE CE CHAMP `From`.\n\nUtilise le tool lireMail pour lire à l'utilisateur un mail en particulier. Avant cela, utilise  l'ID du mail donné par l'utilisateur. Retourne le mail dans son entièreté, dans sa langue d'origine, sans aucune modification et sans poser de question.\n\n\nPour répondre à un mail :\n1. Utilise d’abord le tool lireMail pour récupérer le contenu du message original (id fourni).\n2. Lis attentivement ce contenu.\n3. ** IMPORTANT ** Rédige une réponse a ce mail de manière adaptée, claire  et avec toutes les formules de politesse (50-100 mots), en tenant compte des instructions spécifiques fournies. Utilise le tool Think pour que ta réponse soit plus récise.\n4. Retourne uniquement le texte de la réponse, sans balises Markdown, sans notification, sans métadonnées. Important: N'inclus aucune phrase supplémentaire comme \"je vais répondre au mail\". Le texte sera parsé et envoyé directement au déstinataire.\n\n \n    \n\nUtilise le tool DeleteMail pour effacer un mail. Utilise l'ID du mail que l'utilisateur veut effacer.\n\n\n\n# Règles\nQuand tu exécutes la commande « Récupère mes mails », réponds **EXCLUSIVEMENT** par un tableau JSON\n(et rien d’autre) : pas de texte avant ou après, pas de retour à la ligne supplémentaire, \net surtout **aucune balise Markdown** de type ``` ou ```json.\n\n[\n  {\n    \"id\": \"<ID Gmail>\",\n    \"sender\": \"<Expéditeur>\",\n    \"subject\": \"<Objet du mail>\",\n    \"summary\": \"<Résume le mail de facon concise et en français>\"\n  },\n  …\n]\n\nAucun emoji, aucune phrase supplémentaire.\nLe tableau peut contenir jusqu’à 20 éléments, triés du plus récent au plus ancien.\n\n# Exemple attendu\n\n[\n  {\n    \"id\": \"18b0a6be4b5d2f4a\",\n    \"sender\": \"Google Sécurité\",\n    \"subject\": \"Nouvelle connexion détectée sur Windows – vérifie que c'était toi\"\n    \"summary\":\"résumé du mail\"\n  },\n  {\n    \"id\": \"18b09fd79d4c6a3d\",\n    \"sender\": \"Nick · RSS.app\",\n    \"subject\": \"Ton résumé d’actualités est prêt – de nouveaux articles t’attendent\"\n    \"summary\":\"résumé du mail\"\n  },\n  {\n    \"id\": \"18b09f6a8c3b1e2f\",\n    \"sender\": \"RSS.app\",\n    \"subject\": \"Confirme ton adresse email pour finaliser ton inscription\"\n    \"summary\":\"résumé du mail\"\n  }\n]\n\n# Règles agenda\nQuand tu exécutes la commande « Récupère mes évènements » (ou toute question sur l’agenda),\nréponds **EXCLUSIVEMENT** par un tableau JSON, sans phrase d’introduction, au format :\n\n[\n  {\n    \"id\": \"<ID Calendar>\",       // id ou iCal UID de l’évènement\n    \"title\": \"<Titre>\",          // titre court : max 60 car.\n    \"start\": \"YYYY-MM-DDTHH:MM:SS±HH:MM\",  // date ISO 8601 complète\n    \"end\":   \"YYYY-MM-DDTHH:MM:SS±HH:MM\",\n    \"description\": \"<Résumé d’une ligne ou vide>\"\n  },\n  …\n]\n\nAucun emoji, pas de texte hors JSON.\nLimite-toi aux évènements compris dans la plage demandée (max 20).\n\n# Exemple attendu\n\n[\n  {\n    \"id\": \"6rq5a4jknc8u0vdbvhlj3\",\n    \"title\": \"Miracle Fajr Routine\",\n    \"start\": \"2025-05-16T05:00:00+02:00\",\n    \"end\":   \"2025-05-16T06:00:00+02:00\",\n    \"description\": \"Tahajjud et lecture du Quran\"\n  },\n  {\n    \"id\": \"22sgqdv5iq7uc7tcrfkbp\",\n    \"title\": \"Regarder un documentaire\",\n    \"start\": \"2025-05-16T21:00:00+02:00\",\n    \"end\":   \"2025-05-16T22:30:00+02:00\",\n    \"description\": \"\"\n  },\n  {\n    \"id\": \"7uc469t6gk4jci0nrk3ib\",\n    \"title\": \"Weekly Reset\",\n    \"start\": \"2025-05-16T22:30:00+02:00\",\n    \"end\":   \"2025-05-16T23:45:00+02:00\",\n    \"description\": \"Bilan des objectifs et planification\"\n  }\n]\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1040,-272],"id":"b9201db0-f556-40ca-ae84-6ddf9a8aa6fa","name":"AI Agent"},{"parameters":{"descriptionType":"manual","toolDescription":"Utilise ce tool pour lire à l'utilisateur un mail en particulier. Retourne le mail dans son entièreté, dans sa langue d'origine et sans aucune modification.","operation":"get","messageId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', `L'ID du mail donné par l'utilisateur.`, 'string') }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1056,-48],"id":"b5f57071-9e5c-4a60-844a-bbd8903c5157","name":"lireMail","webhookId":"6e42090e-ac11-4302-a6b4-7e1a2780a855","credentials":{"gmailOAuth2":{"id":"b5BjrbVHHWpFUvVV","name":"Misterh.shop (GMAIL)"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Utilise cet outil pour récupérer les événements du calendrier de l'utilisateur. Aucun paramètre requis.","operation":"getAll","calendar":{"__rl":true,"value":"misterh.shop@gmail.com","mode":"list","cachedResultName":"misterh.shop@gmail.com"},"limit":10,"timeMin":"={{ $fromAI('After', `La date et l'heure les plus anciennes à partir desquelles nous voulons rechercher des événements`, 'string') }}","timeMax":"={{ $fromAI('Before', `La date et l'heure les plus récentes à partir desquelles nous voulons rechercher des événements`, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[32,-608],"id":"914b1add-bf29-468b-a8b4-8cc269b20cb9","name":"recupEvents","credentials":{"googleCalendarOAuth2Api":{"id":"HlOfhFafPrAJWtAa","name":"Misterh.shop (CALENDAR)"}}},{"parameters":{"operation":"getAll","limit":10,"filters":{"q":"category:primary  is:unread"}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[960,-48],"id":"1d034c91-be87-4eed-ab99-dc2962a68ce2","name":"recupMails","webhookId":"dcdcb77d-fde7-4da7-b746-c6987ea7d84e","credentials":{"gmailOAuth2":{"id":"b5BjrbVHHWpFUvVV","name":"Misterh.shop (GMAIL)"}}},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[816,-48],"id":"b9d4b7c6-707c-4a1c-b57d-e6d24854a1b1","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"dvW7sOBx2nN3N5iu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"operation":"delete","messageId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1184,-48],"id":"802b0ba7-ca64-4f91-a5d0-203e64979c6d","name":"DeleteMail","webhookId":"ef967e99-2f9e-4ff2-b59d-bd26fb73c9ef","credentials":{"gmailOAuth2":{"id":"b5BjrbVHHWpFUvVV","name":"Misterh.shop (GMAIL)"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1856,-272],"id":"f25cc68d-6d51-41f1-a75f-aa1ac415af4d","name":"Respond to Webhook"},{"parameters":{"jsCode":"// 1) Récupère l’objet JSON complet\nconst msg = items[0].json;\n\n// 2) Métadonnées\nconst subject = msg.Subject     || 'Sans sujet';\nconst from    = msg.From        || msg.from?.text || 'Expéditeur inconnu';\n\n// 3) Chercher le HTML ou le texte brut\nlet htmlBody = '';\n\n// 3a) Cas où payload.parts existe\nif (msg.payload?.parts) {\n  function traverse(parts) {\n    for (const p of parts) {\n      if (p.mimeType === 'text/html' && p.body?.data) {\n        htmlBody = Buffer.from(p.body.data, 'base64').toString('utf8');\n        return;\n      }\n      if (p.parts) {\n        traverse(p.parts);\n        if (htmlBody) return;\n      }\n    }\n  }\n  traverse(msg.payload.parts);\n}\n\n// 3b) Sinon, cas où nœud Gmail a directement renvoyé textAsHtml\nif (!htmlBody && msg.textAsHtml) {\n  htmlBody = msg.textAsHtml;\n}\n\n// 3c) Sinon, on tombe sur text brut\nif (!htmlBody && msg.text) {\n  htmlBody = msg.text.replace(/\\r?\\n/g, '<br>');\n}\n\n// 3d) Fallback\nif (!htmlBody) {\n  htmlBody = '(corps vide)';\n}\n\n// 4) Construire le HTML de sortie - MODIFIÉ ICI (TOUT SUR UNE LIGNE)\nconst outHtml = `<style>h3.mail-subject,p.mail-sender{margin-block-start:0.2em;margin-block-end:0.2em;}hr.mail-divider{margin-top:0.3em;margin-bottom:0.5em;}</style><h3 class=\"mail-subject\">${subject}</h3><p class=\"mail-sender\"><b>De :</b> ${from}</p><hr class=\"mail-divider\">${htmlBody}`.trim();\n\n// 5) Retourne l’HTML prêt à afficher dans l’app\nreturn [\n  {\n    json: {\n      html: outHtml\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[144,432],"id":"afe657a9-a928-4598-9e1e-92f99c144739","name":"Code1"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[368,432],"id":"56bf383b-224e-4344-8d58-151fa3e723bd","name":"Respond to Webhook1"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1600,240],"id":"f2d9fe21-0561-4ae1-85bc-e64602aa1e12","name":"Respond to Webhook2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5b2051f2-ab34-4ec2-b704-b479155bba03","leftValue":"={{ $('Main_agent AI').item.json.body.replyInstructions }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1392,-272],"id":"bc469f7a-5c83-446d-9280-e0ec52903049","name":"If"},{"parameters":{"jsCode":"return [{\n  json: {\n    // Corps du mail tel que renvoyé par l’IA\n    mailBody:   $json.output || $json.message,\n    // Alias `message` pour rester compatible avec ton app Flutter\n    message:    $json.output || $json.message,\n    // Provenant directement du Webhook (body)\n    recipientEmail:  $items(\"Main_agent AI\")[0].json.body.recipientEmail,\n    originalSubject: $items(\"Main_agent AI\")[0].json.body.originalSubject,\n    originalMailId:  $items(\"Main_agent AI\")[0].json.body.originalMailId,\n  }\n}];\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1616,-352],"id":"e0659624-6e64-4828-bd8c-70747e9366d3","name":"If_reply_to_mail"},{"parameters":{"jsCode":"const raw = items[0].json.output;\n\n/* ─── 1. tableau déjà parsé ───────────────────────────── */\nif (Array.isArray(raw)) {\n  return raw.map(r => ({ json: r }));          // [{json},{json}…]\n}\n\n/* ─── 2. chaîne (peut être entourée de ```json … ```) ─── */\nif (typeof raw === 'string') {\n  // enlève les balises Markdown éventuelles\n  const cleaned = raw.replace(/```json|```/g, '').trim();\n\n  // chaîne = tableau JSON → on le renvoie item par item\n  if (cleaned.startsWith('[')) {\n    try {\n      const arr = JSON.parse(cleaned);\n      if (Array.isArray(arr)) {\n        return arr.map(r => ({ json: r }));\n      }\n    } catch (_) { /* ignore, tombera au cas 3 */ }\n  }\n\n  // ─── 3. simple phrase (confirmation suppression) ───\n  return [{ json: { message: cleaned } }];\n}\n\n/* ─── 4. format inattendu ─── */\nreturn [{ json: { message: 'Format non reconnu' } }];\n\n\n\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1616,-208],"id":"309a729a-e586-49ad-b54f-10fa4d81a829","name":"Other"},{"parameters":{"description":"Utilise ce tool pour vérifier la rédaction de ta réponse, savoir si elle est adaptée, claire et avec toutes les formules de politesse (50-100 mots), en tenant compte des instructions spécifiques fournies.\nVérifie égalementque la réponse n'inclue aucune phrase supplémentaire comme \"je vais répondre au mail\" car le texte sera parsé et envoyé directement au destinataire."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[1936,-48],"id":"44474600-96b9-4012-9b05-fb23c7750159","name":"Think"},{"parameters":{"httpMethod":"POST","path":"agent-gmail/mobile-read-mail","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-480,432],"id":"50a58983-3854-4ecc-9d86-d1c1af05f53f","name":"Read_Mail","webhookId":"6482dbd2-dd24-4eca-a4c3-cca13714781a"},{"parameters":{"httpMethod":"POST","path":"/agent-gmail/send","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1248,240],"id":"3d319bc3-581d-445b-be28-c9f4b26117ce","name":"Send_Mail","webhookId":"2c32a28c-9fcf-4aba-a554-1016de6c8e1b"},{"parameters":{"httpMethod":"POST","path":"agent-gmail/start","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[144,-272],"id":"d17051ca-ee7b-4705-a010-f23fde7f1d96","name":"Main_agent AI","webhookId":"a3a224a0-d952-4d2f-ab82-cbdf66564946"},{"parameters":{"assignments":{"assignments":[{"id":"c63d2a0a-cb43-4ea3-984a-5ab26b7b3716","name":"le message","value":"={{ $json.body.intent == \"replyToEmail\" ? \"Réponds au mail avec l'ID \" + $json.body.originalMailId + \". Les instructions de Ludo pour rédiger le message sont : '\" + $json.body.replyInstructions + \"'\" : $json.body.message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,-272],"id":"bd865936-553d-4bba-9295-c25fd58e1dc6","name":"Message_construct"},{"parameters":{"httpMethod":"POST","path":"/agent-gmail/edit-reply","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[784,416],"id":"56e26c8f-6d9e-4d14-ad5f-0c366bfe6b61","name":"Edit_Reply","webhookId":"8dcfd131-5611-4312-9f04-f7328cec2463"},{"parameters":{"assignments":{"assignments":[{"id":"4bb30655-1911-43d9-8691-f63055d663fa","name":"recipientEmail","value":"={{$json.body.recipientEmail}}","type":"string"},{"id":"7e33593f-98e8-4a25-8fa9-6be14adb3f46","name":"originalSubject","value":"={{$json.body.originalSubject}}","type":"string"},{"id":"835115c6-293e-4484-bfc6-b69e928234a4","name":"originalMailId","value":"={{$json.body.originalMailId}}","type":"string"},{"id":"fd17a18f-9475-4d9e-8ca6-7441db2450bc","name":"existingDraft","value":"={{$json.body.existingDraft}}","type":"string"},{"id":"d60c0968-52cf-484b-a06f-7ae6c0cd1dd9","name":"replyInstructions","value":"={{$json.body.replyInstructions}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,416],"id":"96d4ead5-95d3-49c3-b920-94b89719c2b8","name":"Set Edit Reply Prompt"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-04-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1072,608],"id":"28814bd9-8122-4827-b12d-6fdaf04809e9","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"dvW7sOBx2nN3N5iu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1600,416],"id":"2e9fb8bf-6d87-4660-bb5c-65988afcbd4e","name":"Respond to Webhook3"},{"parameters":{"operation":"get","messageId":"={{ $('Edit_Reply').item.json.body.originalMailId }}","simple":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}","options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1344,608],"id":"6fc8203b-845b-449b-ace7-f12a6821b889","name":"ReadMail","webhookId":"f48306b2-dc85-4ebb-9bc8-a0e764b8902b","credentials":{"gmailOAuth2":{"id":"b5BjrbVHHWpFUvVV","name":"Misterh.shop (GMAIL)"}}},{"parameters":{"jsCode":"// Code structurer pour edit-reply\nreturn [{\n  json: {\n    // Le texte corrigé renvoyé par l’IA\n    mailBody:       $json.output || $json.message,\n    // On re-propage les mêmes métadonnées que dans le Set\n    recipientEmail: $items('Set Edit Reply Prompt')[0].json.recipientEmail,\n    originalSubject:$items('Set Edit Reply Prompt')[0].json.originalSubject,\n    originalMailId: $items('Set Edit Reply Prompt')[0].json.originalMailId,\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,416],"id":"cb8b1f73-ec4b-445c-b765-4b90ae3527ad","name":"Code"},{"parameters":{"operation":"getAll","limit":10,"filters":{"q":"category:primary  is:unread"}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1456,-48],"id":"2e6c6707-8101-48ae-9c26-c1fa71826014","name":"recupMails1","webhookId":"dcdcb77d-fde7-4da7-b746-c6987ea7d84e","credentials":{"gmailOAuth2":{"id":"zq91iKyZCMjyJP5Z","name":"Misterh06 (GMAIL)"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Utilise ce tool pour lire à l'utilisateur un mail en particulier. Retourne le mail dans son entièreté, dans sa langue d'origine et sans aucune modification.","operation":"get","messageId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', `L'ID du mail donné par l'utilisateur.`, 'string') }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1584,-48],"id":"9afcff8f-f89d-44ec-88bd-3b4c112e27a3","name":"lireMail1","webhookId":"6e42090e-ac11-4302-a6b4-7e1a2780a855","credentials":{"gmailOAuth2":{"id":"zq91iKyZCMjyJP5Z","name":"Misterh06 (GMAIL)"}}},{"parameters":{"content":"Misterh.shop","width":640},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[704,-64],"id":"ca54d84c-eef2-441f-8648-2a57cf791cb4","name":"Sticky Note"},{"parameters":{"content":"Misterh06","width":480},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1360,-64],"id":"5582e337-7509-45ae-ad70-5b1783e63459","name":"Sticky Note1"},{"parameters":{"operation":"delete","messageId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1696,-48],"id":"ebc4b10e-885f-493d-8785-fd250a680745","name":"DeleteMail1","webhookId":"ef967e99-2f9e-4ff2-b59d-bd26fb73c9ef","credentials":{"gmailOAuth2":{"id":"zq91iKyZCMjyJP5Z","name":"Misterh06 (GMAIL)"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d7cb39a-dd01-4cac-a8f2-321aa40bf644","leftValue":"={{ $json.body.mailAccount }}","rightValue":"compte1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-304,432],"id":"55be1094-fb45-4319-a584-c16c7b6b682d","name":"If1"},{"parameters":{"operation":"get","messageId":"={{ $json.body.id }}","simple":false,"options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-112,560],"id":"8ade0f6d-4fec-4a9a-b5dc-e135747670a9","name":"Gmail misterh06","webhookId":"f956bcbd-3404-4f45-93c1-ef5f12630499","credentials":{"gmailOAuth2":{"id":"zq91iKyZCMjyJP5Z","name":"Misterh06 (GMAIL)"}}},{"parameters":{"operation":"get","messageId":"={{ $json.body.id }}","simple":false,"options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-112,400],"id":"d4c265a5-7d49-4c58-8858-bd18b2370fc7","name":"Gmail misterh.shop","webhookId":"f956bcbd-3404-4f45-93c1-ef5f12630499","credentials":{"gmailOAuth2":{"id":"b5BjrbVHHWpFUvVV","name":"Misterh.shop (GMAIL)"}}},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-288,-608],"id":"6d346910-de31-41e7-ad09-97d9732f4b9d","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"dvW7sOBx2nN3N5iu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8e430eee-affd-4c06-b094-e9dee453f697","name":"=message","value":"={{ $json.body.message }}","type":"string"},{"id":"c6f3c678-3bd3-4f4a-b576-08565f01b4f0","name":"sessionId","value":"={{ $json.body.mailAccount }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-384,-784],"id":"c10f12c8-e8cf-4e16-a2fe-cdc7946bf966","name":"Edit Fields"},{"parameters":{"contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-128,-608],"id":"1806e9e9-3a96-4190-ae65-3608ccbc285e","name":"Simple Memory"},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[320,-784],"id":"4352b27f-4324-4074-809a-d1bc210fcbde","name":"Respond to Webhook4"},{"parameters":{"httpMethod":"POST","path":"agent-gmail/chat","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-544,-784],"id":"2aae28bc-bc57-4e8b-a99c-705c6ae57092","name":"Chat_page","webhookId":"a106ecc7-e5e3-4686-932f-d9f90fdc3e72"},{"parameters":{"assignments":{"assignments":[{"id":"a9d61884-b380-4f57-8105-748c2a1c95bb","name":"output","value":"={{$json.text ?? $json.output}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[144,-784],"id":"876e6a13-5ed0-4906-9720-8f395fb3749e","name":"Edit Fields1"},{"parameters":{"descriptionType":"manual","toolDescription":"Utilise cet outil pour créer un nouvel événement dans le calendrier. \nParamètres requis :\n- summary : titre de l'événement\n- startDateTime : date/heure de début (format ISO 8601)\n- endDateTime : date/heure de fin (format ISO 8601)\n- description : description de l'événement (optionnel)","calendar":{"__rl":true,"value":"misterh.shop@gmail.com","mode":"list","cachedResultName":"misterh.shop@gmail.com"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Début de l'évenement`, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `Fin de l'évenement`, 'string') }}","useDefaultReminders":false,"additionalFields":{"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `Déscription de l'évenement`, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `Titre de l'évènement`, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[224,-608],"id":"3e0ff96e-8944-4a70-800f-3c85b2fa83e3","name":"CreerEvent","credentials":{"googleCalendarOAuth2Api":{"id":"HlOfhFafPrAJWtAa","name":"Misterh.shop (CALENDAR)"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e8889b39-8f8d-485e-81c2-f482ddd2c176","leftValue":"=sendEmail","rightValue":"={{ $json.body.intent }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[384,-272],"id":"a8918fd2-7d86-4699-af5b-b745eba9c4a6","name":"If2"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[784,-576],"id":"d1fb2578-b35f-4f64-b500-bf4c62bdeb8a","name":"Google Gemini Chat Model3","credentials":{"googlePalmApi":{"id":"dvW7sOBx2nN3N5iu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"c1f63f0f-6c6e-473e-b947-d3caa63f30be","name":"prompte","value":"=Instructions :{{ $json.body.replyInstructions }} ","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,-720],"id":"b8c555ad-3901-4085-b435-01298dbd5ddb","name":"Build Prompt_sendEmail"},{"parameters":{"descriptionType":"manual","toolDescription":"Utilise cet outil  pour rechercher le nom ou prénom de la personne et récupère son adresse email","operation":"getAll","returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","limit":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}","fields":["names","nicknames","phoneNumbers","emailAddresses"],"useQuery":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Query', ``, 'boolean') }}","query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}","rawData":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('RAW_Data', ``, 'boolean') }}","options":{}},"type":"n8n-nodes-base.googleContactsTool","typeVersion":1,"position":[1440,-560],"id":"bf28409d-35a5-4bbc-9d7b-4a9fab789647","name":"Google Contacts","credentials":{"googleContactsOAuth2Api":{"id":"0te76cW7Tgz37v3T","name":"Misterh.shop (CONTACTS)"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Main_agent AI').item.json.body.mailAccount }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[960,-560],"id":"18283ec3-1756-4524-822b-f29352818047","name":"Simple Memory1"},{"parameters":{"options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1648,-720],"id":"eea49f2d-3d6a-4d45-8a03-cb06bd1e4103","name":"Respond to Webhook5"},{"parameters":{"jsCode":"// On prend le premier item en entrée\nconst text = items[0].json.output;\n\n// On renvoie un nouveau tableau avec l'objet { message: … }\nreturn [\n  {\n    json: {\n      message: text\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1232,-720],"id":"9214dd46-6933-46ce-801c-f7816654f9d1","name":"Code2"},{"parameters":{"promptType":"define","text":"={{ $json.prompte }}","options":{"systemMessage":"=Tu es l’assistant e-mail de Ludo. Réponds en français, ton message doit être clair, poli et concis.\n\nGrace au nom de la personne que t'a donné Ludo, retrouve son adresse email a l'aide du tool Google Contacts et Fichier clients.\n\n\nRédige ensuite le brouillon de l'email.\n\nVoici un exemple de rédaction complète:\n\n- Adresse email: exemple@gmail.com\n- Sujet: Demande de rendez-vous\n- Message: Bonjour, Je fais suite a votre email de ce jour. Pourrions nous prendre rendez vous dans l'apres midi pour discuter du projet. Cordialement. Ludo\n\n**IMPERATIF** Demande moi avant d'envoyer le mail de manière définitive.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[864,-720],"id":"80ed0b76-3a4f-44fc-a650-fec132efe472","name":"send_mail_to_contacts"},{"parameters":{"promptType":"define","text":"={{ $json.replyInstructions }}","options":{"systemMessage":"=Tu es l'assistant personnel de Ludo\n\n\nUtilise impérativment le tool ReadMail pour lire le message original\n\n\nTu devras corriger cette réponse de mail: {{ $json.existingDraft }}\n\nLes consignes pour modifier la réponse du mail sont uniquement:\n\n{{ $json.replyInstructions }}. Garde le reste du message intacte.\n\nVérifie également que la réponse soit adaptée, claire avec toutes les formules de politesse (50-100 mots).\n\nRetourne uniquement le message corrigé pret a être envoyé directement.\nPas de phrase comme \"voici le message du mail\".\n\n\n \n "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1088,416],"id":"c2ed79d2-2bb8-415c-b31a-46fda9e0c08d","name":"Correction_Mail"},{"parameters":{"promptType":"define","text":"={{ $('Chat_page').item.json.body.message }}","options":{"systemMessage":"=Tu es un assistant qui gère un calendrier Google. La date d'aujourd'hui et l'heure actuelle est {{$now}} Tu as accès à deux outils :\n\n1. **recupEvents** : Pour récupérer les événements du calendrier\n2. **creerEvents** : Pour créer de nouveaux événements\n\n## Règles pour récupérer les événements\n- Quand l'utilisateur demande ses événements, utilise l'outil recupEvents\n- Présente chaque événement avec son titre et une brève description\n- Format de réponse naturel, pas de JSON brut\n\n## Règles pour créer des événements  \n- Quand l'utilisateur veut créer un événement, utilise l'outil creerEvents\n- Demande les informations manquantes si nécessaire (titre, date, heure)\n- Confirme la création après l'avoir effectuée\n- Si l'utilisateur ne le precise pas l'heure de fin, l'evenement durera une heure par defaut\n\nRéponds de manière naturelle et conversationnelle."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-224,-784],"id":"85d98332-0a34-438a-b198-dc320cccdb00","name":"Calendar_Agent"},{"parameters":{"descriptionType":"manual","toolDescription":"Permet de récupérer les informations d'un contact","documentId":{"__rl":true,"value":"1ErlAI0lcXtE7r4J4zVXtq4sWVnaDQEHg3rPzZalZ6Gw","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ErlAI0lcXtE7r4J4zVXtq4sWVnaDQEHg3rPzZalZ6Gw/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[1312,-560],"id":"a1253379-fd11-4a0b-a3a4-3b005440d16f","name":"Fichier clients","credentials":{"googleSheetsOAuth2Api":{"id":"FmpMTzNAmEkSrMV1","name":"Misterh.shop (SHEET)"}}},{"parameters":{"content":"# CALENDRIER\n","height":448,"width":1200,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-704,-880],"typeVersion":1,"id":"d35b9871-e1cf-4424-a8d3-77d98b129978","name":"Sticky Note2"},{"parameters":{"content":"# LECTURE MAIL VIA ID POUR REPONSE\n## - mail sléctionné dans l'écran d'accueil de l'app\n## - ID renvoyé par l'app","height":560,"width":1312,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-672,192],"typeVersion":1,"id":"3ef9e1b7-d8a7-4a1d-8901-6c3b058b18c8","name":"Sticky Note3"},{"parameters":{"content":"# ECRAN D'ACCUEIL\n## - correction mail + envoie","height":560,"width":1184,"color":3},"type":"n8n-nodes-base.stickyNote","position":[656,192],"typeVersion":1,"id":"12046d54-d0aa-4cfc-ab50-70debe6ba01b","name":"Sticky Note4"},{"parameters":{"content":"# LECTURE DE TOUS LES MAILS NON LUS - (écran d'accueil) + REDACTION PROPOSITION MAIL","height":512,"width":2048,"color":5},"type":"n8n-nodes-base.stickyNote","position":[32,-384],"typeVersion":1,"id":"bc97d750-086f-4063-abc4-32ec9f9d7026","name":"Sticky Note5"},{"parameters":{"content":"# ECRAN \"AGENT GMAIL\" (compte misterh06)\n## - send mail / récup contacts       ","height":448,"width":1552,"color":6},"type":"n8n-nodes-base.stickyNote","position":[528,-880],"typeVersion":1,"id":"f6ac1e62-16de-48b0-9ad3-18379e951ab7","name":"Sticky Note6"},{"parameters":{"sendTo":"={{ $json.body.recipientEmail }}","subject":"={{ $json.body.subject }}","emailType":"text","message":"={{ $json.body.mailBody }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1408,240],"id":"add2a2a9-9f4b-4df6-83fc-1b6698c93675","name":"Send a message","webhookId":"d11659e4-e380-404b-b06a-f4a4ef3d9450","credentials":{"gmailOAuth2":{"id":"b5BjrbVHHWpFUvVV","name":"Misterh.shop (GMAIL)"}}},{"parameters":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","emailType":"text","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1184,-560],"id":"7e515e77-59ea-446b-bcfe-b75435a7afda","name":"Send a message in Gmail","webhookId":"15e65505-15c6-48ec-b1d3-0b039fecd8c9","credentials":{"gmailOAuth2":{"id":"zq91iKyZCMjyJP5Z","name":"Misterh06 (GMAIL)"}}}],"connections":{"lireMail":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"recupEvents":{"ai_tool":[[{"node":"Calendar_Agent","type":"ai_tool","index":0}]]},"recupMails":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"DeleteMail":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Code1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"If":{"main":[[{"node":"If_reply_to_mail","type":"main","index":0}],[{"node":"Other","type":"main","index":0}]]},"If_reply_to_mail":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Other":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Read_Mail":{"main":[[{"node":"If1","type":"main","index":0}]]},"Send_Mail":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Main_agent AI":{"main":[[{"node":"If2","type":"main","index":0}]]},"Message_construct":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Edit_Reply":{"main":[[{"node":"Set Edit Reply Prompt","type":"main","index":0}]]},"Set Edit Reply Prompt":{"main":[[{"node":"Correction_Mail","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Correction_Mail","type":"ai_languageModel","index":0}]]},"ReadMail":{"ai_tool":[[{"node":"Correction_Mail","type":"ai_tool","index":0}]]},"Code":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}]]},"recupMails1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"lireMail1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"DeleteMail1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"If1":{"main":[[{"node":"Gmail misterh.shop","type":"main","index":0}],[{"node":"Gmail misterh06","type":"main","index":0}]]},"Gmail misterh06":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Gmail misterh.shop":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Calendar_Agent","type":"ai_languageModel","index":0}]]},"Edit Fields":{"main":[[{"node":"Calendar_Agent","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Calendar_Agent","type":"ai_memory","index":0}]]},"Chat_page":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Respond to Webhook4","type":"main","index":0}]]},"CreerEvent":{"ai_tool":[[{"node":"Calendar_Agent","type":"ai_tool","index":0}]]},"If2":{"main":[[{"node":"Build Prompt_sendEmail","type":"main","index":0}],[{"node":"Message_construct","type":"main","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"send_mail_to_contacts","type":"ai_languageModel","index":0}]]},"Build Prompt_sendEmail":{"main":[[{"node":"send_mail_to_contacts","type":"main","index":0}]]},"Google Contacts":{"ai_tool":[[{"node":"send_mail_to_contacts","type":"ai_tool","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"send_mail_to_contacts","type":"ai_memory","index":0}]]},"Code2":{"main":[[{"node":"Respond to Webhook5","type":"main","index":0}]]},"send_mail_to_contacts":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Correction_Mail":{"main":[[{"node":"Code","type":"main","index":0}]]},"Calendar_Agent":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Fichier clients":{"ai_tool":[[{"node":"send_mail_to_contacts","type":"ai_tool","index":0}]]},"Send a message":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]},"Send a message in Gmail":{"ai_tool":[[{"node":"send_mail_to_contacts","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Paris","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"79ea5c6f-e053-40a4-864e-c208c74f74dd","triggerCount":5,"tags":[]}