backup_n8n-84Dz4KHFOPcJSbPc.json

{"createdAt":"2025-05-12T12:22:36.917Z","updatedAt":"2025-08-03T15:28:45.000Z","id":"84Dz4KHFOPcJSbPc","name":"Backup_n8n","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-176,-16],"id":"8aacbee7-c2b3-4424-aff0-1a01dd5eb629","name":"When clicking ‘Execute workflow’"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[912,0],"id":"983888cc-b164-4cf0-80ec-3956763b6395","name":"Get many workflows","credentials":{"n8nApi":{"id":"QG6JDreMOYQe6eHp","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[96,0],"id":"1a60f2cb-890c-429d-85c6-adc771b9da0b","name":"Date & Time"},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H-mm","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[256,0],"id":"4e9445d6-42dd-40ce-8f11-355167835ecf","name":"Date & Time1"},{"parameters":{"assignments":{"assignments":[{"id":"1da2c60d-1647-468c-97c8-45a51d6b4e4b","name":"commitDate","value":"={{ $json.formattedDate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,0],"id":"e8c58872-3130-49da-b53d-34377081fb7e","name":"Edit Fields"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"=https://github.com/misterh06/","mode":"url"},"repository":{"__rl":true,"value":"backup_n8n","mode":"list","cachedResultName":"backup_n8n","cachedResultUrl":"https://github.com/misterh06/backup_n8n"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[576,0],"id":"1d40911d-52fa-45be-a515-2e4a2a139123","name":"List files","webhookId":"13089041-501f-4aea-8f3f-547d8ed5af34","alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"g1geAgAHowq8yc0N","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[736,0],"id":"8a98fdbe-3f32-44fb-af84-712001860067","name":"Aggregate"},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json\n"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1088,0],"id":"191b66e4-c7d2-4ac8-88d9-0a80a010c661","name":"Convert to File"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1248,0],"id":"70541870-47f5-4166-b1c9-45b1ef53bc35","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"1e29a2b2-e271-4d09-9ce5-8d2d373d71d9","leftValue":"={{ $('Aggregate').item.json.name.join(',') }}","rightValue":"={{ $binary.data.fileName.trim() }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1456,96],"id":"0d59fd76-0a63-4d16-9dd9-ebdf36601c35","name":"If"},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"https://github.com/misterh06/","mode":"url"},"repository":{"__rl":true,"value":"backup_n8n","mode":"list","cachedResultName":"backup_n8n","cachedResultUrl":"https://github.com/misterh06/backup_n8n"},"filePath":"={{ $binary.data.fileName.trim() }}\n","binaryData":true,"commitMessage":"=backup-{{ $node[\"Edit Fields\"].json.commitDate }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1664,192],"id":"f1602f41-1663-4f9b-9cff-487fa0670732","name":"Create a file","webhookId":"445d12df-f301-4ba9-bce5-250cf167e5eb","credentials":{"githubOAuth2Api":{"id":"g1geAgAHowq8yc0N","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"=https://github.com/misterh06/","mode":"url"},"repository":{"__rl":true,"value":"backup_n8n","mode":"list","cachedResultName":"backup_n8n","cachedResultUrl":"https://github.com/misterh06/backup_n8n"},"filePath":"={{ $binary.data.fileName.trim() }}","binaryData":true,"commitMessage":"=backup-{{ $node[\"Edit Fields\"].json.commitDate }}\n"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1936,192],"id":"c533dd14-b238-4c5b-a9be-9fbb64b04ba3","name":"Create a file1","webhookId":"d9c007d0-1536-416f-9ffd-d896a75345ab","credentials":{"githubOAuth2Api":{"id":"g1geAgAHowq8yc0N","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"delete","owner":{"__rl":true,"value":"https://github.com/misterh06/","mode":"url"},"repository":{"__rl":true,"value":"backup_n8n","mode":"list","cachedResultName":"backup_n8n","cachedResultUrl":"https://github.com/misterh06/backup_n8n"},"filePath":"={{ $json.name }}","commitMessage":"=delete-{{ $json.name }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[640,368],"id":"2e569ed0-c413-4774-95a5-578bf6ff049e","name":"Delete a file","webhookId":"8bd0a192-f4f3-4c76-864f-1c20fb028df0","credentials":{"githubOAuth2Api":{"id":"g1geAgAHowq8yc0N","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"=https://github.com/misterh06/","mode":"url"},"repository":{"__rl":true,"value":"backup_n8n","mode":"list","cachedResultName":"backup_n8n","cachedResultUrl":"https://github.com/misterh06/backup_n8n"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[96,352],"id":"ba08739e-2561-4185-a3dc-6bcc42976e91","name":"List files1","webhookId":"13089041-501f-4aea-8f3f-547d8ed5af34","credentials":{"githubOAuth2Api":{"id":"g1geAgAHowq8yc0N","name":"GitHub account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[304,352],"id":"506298b9-c298-47ff-9b1e-ad848673e158","name":"Loop Over Items1"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Date & Time1","type":"main","index":0}]]},"Date & Time1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"List files","type":"main","index":0}]]},"List files":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Create a file1","type":"main","index":0}],[{"node":"Create a file","type":"main","index":0}]]},"Create a file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Create a file1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"List files1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Delete a file","type":"main","index":0}]]},"Delete a file":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Paris","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"40c12f0a-ccc6-4c6e-a1a5-b3df860bad48","triggerCount":1,"tags":[]}