backup_n8n-84Dz4KHFOPcJSbPc.json

{"createdAt":"2025-05-12T12:22:36.917Z","updatedAt":"2025-08-03T15:33:57.000Z","id":"84Dz4KHFOPcJSbPc","name":"Backup_n8n","active":false,"isArchived":false,"nodes":[{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1168,272],"id":"983888cc-b164-4cf0-80ec-3956763b6395","name":"Get many workflows","credentials":{"n8nApi":{"id":"QG6JDreMOYQe6eHp","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[352,272],"id":"1a60f2cb-890c-429d-85c6-adc771b9da0b","name":"Date & Time"},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H-mm","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[512,272],"id":"4e9445d6-42dd-40ce-8f11-355167835ecf","name":"Date & Time1"},{"parameters":{"assignments":{"assignments":[{"id":"1da2c60d-1647-468c-97c8-45a51d6b4e4b","name":"commitDate","value":"={{ $json.formattedDate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[672,272],"id":"e8c58872-3130-49da-b53d-34377081fb7e","name":"Edit Fields"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"=https://github.com/misterh06/","mode":"url"},"repository":{"__rl":true,"value":"backup_n8n","mode":"list","cachedResultName":"backup_n8n","cachedResultUrl":"https://github.com/misterh06/backup_n8n"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[832,272],"id":"1d40911d-52fa-45be-a515-2e4a2a139123","name":"List files","webhookId":"13089041-501f-4aea-8f3f-547d8ed5af34","alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"g1geAgAHowq8yc0N","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[992,272],"id":"8a98fdbe-3f32-44fb-af84-712001860067","name":"Aggregate"},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json\n"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1344,272],"id":"191b66e4-c7d2-4ac8-88d9-0a80a010c661","name":"Convert to File"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1504,272],"id":"70541870-47f5-4166-b1c9-45b1ef53bc35","name":"Loop Over Items"},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"https://github.com/misterh06/","mode":"url"},"repository":{"__rl":true,"value":"backup_n8n","mode":"list","cachedResultName":"backup_n8n","cachedResultUrl":"https://github.com/misterh06/backup_n8n"},"filePath":"={{ $binary.data.fileName.trim() }}\n","binaryData":true,"commitMessage":"=backup-{{ $node[\"Edit Fields\"].json.commitDate }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1744,288],"id":"f1602f41-1663-4f9b-9cff-487fa0670732","name":"Create a file","webhookId":"445d12df-f301-4ba9-bce5-250cf167e5eb","credentials":{"githubOAuth2Api":{"id":"g1geAgAHowq8yc0N","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"delete","owner":{"__rl":true,"value":"https://github.com/misterh06/","mode":"url"},"repository":{"__rl":true,"value":"backup_n8n","mode":"list","cachedResultName":"backup_n8n","cachedResultUrl":"https://github.com/misterh06/backup_n8n"},"filePath":"={{ $json.name }}","commitMessage":"=delete-{{ $json.name }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[96,352],"id":"2e569ed0-c413-4774-95a5-578bf6ff049e","name":"Delete a file","webhookId":"8bd0a192-f4f3-4c76-864f-1c20fb028df0","credentials":{"githubOAuth2Api":{"id":"g1geAgAHowq8yc0N","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"=https://github.com/misterh06/","mode":"url"},"repository":{"__rl":true,"value":"backup_n8n","mode":"list","cachedResultName":"backup_n8n","cachedResultUrl":"https://github.com/misterh06/backup_n8n"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-272,288],"id":"ba08739e-2561-4185-a3dc-6bcc42976e91","name":"List files1","webhookId":"13089041-501f-4aea-8f3f-547d8ed5af34","credentials":{"githubOAuth2Api":{"id":"g1geAgAHowq8yc0N","name":"GitHub account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-48,288],"id":"506298b9-c298-47ff-9b1e-ad848673e158","name":"Loop Over Items1"},{"parameters":{"rule":{"interval":[{"field":"weeks"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-416,288],"id":"d8b4f323-ce99-4235-a0db-138d63951c15","name":"Schedule Trigger"},{"parameters":{"content":"## DELETE WORKFLOWS THEN...","height":432,"width":752,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-464,160],"typeVersion":1,"id":"186a22c9-feff-4477-ab1e-af738ecfaa67","name":"Sticky Note"},{"parameters":{"content":"## BACKUP WORKFLOW","height":432,"width":1584,"color":5},"type":"n8n-nodes-base.stickyNote","position":[336,160],"typeVersion":1,"id":"84071b2e-310e-4174-ae61-314cd5acf238","name":"Sticky Note1"}],"connections":{"Get many workflows":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Date & Time1","type":"main","index":0}]]},"Date & Time1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"List files","type":"main","index":0}]]},"List files":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Create a file","type":"main","index":0}]]},"Create a file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"List files1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Date & Time","type":"main","index":0}],[{"node":"Delete a file","type":"main","index":0}]]},"Delete a file":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"List files1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Paris","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"eaba318c-8ee1-44f8-8977-aa429d853da7","triggerCount":1,"tags":[]}