création-devis-tI3BqLGl9Nnwmgzt.json

{"createdAt":"2025-05-13T09:57:11.346Z","updatedAt":"2025-08-15T09:36:05.000Z","id":"tI3BqLGl9Nnwmgzt","name":"Création devis","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=Tu es l'assistant personnel de Ludo dans la gestion de ses devis.","hasOutputParser":true,"options":{"systemMessage":"=Tu es un agent n8n.\n\n**Input** (dans `$json`) :\n- descriptionTravaux : {{ $json.description }}\n\n**Outils disponibles** :\nUtilise les tools \"tarif climmatisation\", \"tarif peinture\", \"tarif salle de bain\", \"tarif amenagement\", \"tarif sol et mur\", \"tarif cloison faux plafond\" et \"tarif electricite\" pour trouver les informations de chiffrage pertinentes.\n\n**Objectif** :\nÀ partir de `descriptionTravaux`, génère **seulement** un objet JSON strict qui suit les règles ci-dessous. Ne renvoie aucun texte ou explication en dehors de cet objet JSON.\n\n**Exemple de JSON de sortie attendu** :\n{\n  \"Designation\": \"Réfection complète peinture chambre 12m²\\n- Lessivage des murs\\n- Protection du sol et du mobilier\\n- Fourniture et application d'une sous-couche\\n- Fourniture et application de 2 couches de finition satinée\",\n  \"Quantite\": 12,\n  \"Prix_unitaire_HT\": 35,\n  \"Montant_HT\": 420\n}\n\n**Règles obligatoires pour chaque champ** :\n- **Designation**: Doit décrire le travail de manière détaillée en une seule chaîne de caractères. Utilise des sauts de ligne explicites `\\n` pour séparer chaque étape. Fais précéder chaque point d'une liste par un tiret et un espace (`- `). La désignation doit être précise et professionnelle.\nIMPORTANT: le devis ne doit inclure aucun matériaux. Seulement la main d'oeuvre.\n- **Quantite**: Doit être un nombre entier représentant l'unité de mesure du travail (m², ml, unité, etc.).\n- **Prix_unitaire_HT**: Doit être un nombre représentant le prix à l'unité du travail à effectuer. Ce prix doit être déterminé en utilisant les outils de tarification fournis.\n- **Montant_HT**: Ce champ ne doit pas être défini manuellement. Il doit être calculé automatiquement en utilisant le tool `Calculator` avec l'opération `Quantite * Prix_unitaire_HT`.\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[848,864],"id":"16393586-7222-4b88-84d4-8ffe4ecf8fda","name":"AI Agent","onError":"continueRegularOutput"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-04-17-thinking","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[784,1072],"id":"5560b69a-7781-4ce2-a4e7-1bed3ddd45da","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"dvW7sOBx2nN3N5iu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[960,1072],"id":"bf72a4d8-8641-4f87-ba4f-6b87933691f4","name":"Calculator"},{"parameters":{"operation":"update","documentURL":"={{ $('Copie_trame_devis').item.json.id","actionsUi":{"actionFields":[{"action":"replaceAll","text":"={d_{{ $('Code').item.json.index }}}","replaceText":"={{ $json.output.Designation }}"},{"action":"replaceAll","text":"={q_{{ $('Code').item.json.index }}}","replaceText":"= {{ $json.output.Quantite }}"},{"object":"=text","action":"replaceAll","text":"={p_{{ $('Code').item.json.index }}}","replaceText":"= {{ $json.output.Prix_unitaire_HT }}","index":0},{"action":"replaceAll","text":"={m_{{ $('Code').item.json.index }}}","replaceText":"= {{$json.output.Montant_HT}}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1200,864],"id":"7753e266-c03c-4745-94e0-3e6a8d6b0923","name":"Google Docs1","credentials":{"googleDocsOAuth2Api":{"id":"nYOY5yU07rvlYs09","name":"Misterh.shop (DOCS)"}}},{"parameters":{"promptType":"define","text":"Tu es un assistant qui gère le carnet client de Ludo","options":{"systemMessage":"=Tu as comme information concernant le client:\n- Nom: {{ $('From_html_client').item.json.body.name }}\n- Prénom: {{ $('From_html_client').item.json.body.prenom }}\n- Adresse: {{ $('From_html_client').item.json.body.address }}\n- Phone: {{ $('From_html_client').item.json.body.phone }}\n- Mail: {{ $('From_html_client').item.json.body.email }}\n\n\nEtapes a suivre:\n1- Utiliser le tool search_client pour savoir si {{ $('From_html_client').item.json.body.phone }} est présent dans le fichier.\n2- UNIQUEMENT SI {{ $('From_html_client').item.json.body.phone }} n'est pas dans la liste, enregistre le nom, l'adresse, le phone, et le mail dans les colonnes correspondantes a l'aide du tool Save_client.\n\n** IMPORTANT **\n- Ne pose aucune question est execute les instructions.\n- N'inscrit pas un client si le numéro de telephone est déjà dans le fichier"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[160,32],"id":"3e058bf9-6108-4cc0-abb6-623e69aaa825","name":"AI Agent1"},{"parameters":{"modelName":"models/gemini-2.0-flash-thinking-exp","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[144,192],"id":"924e7599-d080-43b4-b3fe-11d61654e710","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"dvW7sOBx2nN3N5iu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Ce tool permet de sauvegarder le nom, l'adresse, le numéro de téléphone et l'email d'un client.","operation":"append","documentId":{"__rl":true,"value":"=1ErlAI0lcXtE7r4J4zVXtq4sWVnaDQEHg3rPzZalZ6Gw","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ErlAI0lcXtE7r4J4zVXtq4sWVnaDQEHg3rPzZalZ6Gw/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nom":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nom', `Nom du client`, 'string') }}","Adresse":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Adresse', `Adresse du client`, 'string') }}","Email":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', `Email du client`, 'string') }}","Phone":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone', `Numéro de téléphone du client`, 'string') }}","Prenom":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prenom', `Prénom du client`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Nom","displayName":"Nom","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Prenom","displayName":"Prenom","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Adresse","displayName":"Adresse","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[528,192],"id":"b3323045-5cce-4309-9020-4776912b936b","name":"Save_client","credentials":{"googleSheetsOAuth2Api":{"id":"FmpMTzNAmEkSrMV1","name":"Misterh.shop (SHEET)"}}},{"parameters":{"httpMethod":"POST","path":"client","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-144,32],"id":"e3abe6ff-fc89-44dc-900b-7cd36fadb64b","name":"From_html_client","webhookId":"c9565fd4-be0a-48b3-a59c-c8a9410d63b8"},{"parameters":{"httpMethod":"POST","path":"chat","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-320,400],"id":"9c4a89cf-1252-45cf-88ff-b1638d822447","name":"From_html_chat","webhookId":"285d109f-8398-4874-9925-3087fe5d17b1"},{"parameters":{"descriptionType":"manual","toolDescription":"Ce tool permet de chercher un numéro de téléphone dans la colonne Phone.","documentId":{"__rl":true,"value":"1ErlAI0lcXtE7r4J4zVXtq4sWVnaDQEHg3rPzZalZ6Gw","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ErlAI0lcXtE7r4J4zVXtq4sWVnaDQEHg3rPzZalZ6Gw/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Phone","lookupValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Value', `Numéro de téléphone du client`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[400,192],"id":"7539a3a3-304b-4ddb-9625-a365628f3770","name":"Search_client","credentials":{"googleSheetsOAuth2Api":{"id":"FmpMTzNAmEkSrMV1","name":"Misterh.shop (SHEET)"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"prenom\": \"{{ $('From_html_client').item.json.body.prenom }}\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[720,32],"id":"c16bb8e5-aec8-4943-a50d-af2ed770da50","name":"Respond to Webhook"},{"parameters":{"promptType":"define","text":"={{ $('From_html_chat').item.json.body.message }}","options":{"systemMessage":"=Tu es un assistant IA chargé de questionner un client afin de récupérer toutes les informations nécessaires à la  rédaction d'un devis de travaux de rénovation.\n**IMPORTANT**\nIntéragis de manière professionnelle avec lui en lui posant les questions une par une et ne dit aucune phrase inutiles du type: \"vous êtes prêt ?\", \"Voulez-vous que je vous pose des questions ?\", \"je vais vérifier les questions a poser dans la liste\", \"je vais utiliser l'outil...\".\n\nLe client s'appelle {{ $('From_html_chat').item.json.body.meta.prenom }}.  \nVoici son dernier message : {{ $('From_html_chat').item.json.body.message }} auquel tu dois répondre.\n\n\n\nTu dois impérativement utiliser l'outil google docs \"questions_list\". c'est un fichier google docs qui contient les questions a poser au client en fonction des travaux qu'il veut réaliser (éléctricité, carrelage, peinture etc..).\n \nDès que tu as récu toutes les informations, demande ou client si il a donner toutes les informations nécessaires, si il veut faire d'autres types de travaux. En fonction de sa réponse, propose lui de cliquer sur le boutton \"établir le devis\".\n\n**IMPERATIF**\n- Si le client te pose une question qui n'a pas de rapport avec ses travaux, réponds lui que ce n'est pas dans tes compétences. tu peux malgré tout lui donner des conseils professionnels en l'informant que c'est Ludo le pro.\n- Pas plus de 35 mots par message.   \n- Ne pose pas de questions sur le budget - informations client.  \n- Adopte un ton jovial pas trop technique, avec des emojis et ne repete pas tout le temps le prénom du client.\n- Ne demande pas les delais.\n- Ne demande pas au client d'utiliser l'outil questions!!\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[208,448],"id":"d0e6e00a-dbee-4b78-856c-7a191b75b9d8","name":"AI Agent2"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-04-17-thinking","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[128,624],"id":"545f92f2-90df-4886-af1f-b13b66e9bed2","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"dvW7sOBx2nN3N5iu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[592,592],"id":"32ea72c4-c28c-44c1-a185-8115d1833078","name":"Respond to Webhook1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('From_html_chat').item.json.body.sessionId }}","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[288,624],"id":"3a9cd2b2-0a31-4dd4-8979-e6ac96177f2a","name":"Simple Memory1"},{"parameters":{"content":"## CREATION DU DEVIS VIA LE CHAT \"assitant devis IA\"","height":540,"width":2760,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-384,768],"typeVersion":1,"id":"e0e133e9-37a9-47eb-a3ed-989ac77b38b5","name":"Sticky Note"},{"parameters":{"content":"## CHAT AGENT","height":400,"width":1800},"type":"n8n-nodes-base.stickyNote","position":[-368,352],"typeVersion":1,"id":"f7277eeb-25d9-4a89-92f0-c6f463f16d0e","name":"Sticky Note1"},{"parameters":{"content":"## GESTION CLIENTS (fichier liste clients.docs)","height":360,"width":1160},"type":"n8n-nodes-base.stickyNote","position":[-208,-48],"typeVersion":1,"id":"95f263cc-c8dd-400e-8a64-cc98fefcee81","name":"Sticky Note2"},{"parameters":{"operation":"copy","fileId":{"__rl":true,"value":"1l9H_p4MpNsbtXD-_q1bJRtVw-mcCBy4lIsc9tuc6BL4","mode":"id"},"name":"={{ $now.year }}-{{ $now.toFormat('yyyyMMddHHmmss') }}-{{ $('From_html_chat').item.json.body.meta.name }}-{{ $('From_html_chat').item.json.body.meta.prenom }}\n","sameFolder":false,"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"0Bw82pQgaX2ojNnZMc3hpT1VYVk0","mode":"list","cachedResultName":"DEVIS","cachedResultUrl":"https://drive.google.com/drive/folders/0Bw82pQgaX2ojNnZMc3hpT1VYVk0?resourcekey=0-Uq3hVRpPN-I-iKPSULAi-A"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-320,864],"id":"c151420e-c4b6-41f0-9a71-b6cca6c1e9c0","name":"Copie_trame_devis","credentials":{"googleDriveOAuth2Api":{"id":"P36va2523EqjU55B","name":"Misterh.shop (DRIVE)"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"replaceAll","text":"{date}","replaceText":"={{$now.toFormat(\"dd-MM-yyyy\")}}"},{"action":"replaceAll","text":"{nom}","replaceText":"={{ $('From_html_chat').item.json.body.meta.name }}- {{ $('From_html_chat').item.json.body.meta.prenom }}"},{"action":"replaceAll","text":"{adresse}","replaceText":"={{ $('From_html_chat').item.json.body.meta.address }}"},{"action":"replaceAll","text":"{telephone}","replaceText":"={{ $('From_html_chat').item.json.body.meta.phone }}"},{"action":"replaceAll","text":"{mail}","replaceText":"={{ $('From_html_chat').item.json.body.meta.email }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-160,864],"id":"826d5999-71d8-48c5-8b26-546d383e51e5","name":"write_infos_client","credentials":{"googleDocsOAuth2Api":{"id":"nYOY5yU07rvlYs09","name":"Misterh.shop (DOCS)"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[832,384],"id":"3689f045-d6c1-4d12-b8d5-9ad216148e74","name":"Respond to Webhook2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[592,384],"id":"a5dafd91-5aec-496f-9f15-eafbf3b67605","name":"No Operation, do nothing"},{"parameters":{"modelName":"models/gemini-1.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-336,1104],"id":"3aa4422a-f7de-4945-8ec3-b7a7364f237c","name":"Google Gemini Chat Model3","credentials":{"googlePalmApi":{"id":"dvW7sOBx2nN3N5iu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"CHAT"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[192,864],"id":"2ba8d982-f663-4212-98aa-2076d52f9396","name":"Aggregate"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bb7f0f40-f669-4c02-9212-f5639b9d639b","leftValue":"={{ $('From_html_chat').item.json.body.message }}","rightValue":"ETABLIR_DEVIS","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[0,400],"id":"8f5add13-8bc1-49ea-829f-43920df44b67","name":"If1"},{"parameters":{"descriptionType":"manual","toolDescription":"le tool 'questions_list' contient une base de donnée de questions pour le type de travaux a réaliser","operation":"get","documentURL":"1flcZPVzvUhTuJKX_LyLGjWImLkfqvopco5VKNPVkF98"},"type":"n8n-nodes-base.googleDocsTool","typeVersion":2,"position":[448,624],"id":"c5bb5606-8244-4fcf-8fed-31b3c7ce16d5","name":"questions_list","credentials":{"googleDocsOAuth2Api":{"id":"nYOY5yU07rvlYs09","name":"Misterh.shop (DOCS)"}}},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1lBnDZaNWeGDIAihN5pHEWfyQAQm9X3Q82vYrSs3Wsl4","mode":"list","cachedResultName":"chat_client","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lBnDZaNWeGDIAihN5pHEWfyQAQm9X3Q82vYrSs3Wsl4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lBnDZaNWeGDIAihN5pHEWfyQAQm9X3Q82vYrSs3Wsl4/edit#gid=0"},"numberToDelete":30},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1872,864],"id":"855140be-08f1-4497-9d9d-5ec4a82687cc","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"FmpMTzNAmEkSrMV1","name":"Misterh.shop (SHEET)"}}},{"parameters":{"jsCode":"const inputText =\n  ($json.body && $json.body.description) ||\n  $json.description ||\n  $json.output ||\n  $json.text ||\n  \"\";\n\nconst regex = /\\*\\*POSTE (\\d+)\\*\\*\\s*([\\s\\S]*?)(?=(\\*\\*POSTE \\d+\\*\\*)|$)/g;\n\nconst postes = [];\nlet match;\nwhile ((match = regex.exec(inputText)) !== null) {\n  postes.push({\n    json: {\n      poste: `POSTE ${match[1]}`,\n      description: match[2].trim(),\n      index: parseInt(match[1], 10)\n    }\n  });\n}\n\nreturn postes;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,864],"id":"d1c5a0ab-ec80-43c2-8c7d-3fcff55ca9ed","name":"Code","alwaysOutputData":false},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1568,864],"id":"6c34dc9e-f588-45e0-aa9f-cb35f6322456","name":"No Operation, do nothing1"},{"parameters":{"modelName":"models/gemini-2.0-flash-thinking-exp-1219","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[192,1168],"id":"62ea1e77-b85a-452c-b961-225583b03f3d","name":"Google Gemini Chat Model4","credentials":{"googlePalmApi":{"id":"dvW7sOBx2nN3N5iu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"operation":"get","documentURL":"1flcZPVzvUhTuJKX_LyLGjWImLkfqvopco5VKNPVkF98"},"type":"n8n-nodes-base.googleDocsTool","typeVersion":2,"position":[448,1168],"id":"422e7aac-6c83-4f63-99c4-8f40d5f122f8","name":"question_list2","credentials":{"googleDocsOAuth2Api":{"id":"nYOY5yU07rvlYs09","name":"Misterh.shop (DOCS)"}}},{"parameters":{"descriptionType":"manual","toolDescription":"feuille google sheet avec base de donnée des tarifs pour les travaux de peinture","documentId":{"__rl":true,"value":"1rpH5GZ97jTz1qsK07lusnCT23JWzWI1D9BOo6I6mc_8","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rpH5GZ97jTz1qsK07lusnCT23JWzWI1D9BOo6I6mc_8/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[1280,1072],"id":"63ffc06c-9352-4dc9-be70-bb592a7f39de","name":"tarif peinture","credentials":{"googleSheetsOAuth2Api":{"id":"FmpMTzNAmEkSrMV1","name":"Misterh.shop (SHEET)"}}},{"parameters":{"descriptionType":"manual","toolDescription":"feuille google sheet avec base de donnée des tarifs pour les travaux de climatisation","documentId":{"__rl":true,"value":"13X7dRjOm0CvR-CT7ayybLLYf7a0ZbjRoA_JhoJBDHkE","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13X7dRjOm0CvR-CT7ayybLLYf7a0ZbjRoA_JhoJBDHkE/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[1408,1072],"id":"45b32798-56f2-425c-a536-dccf30069eb5","name":"tarif climatisation","credentials":{"googleSheetsOAuth2Api":{"id":"FmpMTzNAmEkSrMV1","name":"Misterh.shop (SHEET)"}}},{"parameters":{"descriptionType":"manual","toolDescription":"feuille google sheet avec base de donnée des tarifs pour les travaux d'electricite","documentId":{"__rl":true,"value":"1ePI7hCADeUNsJ6u6HVTXuZHUMtThnJ1uq8SES2x6oW4","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ePI7hCADeUNsJ6u6HVTXuZHUMtThnJ1uq8SES2x6oW4/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[1552,1072],"id":"8e11a3e9-044b-4bde-8145-69bd4f6723fc","name":"tarif electricite","credentials":{"googleSheetsOAuth2Api":{"id":"FmpMTzNAmEkSrMV1","name":"Misterh.shop (SHEET)"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('write_infos_client').item.json.documentId }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2032,864],"id":"cc4869f4-ec6a-4259-ae0d-8feb4f536286","name":"Piece jointe devis","credentials":{"googleDriveOAuth2Api":{"id":"P36va2523EqjU55B","name":"Misterh.shop (DRIVE)"}}},{"parameters":{"operation":"copy","fileId":{"__rl":true,"value":"1lBnDZaNWeGDIAihN5pHEWfyQAQm9X3Q82vYrSs3Wsl4","mode":"id"},"name":"={{ $('From_html_chat').item.json.body.meta.name }}- {{ $('From_html_chat').item.json.body.meta.prenom }} - {{$now.toFormat(\"dd-MM-yyyy\")}}","sameFolder":false,"driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"11z5LJHW_UyTdr5IIDiXU0ILFURPMmmAo","mode":"list","cachedResultName":"chat client","cachedResultUrl":"https://drive.google.com/drive/folders/11z5LJHW_UyTdr5IIDiXU0ILFURPMmmAo"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1728,864],"id":"443524e4-7f40-4668-9f9c-ccf8fa76b18d","name":"copy chat","credentials":{"googleDriveOAuth2Api":{"id":"P36va2523EqjU55B","name":"Misterh.shop (DRIVE)"}}},{"parameters":{"sendTo":"misterh06@gmail.com","subject":"nouveau devis créé ","emailType":"text","message":"=nouveau devis créer par {{ $('From_html_chat').item.json.body.meta.name }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2160,864],"id":"0d40e700-6ad1-4cf1-8daf-3ce522c6f186","name":"Gmail1","webhookId":"28c31546-2a98-4ab9-887d-8dc6b7f88081","credentials":{"gmailOAuth2":{"id":"b5BjrbVHHWpFUvVV","name":"Misterh.shop (GMAIL)"}}},{"parameters":{"descriptionType":"manual","toolDescription":"feuille google sheet avec base de donnée des tarifs pour les travaux de rénovation de salle de bain","documentId":{"__rl":true,"value":"1eldJmFMTzbN5NG4LzSMR1GbhN-CP_iHwg4iq0TUgE6E","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eldJmFMTzbN5NG4LzSMR1GbhN-CP_iHwg4iq0TUgE6E/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[1680,1072],"id":"b3565c7a-55d6-42e0-b58b-ef9efe86b5f8","name":"tarif salle de bain","credentials":{"googleSheetsOAuth2Api":{"id":"FmpMTzNAmEkSrMV1","name":"Misterh.shop (SHEET)"}}},{"parameters":{"promptType":"define","text":"=Mets à jour la base de données de questions pour les devis de rénovation en analysant cette conversation client :\n{{ $json.description }}\n\nSi tu identifies des besoins non couverts par les questions existantes, ajoute une NOUVELLE QUESTION pertinente.","options":{"systemMessage":"=Tu es un expert en formulation de questions pour devis de rénovation. \n\n**Fonctionnement :**\n1. Utilise \"question_list2\" pour obtenir la liste actuelle des questions\n2. Analyse la conversation client:\n   - Repère les besoins non couverts par les questions existantes\n   - Identifie les situations récurrentes nécessitant une nouvelle question. Les questions ne doivent\n3. UNIQUEMENT si un besoin non couvert est détecté :\n   - Utilise \"Send new question\" pour envoyer par mail la nouvelle question\n   \n\n**Règles STRICTES :**\n- Une nouvelle question doit combler un MANQUE évident et essenteil dans la liste existante car les questions doivent réster d'ordre général.\n- Conserve le marqueur {QUESTION} sur une ligne séparée\n- Maximum 1 nouvelle question par besoin identifié\n- Aucune action si la couverture est suffisante\n\n**Exemple VALIDE :**\nLe client mentionne des contraintes d'accès non évoquées dans les questions existantes :\nComment accédez-vous à la zone de travail ? (échelle, nacelle, accès restreint)\n{QUESTION}\n\n**Exemple INVALIDE :**\n{QUESTION}Quel est l'accès au chantier ?"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[320,1024],"id":"b9e41e46-6eb3-479f-8ac6-824b2e92c536","name":"Update question list"},{"parameters":{"descriptionType":"manual","toolDescription":"feuille google sheet avec base de donnée des tarifs pour les travaux d'aménagement sur mesure","documentId":{"__rl":true,"value":"11bjBzDP062_fAvqx6V8dLvaLo3jK5l1c1BRUo-A9dEk","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11bjBzDP062_fAvqx6V8dLvaLo3jK5l1c1BRUo-A9dEk/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[1840,1072],"id":"daf2adaf-cac1-4f4e-8961-47fbb7d33035","name":"tarif amenagement","credentials":{"googleSheetsOAuth2Api":{"id":"FmpMTzNAmEkSrMV1","name":"Misterh.shop (SHEET)"}}},{"parameters":{"sendTo":"misterh.shop@gmail.com","subject":"nouvelle question  bdd question agent IA google drive","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[608,1168],"id":"87d1068d-c998-4251-9dc5-8e2acf4f0cb0","name":"Send new question","webhookId":"fc8b010d-21f2-4b0a-a5f5-e3c26693ff4d","credentials":{"gmailOAuth2":{"id":"b5BjrbVHHWpFUvVV","name":"Misterh.shop (GMAIL)"}}},{"parameters":{"operation":"update","documentURL":"={{ $('Copie_trame_devis').item.json.id }}","actionsUi":{"actionFields":[{"action":"replaceAll","text":"={d_2}"},{"action":"replaceAll","text":"{d_3}"},{"action":"replaceAll","text":"{d_4}"},{"action":"replaceAll","text":"{d_5}"},{"action":"replaceAll","text":"{q_2}"},{"action":"replaceAll","text":"{q_3}"},{"action":"replaceAll","text":"{q_4}"},{"action":"replaceAll","text":"{q_5}"},{"action":"replaceAll","text":"{p_2}"},{"action":"replaceAll","text":"{p_3}"},{"action":"replaceAll","text":"{p_4}"},{"action":"replaceAll","text":"{p_5}"},{"action":"replaceAll","text":"{m_2}"},{"action":"replaceAll","text":"{m_3}"},{"action":"replaceAll","text":"{m_4}"},{"action":"replaceAll","text":"{m_5}"},{"action":"replaceAll","text":"{d_6}"},{"action":"replaceAll","text":"{d_7}"},{"action":"replaceAll","text":"{d_8}"},{"action":"replaceAll","text":"{d_9}"},{"action":"replaceAll","text":"{q_6}"},{"action":"replaceAll","text":"{q_7}"},{"action":"replaceAll","text":"{q_8}"},{"action":"replaceAll","text":"{q_9}"},{"action":"replaceAll","text":"{p_6}"},{"action":"replaceAll","text":"{p_7}"},{"action":"replaceAll","text":"{p_8}"},{"action":"replaceAll","text":"{p_9}"},{"action":"replaceAll","text":"{m_6}"},{"action":"replaceAll","text":"{m_7}"},{"action":"replaceAll","text":"{m_8}"},{"action":"replaceAll","text":"{m_9}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1392,864],"id":"1513eade-4081-4fff-a8f5-8ca63aac080e","name":"Erase marqueurs {}","credentials":{"googleDocsOAuth2Api":{"id":"nYOY5yU07rvlYs09","name":"Misterh.shop (DOCS)"}}},{"parameters":{"descriptionType":"manual","toolDescription":"feuille google sheet avec base de donnée des tarifs pour les travaux de pose de revetements sol et mural","documentId":{"__rl":true,"value":"1qYoUbilIrW0-cNmhjVUmBEsfKdiKSOCtiLbYwWIqRwQ","mode":"id"},"sheetName":{"__rl":true,"value":1271003297,"mode":"list","cachedResultName":"Tarifs_sols","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qYoUbilIrW0-cNmhjVUmBEsfKdiKSOCtiLbYwWIqRwQ/edit#gid=1271003297"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[2000,1072],"id":"8567b5fe-c37f-4772-9519-e570312c5356","name":"tarif sols et murs","credentials":{"googleSheetsOAuth2Api":{"id":"FmpMTzNAmEkSrMV1","name":"Misterh.shop (SHEET)"}}},{"parameters":{"descriptionType":"manual","toolDescription":"feuille google sheet avec base de donnée des tarifs pour les travaux de construction de cloison, faux plafond et pose de bloc porte.","documentId":{"__rl":true,"value":"1MNEaQYhllkbiQW21BxA1i68Drm0EFHk1mliXVRrwP0o","mode":"id"},"sheetName":{"__rl":true,"value":1066060422,"mode":"list","cachedResultName":"tarif cloison faux plafond","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MNEaQYhllkbiQW21BxA1i68Drm0EFHk1mliXVRrwP0o/edit#gid=1066060422"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[2144,1072],"id":"75a3cc52-6ec7-4b1c-a62b-522139401ff2","name":"tarif cloison faux plafond","credentials":{"googleSheetsOAuth2Api":{"id":"FmpMTzNAmEkSrMV1","name":"Misterh.shop (SHEET)"}}},{"parameters":{"operation":"copy","fileId":{"__rl":true,"value":"1l9H_p4MpNsbtXD-_q1bJRtVw-mcCBy4lIsc9tuc6BL4","mode":"id"},"name":"={{ $now.year }}-{{ $json.num_devis }} {{ $('CHOSE GOOGLE CONTACT').item.json.body.nom }}\n {{ $('CHOSE GOOGLE CONTACT').item.json.body.prenom }}\n\n","sameFolder":false,"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"0Bw82pQgaX2ojNnZMc3hpT1VYVk0","mode":"list","cachedResultName":"DEVIS","cachedResultUrl":"https://drive.google.com/drive/folders/0Bw82pQgaX2ojNnZMc3hpT1VYVk0?resourcekey=0-Uq3hVRpPN-I-iKPSULAi-A"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[352,1632],"id":"5c7559bc-14d7-4e05-aaa3-d403a0928fc6","name":"Copie_trame_devis1","credentials":{"googleDriveOAuth2Api":{"id":"P36va2523EqjU55B","name":"Misterh.shop (DRIVE)"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"id\": \"{{ $('Copie_trame_devis1').item.json.id }}\"\n}\n","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[720,1632],"id":"a215dc08-900a-4528-9011-0b0f8beca2b1","name":"Respond to Webhook3"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[144,1408],"id":"a360c7c4-9a9f-4fd6-927c-740e279f512a","name":"Respond to Webhook4"},{"parameters":{"content":"## REMPLISSAGE FORMULAIRE VIA PAGE HTML \"créer un devis\"","height":540,"width":2760,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-384,1344],"id":"fa494376-02ea-45ef-bfa5-2fb21c4766c4","name":"Sticky Note11"},{"parameters":{"operation":"update","documentURL":"={{ $('SEND POSTE TO AGENT IA').item.json.body.documentId }}","actionsUi":{"actionFields":[{"action":"replaceAll","text":"={d_{{ $('Code1').item.json.index }}}","replaceText":"={{ $json.output.Designation }}"},{"action":"replaceAll","text":"={q_{{ $('Code1').item.json.index }}}","replaceText":"= {{ $json.output.Quantite }}"},{"object":"=text","action":"replaceAll","text":"={p_{{ $('Code1').item.json.index }}}","replaceText":"= {{ $json.output.Prix_unitaire_HT }}","index":0},{"action":"replaceAll","text":"={m_{{ $('Code1').item.json.index }}}","replaceText":"= {{$json.output.Montant_HT}}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1280,1408],"id":"3f0d7df3-fcb2-4e4e-8290-b8078908f172","name":"Google Docs2","credentials":{"googleDocsOAuth2Api":{"id":"nYOY5yU07rvlYs09","name":"Misterh.shop (DOCS)"}}},{"parameters":{"operation":"update","documentURL":"={{ $('SEND POSTE TO AGENT IA').item.json.body.documentId }}","actionsUi":{"actionFields":[{"action":"replaceAll","text":"={d_2}"},{"action":"replaceAll","text":"{d_3}"},{"action":"replaceAll","text":"{d_4}"},{"action":"replaceAll","text":"{d_5}"},{"action":"replaceAll","text":"{q_2}"},{"action":"replaceAll","text":"{q_3}"},{"action":"replaceAll","text":"{q_4}"},{"action":"replaceAll","text":"{q_5}"},{"action":"replaceAll","text":"{p_2}"},{"action":"replaceAll","text":"{p_3}"},{"action":"replaceAll","text":"{p_4}"},{"action":"replaceAll","text":"{p_5}"},{"action":"replaceAll","text":"{m_2}"},{"action":"replaceAll","text":"{m_3}"},{"action":"replaceAll","text":"{m_4}"},{"action":"replaceAll","text":"{m_5}"},{"action":"replaceAll","text":"{d_6}"},{"action":"replaceAll","text":"{d_7}"},{"action":"replaceAll","text":"{d_8}"},{"action":"replaceAll","text":"{d_9}"},{"action":"replaceAll","text":"{q_6}"},{"action":"replaceAll","text":"{q_7}"},{"action":"replaceAll","text":"{q_8}"},{"action":"replaceAll","text":"{q_9}"},{"action":"replaceAll","text":"{p_6}"},{"action":"replaceAll","text":"{p_7}"},{"action":"replaceAll","text":"{p_8}"},{"action":"replaceAll","text":"{p_9}"},{"action":"replaceAll","text":"{m_6}"},{"action":"replaceAll","text":"{m_7}"},{"action":"replaceAll","text":"{m_8}"},{"action":"replaceAll","text":"{m_9}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1472,1408],"id":"a409cd24-5529-4b76-829b-e6f9909515c0","name":"Erase marqueurs {}1","credentials":{"googleDocsOAuth2Api":{"id":"nYOY5yU07rvlYs09","name":"Misterh.shop (DOCS)"}}},{"parameters":{"jsonSchemaExample":"{\n  \"Designation\": \"Réfection complète peinture chambre 12m²\\n- Lessivage des murs\\n- Protection du sol et du mobilier\\n- Fourniture et application d'une sous-couche\\n- Fourniture et application de 2 couches de finition satinée\",\n  \"Quantite\": 12,\n  \"Prix_unitaire_HT\": 35,\n  \"Montant_HT\": 420\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1120,1072],"id":"250e15dc-4337-44b9-9437-5a752c57d315","name":"Structured Output Parser"},{"parameters":{"path":"clients-list","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-288,1408],"id":"853392e8-dd91-4e8d-87ce-f7a6a2a822aa","name":"LIST GOOGLE CONTACT","webhookId":"e18825e5-cac9-498b-ac82-70874601be60"},{"parameters":{"httpMethod":"POST","path":"copie-trame-devis","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-336,1632],"id":"a768a6e6-b169-426a-9330-54e0528521ec","name":"CHOSE GOOGLE CONTACT","webhookId":"89b716fa-36e2-4e9f-a486-f58c0ffed650"},{"parameters":{"httpMethod":"POST","path":"remplir-postes","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[432,1408],"id":"d12bf76e-d20f-4c4d-9d10-effced26f56b","name":"SEND POSTE TO AGENT IA","webhookId":"ea042896-5b3b-46c9-8d3f-b02fe90e5e97"},{"parameters":{"documentId":{"__rl":true,"value":"1ErlAI0lcXtE7r4J4zVXtq4sWVnaDQEHg3rPzZalZ6Gw","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ErlAI0lcXtE7r4J4zVXtq4sWVnaDQEHg3rPzZalZ6Gw/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-80,1408],"id":"e0ac445e-ac51-49c0-af0b-a240d4cd4f73","name":"GET CONTACT","credentials":{"googleSheetsOAuth2Api":{"id":"FmpMTzNAmEkSrMV1","name":"Misterh.shop (SHEET)"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"replaceAll","text":"{date}","replaceText":"={{$now.toFormat(\"dd-MM-yyyy\")}}"},{"action":"replaceAll","text":"{nom}","replaceText":"={{ $('CHOSE GOOGLE CONTACT').item.json.body.nom }}-{{ $('CHOSE GOOGLE CONTACT').item.json.body.prenom }}"},{"action":"replaceAll","text":"{adresse}","replaceText":"={{ $('CHOSE GOOGLE CONTACT').item.json.body.adresse }}"},{"action":"replaceAll","text":"{telephone}","replaceText":"={{ $('CHOSE GOOGLE CONTACT').item.json.body.phone }}"},{"action":"replaceAll","text":"{mail}","replaceText":"={{ $('CHOSE GOOGLE CONTACT').item.json.body.email }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[528,1632],"id":"4e070959-032a-41f1-9395-641ab2c037ba","name":"WRTIE CONTACT TO \"Trame devis.docs\"","credentials":{"googleDocsOAuth2Api":{"id":"nYOY5yU07rvlYs09","name":"Misterh.shop (DOCS)"}}},{"parameters":{"promptType":"define","text":"=voici la discution entre un agent IA et un client. {{ $json.CHAT }}","messages":{"messageValues":[{"message":"=Ton role est de faire une synthese de toutes les informations fournies par le client.\n\nSi nécessaire, tu devras distinguer les différents postes de travaux a réaliser et afficher la synthèse exactement sous cette forme afin de pouvoir parser **POSTE X**\n\n**POSTE 1**\nécrit la synthèse des travaux a réaliser\n\n**POSTE 2**\nécrit la synthèse des travaux a réaliser\n\n**POSTE 3**\nécrit la synthèse des travaux a réaliser\n\netc...\n\nEXEMPLE:\n**POSTE 1**\nLe client souhaite poser un climatisation dans sa chambre de 12m². Le groupe exterieur sera posé sur la terrasse sans contrainte particulière.\n\n**POSTE 2**\nLe client souhaite poser du parquet dans son salon de 20m² avec plinthe en périphérie. Le sol est propre et la pièce sera vidée.\n\n**POSTE 3**\netc...\n\nIMPERATIF:\nEcrit toujours **POSTE x** sous la forme deux étoiles, POSTE, un espace, un chiffre, deux étoiles. Ne rajoute jamais d'autre caractère sinon le parsing ne fonctionnera pas.\n\n"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[320,864],"id":"5e44263c-6dc8-4afe-ade2-5bb31718b696","name":"CHAT SYNTHESE FOR POSTE"},{"parameters":{"documentId":{"__rl":true,"value":"1lBnDZaNWeGDIAihN5pHEWfyQAQm9X3Q82vYrSs3Wsl4","mode":"list","cachedResultName":"chat_client","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lBnDZaNWeGDIAihN5pHEWfyQAQm9X3Q82vYrSs3Wsl4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lBnDZaNWeGDIAihN5pHEWfyQAQm9X3Q82vYrSs3Wsl4/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[32,864],"id":"f5cd4730-c31b-42db-a41b-f855c0470452","name":"GET CHAT DISCUTION","credentials":{"googleSheetsOAuth2Api":{"id":"FmpMTzNAmEkSrMV1","name":"Misterh.shop (SHEET)"}}},{"parameters":{"promptType":"define","text":"=Tu es l'assistant personnel de Ludo dans la gestion de ses devis.","hasOutputParser":true,"options":{"systemMessage":"=Tu es un agent n8n.\n\n**Input** (dans `$json`) :\n- descriptionTravaux : {{ $json.description }}\n\n**Outils disponibles** :\nUtilise les tools \"tarif climmatisation\", \"tarif peinture\", \"tarif salle de bain\", \"tarif amenagement\", \"tarif sol et mur\", \"tarif cloison faux plafond\" et \"tarif electricite\" pour trouver les informations de chiffrage pertinentes.\n\n**Objectif** :\nÀ partir de `descriptionTravaux`, génère **seulement** un objet JSON strict qui suit les règles ci-dessous. Ne renvoie aucun texte ou explication en dehors de cet objet JSON.\n\n**Exemple de JSON de sortie attendu** :\n{\n  \"Designation\": \"Réfection complète peinture chambre 12m²\\n- Lessivage des murs\\n- Protection du sol et du mobilier\\n- Fourniture et application d'une sous-couche\\n- Fourniture et application de 2 couches de finition satinée\",\n  \"Quantite\": 12,\n  \"Prix_unitaire_HT\": 35,\n  \"Montant_HT\": 420\n}\n\n**Règles obligatoires pour chaque champ** :\n- **Designation**: Doit décrire le travail de manière détaillée en une seule chaîne de caractères. Utilise des sauts de ligne explicites `\\n` pour séparer chaque étape. Fais précéder chaque point d'une liste par un tiret et un espace (`- `). La désignation doit être précise et professionnelle.\nIMPORTANT: le devis ne doit inclure aucun matériaux. Seulement la main d'oeuvre.\n- **Quantite**: Doit être un nombre entier représentant l'unité de mesure du travail (m², ml, unité, etc.).\n- **Prix_unitaire_HT**: Doit être un nombre représentant le prix à l'unité du travail à effectuer. Ce prix doit être déterminé en utilisant les outils de tarification fournis.\n- **Montant_HT**: Ce champ ne doit pas être défini manuellement. Il doit être calculé automatiquement en utilisant le tool `Calculator` avec l'opération `Quantite * Prix_unitaire_HT`.\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[912,1408],"id":"71ed7819-0668-4f1b-a1f3-654c5d007dba","name":"AI Agent3","onError":"continueRegularOutput"},{"parameters":{"modelName":"models/gemini-2.0-flash-thinking-exp-1219","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[944,1600],"id":"ab78c6e1-0e4f-4b56-afc6-ebf5f5c25150","name":"Google Gemini Chat Model5","credentials":{"googlePalmApi":{"id":"dvW7sOBx2nN3N5iu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[1072,1600],"id":"c0d68a8e-cba5-44f9-8989-5afd731bae39","name":"Calculator1"},{"parameters":{"jsCode":"const inputText =\n  ($json.body && $json.body.description) ||\n  $json.description ||\n  $json.output ||\n  $json.text ||\n  \"\";\n\nconst regex = /\\*\\*POSTE (\\d+)\\*\\*\\s*([\\s\\S]*?)(?=(\\*\\*POSTE \\d+\\*\\*)|$)/g;\n\nconst postes = [];\nlet match;\nwhile ((match = regex.exec(inputText)) !== null) {\n  postes.push({\n    json: {\n      poste: `POSTE ${match[1]}`,\n      description: match[2].trim(),\n      index: parseInt(match[1], 10)\n    }\n  });\n}\n\nreturn postes;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[688,1408],"id":"80d99cf9-eb6d-4aab-97d7-683b7503888b","name":"Code1","alwaysOutputData":false},{"parameters":{"descriptionType":"manual","toolDescription":"feuille google sheet avec base de donnée des tarifs pour les travaux de peinture","documentId":{"__rl":true,"value":"1rpH5GZ97jTz1qsK07lusnCT23JWzWI1D9BOo6I6mc_8","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rpH5GZ97jTz1qsK07lusnCT23JWzWI1D9BOo6I6mc_8/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[1344,1600],"id":"bebcbf20-fda1-4336-90e5-9bbbfbbd2226","name":"tarif peinture1","credentials":{"googleSheetsOAuth2Api":{"id":"FmpMTzNAmEkSrMV1","name":"Misterh.shop (SHEET)"}}},{"parameters":{"descriptionType":"manual","toolDescription":"feuille google sheet avec base de donnée des tarifs pour les travaux de climatisation","documentId":{"__rl":true,"value":"13X7dRjOm0CvR-CT7ayybLLYf7a0ZbjRoA_JhoJBDHkE","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13X7dRjOm0CvR-CT7ayybLLYf7a0ZbjRoA_JhoJBDHkE/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[1472,1600],"id":"e9afb05d-a61c-4a6c-ac6b-75b9e97a31e3","name":"tarif climatisation1","credentials":{"googleSheetsOAuth2Api":{"id":"FmpMTzNAmEkSrMV1","name":"Misterh.shop (SHEET)"}}},{"parameters":{"descriptionType":"manual","toolDescription":"feuille google sheet avec base de donnée des tarifs pour les travaux d'electricite","documentId":{"__rl":true,"value":"1ePI7hCADeUNsJ6u6HVTXuZHUMtThnJ1uq8SES2x6oW4","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ePI7hCADeUNsJ6u6HVTXuZHUMtThnJ1uq8SES2x6oW4/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[1600,1600],"id":"9ddae032-bef7-4e3d-87db-d10d97014c8e","name":"tarif electricite1","credentials":{"googleSheetsOAuth2Api":{"id":"FmpMTzNAmEkSrMV1","name":"Misterh.shop (SHEET)"}}},{"parameters":{"descriptionType":"manual","toolDescription":"feuille google sheet avec base de donnée des tarifs pour les travaux de rénovation de salle de bain","documentId":{"__rl":true,"value":"1eldJmFMTzbN5NG4LzSMR1GbhN-CP_iHwg4iq0TUgE6E","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eldJmFMTzbN5NG4LzSMR1GbhN-CP_iHwg4iq0TUgE6E/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[1744,1600],"id":"fb069ee4-d381-4bd8-96db-7cd81d57548a","name":"tarif salle de bain1","credentials":{"googleSheetsOAuth2Api":{"id":"FmpMTzNAmEkSrMV1","name":"Misterh.shop (SHEET)"}}},{"parameters":{"descriptionType":"manual","toolDescription":"feuille google sheet avec base de donnée des tarifs pour les travaux d'aménagement sur mesure","documentId":{"__rl":true,"value":"11bjBzDP062_fAvqx6V8dLvaLo3jK5l1c1BRUo-A9dEk","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11bjBzDP062_fAvqx6V8dLvaLo3jK5l1c1BRUo-A9dEk/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[1904,1600],"id":"7f7113fd-c8f5-4b3b-8167-75f89ea25f89","name":"tarif amenagement1","credentials":{"googleSheetsOAuth2Api":{"id":"FmpMTzNAmEkSrMV1","name":"Misterh.shop (SHEET)"}}},{"parameters":{"descriptionType":"manual","toolDescription":"feuille google sheet avec base de donnée des tarifs pour les travaux de pose de revetements sol et mural","documentId":{"__rl":true,"value":"1qYoUbilIrW0-cNmhjVUmBEsfKdiKSOCtiLbYwWIqRwQ","mode":"id"},"sheetName":{"__rl":true,"value":1271003297,"mode":"list","cachedResultName":"Tarifs_sols","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qYoUbilIrW0-cNmhjVUmBEsfKdiKSOCtiLbYwWIqRwQ/edit#gid=1271003297"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[2064,1600],"id":"84dfb1be-5311-4454-a2f3-c1b197b9c475","name":"tarif sols et murs1","credentials":{"googleSheetsOAuth2Api":{"id":"FmpMTzNAmEkSrMV1","name":"Misterh.shop (SHEET)"}}},{"parameters":{"descriptionType":"manual","toolDescription":"feuille google sheet avec base de donnée des tarifs pour les travaux de construction de cloison, faux plafond et pose de bloc porte.","documentId":{"__rl":true,"value":"1MNEaQYhllkbiQW21BxA1i68Drm0EFHk1mliXVRrwP0o","mode":"id"},"sheetName":{"__rl":true,"value":1066060422,"mode":"list","cachedResultName":"tarif cloison faux plafond","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MNEaQYhllkbiQW21BxA1i68Drm0EFHk1mliXVRrwP0o/edit#gid=1066060422"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[2208,1600],"id":"0167750f-2172-4a25-aef2-3835110687b6","name":"tarif cloison faux plafond1","credentials":{"googleSheetsOAuth2Api":{"id":"FmpMTzNAmEkSrMV1","name":"Misterh.shop (SHEET)"}}},{"parameters":{"jsonSchemaExample":"{\n  \"Designation\": \"Réfection complète peinture chambre 12m²\\n- Lessivage des murs\\n- Protection du sol et du mobilier\\n- Fourniture et application d'une sous-couche\\n- Fourniture et application de 2 couches de finition satinée\",\n  \"Quantite\": 12,\n  \"Prix_unitaire_HT\": 35,\n  \"Montant_HT\": 420\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1184,1600],"id":"5790b383-7530-4885-a507-79826c0d5d8e","name":"Structured Output Parser1"},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1lBnDZaNWeGDIAihN5pHEWfyQAQm9X3Q82vYrSs3Wsl4","mode":"list","cachedResultName":"chat_client","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lBnDZaNWeGDIAihN5pHEWfyQAQm9X3Q82vYrSs3Wsl4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lBnDZaNWeGDIAihN5pHEWfyQAQm9X3Q82vYrSs3Wsl4/edit#gid=0"},"numberToDelete":30},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[512,32],"id":"7da28a8c-c1af-4f64-9a88-0a3cef1bf7ac","name":"clean chat_client.docs","credentials":{"googleSheetsOAuth2Api":{"id":"FmpMTzNAmEkSrMV1","name":"Misterh.shop (SHEET)"}}},{"parameters":{"assignments":{"assignments":[{"id":"f4ff76b4-1e76-4327-b5f8-a7d4babcdbcd","name":"DocumentId","value":"={{ $json.body.documentId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-144,400],"id":"fd7bab52-775c-4e05-b77e-7663e39c7f4c","name":"Save documentId"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1lBnDZaNWeGDIAihN5pHEWfyQAQm9X3Q82vYrSs3Wsl4","mode":"list","cachedResultName":"chat_client","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lBnDZaNWeGDIAihN5pHEWfyQAQm9X3Q82vYrSs3Wsl4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lBnDZaNWeGDIAihN5pHEWfyQAQm9X3Q82vYrSs3Wsl4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"CHAT":"={{ $('From_html_chat').item.json.body.message }}","ID":"CLIENT"},"matchingColumns":["CHAT"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CHAT","displayName":"CHAT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[800,592],"id":"013e9e65-a928-4abb-9990-2b1c7ece971e","name":"update chat client \"client\"","credentials":{"googleSheetsOAuth2Api":{"id":"FmpMTzNAmEkSrMV1","name":"Misterh.shop (SHEET)"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1lBnDZaNWeGDIAihN5pHEWfyQAQm9X3Q82vYrSs3Wsl4","mode":"list","cachedResultName":"chat_client","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lBnDZaNWeGDIAihN5pHEWfyQAQm9X3Q82vYrSs3Wsl4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lBnDZaNWeGDIAihN5pHEWfyQAQm9X3Q82vYrSs3Wsl4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"CHAT":"={{ $('AI Agent2').item.json.output }}","ID":"Agent IA"},"matchingColumns":["CHAT"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CHAT","displayName":"CHAT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1024,592],"id":"a8882c98-18da-4925-9f3b-ed5d6d1d23f1","name":"update chat client \"agent\"","credentials":{"googleSheetsOAuth2Api":{"id":"FmpMTzNAmEkSrMV1","name":"Misterh.shop (SHEET)"}}},{"parameters":{"documentId":{"__rl":true,"value":"1ErlAI0lcXtE7r4J4zVXtq4sWVnaDQEHg3rPzZalZ6Gw","mode":"id"},"sheetName":{"__rl":true,"value":1972339865,"mode":"list","cachedResultName":"compteur","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ErlAI0lcXtE7r4J4zVXtq4sWVnaDQEHg3rPzZalZ6Gw/edit#gid=1972339865"},"filtersUI":{"values":[{"lookupColumn":"id","lookupValue":"devis"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-160,1632],"id":"89068607-41df-4f7e-bfdb-2373f201cf5e","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"FmpMTzNAmEkSrMV1","name":"Misterh.shop (SHEET)"}}},{"parameters":{"jsCode":"// Supposons que la sortie précédente arrive sur items[0].json.num_devis\nconst currentNum = parseInt($json.num_devis, 10);\nconst nextNum = currentNum + 1;\n\nreturn [{\n  row_number: $json.row_number,  // Utile pour l'update ensuite\n  num_devis: nextNum             // Ton nouveau numéro de devis\n}];\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,1632],"id":"3fe2c470-2a4e-44cd-8ce3-aa58a8083741","name":"Code2"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1ErlAI0lcXtE7r4J4zVXtq4sWVnaDQEHg3rPzZalZ6Gw","mode":"id"},"sheetName":{"__rl":true,"value":1972339865,"mode":"list","cachedResultName":"compteur","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ErlAI0lcXtE7r4J4zVXtq4sWVnaDQEHg3rPzZalZ6Gw/edit#gid=1972339865"},"columns":{"mappingMode":"defineBelow","value":{"num_devis":"={{ $json.num_devis }}","id":"devis"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"num_devis","displayName":"num_devis","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[160,1632],"id":"b7e46195-f556-48a9-8320-e16dc0af876c","name":"Google Sheets2","credentials":{"googleSheetsOAuth2Api":{"id":"FmpMTzNAmEkSrMV1","name":"Misterh.shop (SHEET)"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1x6cHAKEdKIrLcDDKR0aG65lZQO-aFkXWQPrkR_52NzM","mode":"list","cachedResultName":"2025-144 Chouvet Paule","cachedResultUrl":"https://docs.google.com/document/d/1x6cHAKEdKIrLcDDKR0aG65lZQO-aFkXWQPrkR_52NzM/edit?usp=drivesdk"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"application/pdf"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1728,32],"id":"961c73dc-3f13-4904-8b81-97eb6d53970b","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"P36va2523EqjU55B","name":"Misterh.shop (DRIVE)"}}},{"parameters":{"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"0Bw82pQgaX2ojNnZMc3hpT1VYVk0","mode":"list","cachedResultName":"DEVIS","cachedResultUrl":"https://drive.google.com/drive/folders/0Bw82pQgaX2ojNnZMc3hpT1VYVk0?resourcekey=0-Uq3hVRpPN-I-iKPSULAi-A"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1936,32],"id":"87da33b9-1efd-4f3b-9949-9a4eea191a9e","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"P36va2523EqjU55B","name":"Misterh.shop (DRIVE)"}}},{"parameters":{"content":"# TRANSFORME DOCS EN PDF","height":320,"width":864,"color":5},"type":"n8n-nodes-base.stickyNote","position":[1456,-64],"typeVersion":1,"id":"ead4cec9-17c2-4196-8ba8-4e4e8982dde1","name":"Sticky Note3"}],"connections":{"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Google Docs1","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Save_client":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"From_html_client":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"From_html_chat":{"main":[[{"node":"Save documentId","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"clean chat_client.docs","type":"main","index":0}]]},"Search_client":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"AI Agent2":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent2","type":"ai_memory","index":0}]]},"Respond to Webhook1":{"main":[[{"node":"update chat client \"client\"","type":"main","index":0}]]},"Copie_trame_devis":{"main":[[{"node":"write_infos_client","type":"main","index":0}]]},"write_infos_client":{"main":[[{"node":"GET CHAT DISCUTION","type":"main","index":0}]]},"Respond to Webhook2":{"main":[[{"node":"Copie_trame_devis","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"CHAT SYNTHESE FOR POSTE","type":"ai_languageModel","index":0}]]},"Aggregate":{"main":[[{"node":"CHAT SYNTHESE FOR POSTE","type":"main","index":0}]]},"If1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"AI Agent2","type":"main","index":0}]]},"questions_list":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"Google Docs1":{"main":[[{"node":"Erase marqueurs {}","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Piece jointe devis","type":"main","index":0}]]},"Code":{"main":[[{"node":"AI Agent","type":"main","index":0},{"node":"Update question list","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"copy chat","type":"main","index":0}]]},"Google Gemini Chat Model4":{"ai_languageModel":[[{"node":"Update question list","type":"ai_languageModel","index":0}]]},"question_list2":{"ai_tool":[[{"node":"Update question list","type":"ai_tool","index":0}]]},"tarif peinture":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"tarif climatisation":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"tarif electricite":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Piece jointe devis":{"main":[[{"node":"Gmail1","type":"main","index":0}]]},"copy chat":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"tarif salle de bain":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"tarif amenagement":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Send new question":{"ai_tool":[[{"node":"Update question list","type":"ai_tool","index":0}]]},"Erase marqueurs {}":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"tarif sols et murs":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"tarif cloison faux plafond":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Copie_trame_devis1":{"main":[[{"node":"WRTIE CONTACT TO \"Trame devis.docs\"","type":"main","index":0}]]},"Google Docs2":{"main":[[{"node":"Erase marqueurs {}1","type":"main","index":0}]]},"Erase marqueurs {}1":{"main":[[]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"LIST GOOGLE CONTACT":{"main":[[{"node":"GET CONTACT","type":"main","index":0}]]},"CHOSE GOOGLE CONTACT":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"SEND POSTE TO AGENT IA":{"main":[[{"node":"Code1","type":"main","index":0}]]},"GET CONTACT":{"main":[[{"node":"Respond to Webhook4","type":"main","index":0}]]},"WRTIE CONTACT TO \"Trame devis.docs\"":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}]]},"CHAT SYNTHESE FOR POSTE":{"main":[[{"node":"Code","type":"main","index":0}]]},"GET CHAT DISCUTION":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"AI Agent3":{"main":[[{"node":"Google Docs2","type":"main","index":0}]]},"Google Gemini Chat Model5":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"Calculator1":{"ai_tool":[[{"node":"AI Agent3","type":"ai_tool","index":0}]]},"Code1":{"main":[[{"node":"AI Agent3","type":"main","index":0}]]},"tarif peinture1":{"ai_tool":[[{"node":"AI Agent3","type":"ai_tool","index":0}]]},"tarif climatisation1":{"ai_tool":[[{"node":"AI Agent3","type":"ai_tool","index":0}]]},"tarif electricite1":{"ai_tool":[[{"node":"AI Agent3","type":"ai_tool","index":0}]]},"tarif salle de bain1":{"ai_tool":[[{"node":"AI Agent3","type":"ai_tool","index":0}]]},"tarif amenagement1":{"ai_tool":[[{"node":"AI Agent3","type":"ai_tool","index":0}]]},"tarif sols et murs1":{"ai_tool":[[{"node":"AI Agent3","type":"ai_tool","index":0}]]},"tarif cloison faux plafond1":{"ai_tool":[[{"node":"AI Agent3","type":"ai_tool","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent3","type":"ai_outputParser","index":0}]]},"clean chat_client.docs":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Save documentId":{"main":[[{"node":"If1","type":"main","index":0}]]},"update chat client \"client\"":{"main":[[{"node":"update chat client \"agent\"","type":"main","index":0}]]},"update chat client \"agent\"":{"main":[[]]},"Google Sheets1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"Copie_trame_devis1","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Upload file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5d3c9d5c-1769-47db-a2d3-c3b64cad8810","triggerCount":5,"tags":[]}