création-app-sa2XK1bhtV6cccjR.json

{"createdAt":"2025-06-07T12:52:38.933Z","updatedAt":"2025-06-12T16:27:55.000Z","id":"sa2XK1bhtV6cccjR","name":"Création app","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-820,-160],"id":"e873a3e5-5fb4-4bc1-8d57-37842bce5c07","name":"When chat message received","webhookId":"64372c78-ec9a-41a4-8222-78d8c8cee1ed"},{"parameters":{"promptType":"define","text":"=\n\n\n\n\n","options":{"systemMessage":"Tu es un excellent développeur web.\n\nTa mission est de créer une application web à partir du message utilisateur : {{ $json.chatInput }}\n\nUtilise les tools :\n- `index.html` pour écrire le HTML de la page\n- `index.css` pour écrire le style CSS\n- `index.js` pour écrire le JavaScript\n\nStructure ton code proprement et ne mets que ce qui est essentiel au bon fonctionnement de l’app.\n\nL’objectif est de créer une application web utile, claire, et simple à utiliser.\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[100,-300],"id":"5ad7d774-fcf4-474c-b30e-8eac6c76573f","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.0-flash-thinking-exp","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-100,80],"id":"4438aa1f-56b9-4323-8560-b29e78be0da9","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"dvW7sOBx2nN3N5iu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"={{ $json.output }}","options":{"systemMessage":"=Tu es un reviewer expert. Tu vas recevoir du code HTML, CSS, et JS. Donne des instructions claires pour améliorer ou corriger ce code. Ne renvoie pas le code complet, uniquement des instructions de modification.\n\nAnalyse les fichiers HTML, CSS et JS. Améliore leur apparence, lisibilité et interaction utilisateur si nécessaire.\n\n- Si les fichiers sont déjà corrects, ne change rien.\n- Si tu détectes des problèmes ou des pistes d’amélioration (design, structure, code JS inutilisé, responsive, etc.), propose des corrections ciblées.\n\nTu peux modifier :\n- `Download HTML Review` pour l’HTML\n- `Download CSS Review` pour le style\n- `Download JS Review` pour le comportement\n\nL’objectif est d’obtenir une page fonctionnelle, esthétique et fluide.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1180,-180],"id":"5d30f8f4-1be6-4688-963d-ed7c57904ac0","name":"AI Agent1"},{"parameters":{"modelName":"models/gemini-2.0-flash-lite-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1120,40],"id":"d78ae6bb-2cc9-4391-aed4-906c6779166e","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"dvW7sOBx2nN3N5iu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[920,-180],"id":"a8e6d419-2752-4384-8d3d-afdca934c97f","name":"Wait","webhookId":"cee4b958-2900-4e24-a729-167e0ba4bebc"},{"parameters":{"descriptionType":"manual","toolDescription":"Access file \"index.css\" on Google Drive","operation":"download","fileId":{"__rl":true,"value":"1fkzSB3n_v6tFu2zZSxCoMY9jkS6qTJPa","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDriveTool","typeVersion":3,"position":[1280,40],"id":"ba41c7c4-7ecd-4015-a324-0d9ee6a2743b","name":"Download CSS Review","credentials":{"googleDriveOAuth2Api":{"id":"P36va2523EqjU55B","name":"Misterh.shop (DRIVE)"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Access file index.js on Google Drive","operation":"download","fileId":{"__rl":true,"value":"1osmO09rV-GsGA06IjcyRnzCUBetiXNmT","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDriveTool","typeVersion":3,"position":[1620,40],"id":"4c4e04e4-0e19-48eb-a67d-f1580e6b62e3","name":"Download JS Review","credentials":{"googleDriveOAuth2Api":{"id":"P36va2523EqjU55B","name":"Misterh.shop (DRIVE)"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Access file \"index.css\" on Google Drive","operation":"update","fileId":{"__rl":true,"value":"1fkzSB3n_v6tFu2zZSxCoMY9jkS6qTJPa","mode":"id"},"changeFileContent":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Change_File_Content', ``, 'boolean') }}","newUpdatedFileName":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('New_Updated_File_Name', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleDriveTool","typeVersion":3,"position":[40,60],"id":"2bfae701-ddd3-497c-a1b6-5242eb5b5d67","name":"Update CSS Initial","credentials":{"googleDriveOAuth2Api":{"id":"P36va2523EqjU55B","name":"Misterh.shop (DRIVE)"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Access file \"index.html\" on Google Drive","operation":"update","fileId":{"__rl":true,"value":"11LpZlgGBTZJYzSpgPb4RgEbp-aqtcczJ","mode":"id"},"changeFileContent":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Change_File_Content', ``, 'boolean') }}","newUpdatedFileName":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('New_Updated_File_Name', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleDriveTool","typeVersion":3,"position":[200,60],"id":"e6634847-dc14-4611-91e2-7b474d953074","name":"Update HTML Initial","credentials":{"googleDriveOAuth2Api":{"id":"P36va2523EqjU55B","name":"Misterh.shop (DRIVE)"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Access file index.js on Google Drive","operation":"update","fileId":{"__rl":true,"value":"1osmO09rV-GsGA06IjcyRnzCUBetiXNmT","mode":"id"},"changeFileContent":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Change_File_Content', ``, 'boolean') }}","newUpdatedFileName":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('New_Updated_File_Name', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleDriveTool","typeVersion":3,"position":[380,60],"id":"596a103d-46c1-4bb5-b481-8b9f0e47dc0f","name":"Update JS Initial","credentials":{"googleDriveOAuth2Api":{"id":"P36va2523EqjU55B","name":"Misterh.shop (DRIVE)"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Access file \"index.html\" on Google Drive","operation":"download","fileId":{"__rl":true,"value":"11LpZlgGBTZJYzSpgPb4RgEbp-aqtcczJ","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDriveTool","typeVersion":3,"position":[1440,40],"id":"9e91dcae-2a61-4bae-bbca-caa36006386b","name":"Download CSS review","credentials":{"googleDriveOAuth2Api":{"id":"P36va2523EqjU55B","name":"Misterh.shop (DRIVE)"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"59ce714e-b6f4-4479-b010-d311eaf50694","leftValue":"={{ $json.output }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"d6eaf51d-a500-4965-bf66-68402b9d8b01","leftValue":"={{ $json.chatInput }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-540,-100],"id":"55da0a72-41b8-46e4-8249-79ec083a543e","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"b642cb97-db93-4dd2-8441-16a939a4e081","name":"chatInput","value":"={{ $('Wait').item.json.output[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-220,-180],"id":"5cdf9fa8-bb9a-4419-977c-3af9507dfcca","name":"Edit Fields"}],"connections":{"When chat message received":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Wait":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"If","type":"main","index":0}]]},"Download CSS Review":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Download JS Review":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Update CSS Initial":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Update HTML Initial":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Update JS Initial":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Download CSS review":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d790a974-3934-4be8-80a6-f13b4cbc78bf","triggerCount":0,"tags":[]}