création-app-sa2XK1bhtV6cccjR.json

{"createdAt":"2025-06-07T12:52:38.933Z","updatedAt":"2025-08-06T14:52:56.000Z","id":"sa2XK1bhtV6cccjR","name":"Création app","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-32,-1072],"id":"e873a3e5-5fb4-4bc1-8d57-37842bce5c07","name":"When chat message received","webhookId":"64372c78-ec9a-41a4-8222-78d8c8cee1ed"},{"parameters":{"promptType":"define","text":"=## ROLE\n\n- Tu es un reviewer expert. Tu dois analyser en détail du code HTML, CSS et donner des instructions claires pour améliorer ce code. Renvoie uniquement des instructions de modifications /  améliorations.\n\n- Voici les attentes de l'utilisateur: {{ $('When chat message received').item.json.chatInput }}\n\n- Si les fichiers sont vident, crée le prompte pour la création de se site web en respectant les demandes de l'utilisateur.\n\n- Si tu détectes des problèmes ou des pistes d’améliorations (design, structure, code JS inutilisé, responsive, etc...), propose des modifications ciblées.","options":{"systemMessage":"=\n\n## Analyse les fichiers HTML, CSS suivants:\n\n- Ficher HTML: {{ $('Extract HTML').item.json.data }}\n\n\n- Fichier CSS: {{ $('Extract CSS').item.json.data }}\n\n\n- Fichier JS: {{ $json.data }}\n\nTu devras tester toutes les fonctionnalités.\n\n\n\n\n## IMPORTANT\n\n- L’objectif est d’obtenir QUELQUE CHOSE de très fonctionnelle, esthétique et fluide.\n\n- Attention aux couleurs utilisées. LES CONTRASTES ENTRE LE FOND ET LE TEXTE DOIVENT ETRE LISIBLES\n\n- Les informations de modification que tu fourniras doivent etre claires et précises.\n\n- Veille bien a ce que la demande de l'utilisateur soit réspéctée.\n\n- Ta réponse doit être strictement sous le format d'un prompte qui guidera l'utilisateur pour effectuer ces changement sans phrase supplementaire\n\nexemple: Corrige les menus qui ne sont pas fonctionnels : ajoute un script pour gérer leur ouverture/fermeture. Améliore la lisibilité du texte dans la section principale. Optimise le CSS pour un affichage responsive sur mobile. Corrige les liens cassés dans le footer.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[2672,-256],"id":"5d30f8f4-1be6-4688-963d-ed7c57904ac0","name":"AI Agent1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2560,32],"id":"d78ae6bb-2cc9-4391-aed4-906c6779166e","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"dvW7sOBx2nN3N5iu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[32,16],"id":"9927a15f-514f-4d60-96e9-28828b3ff404","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"dvW7sOBx2nN3N5iu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1RCIPmbY7ASUBE-dCvQp7kAauXQrKwpa5","mode":"list","cachedResultName":"style.css","cachedResultUrl":"https://drive.google.com/file/d/1RCIPmbY7ASUBE-dCvQp7kAauXQrKwpa5/view?usp=drivesdk"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1440,-256],"id":"4ccb4c57-b980-4d68-a4be-56796297ab2e","name":"CSS","credentials":{"googleDriveOAuth2Api":{"id":"P36va2523EqjU55B","name":"Misterh.shop (DRIVE)"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"=1EF22KAk7itLEeaNdZLM4wfsZ_x5QoYYD","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1872,-256],"id":"87ce366d-5964-439b-96f3-4b194c966ba7","name":"HTML","credentials":{"googleDriveOAuth2Api":{"id":"P36va2523EqjU55B","name":"Misterh.shop (DRIVE)"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"=1yDP7QhvEB0lW0sRmwCs0-R3G28l9Q5my","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2304,-256],"id":"56422a4c-d50a-45c9-89d2-c98d7ea2f26b","name":"JS","credentials":{"googleDriveOAuth2Api":{"id":"P36va2523EqjU55B","name":"Misterh.shop (DRIVE)"}}},{"parameters":{"operation":"xml","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2512,-256],"id":"e8164e02-2fe3-4e80-bfce-65427c71d34f","name":"Extract JS"},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2080,-256],"id":"d9418eb0-fb5d-4028-9498-28a6e7974b66","name":"Extract HTML"},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1648,-256],"id":"c515646a-0fd7-44a6-9e6b-728e61407727","name":"Extract CSS"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}\n\n\n\n\n","hasOutputParser":true,"options":{"systemMessage":"=Tu es un excellent développeur web pour la france.\n\nTa mission : Modifier ou créer les fichiers suivants selon les instructions de l’utilisateur ({{ $json.chatInput }}).\n\nRetourne UN JSON au format suivant :\n\n{\n  \"html\": \"<!DOCTYPE html> …\",      // contenu complet de index.html\n  \"css\":  \"body { … }\",             // contenu complet de style.css\n  \"js\":   \"console.log('…');\"       // contenu complet de script.js\n}\n\n\nRépond uniquement en JSON (pas de texte libre), avec un objet contenant exactement ces deux clés.\n\n\n\n\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[112,-304],"id":"5ad7d774-fcf4-474c-b30e-8eac6c76573f","name":"AI Agent"},{"parameters":{"jsCode":"// Prend la sortie textuelle de l'AI Agent1 et la met dans chatInput\nreturn [\n  {\n    json: {\n      chatInput: $json.text || $json.output || $json.reply || \"\"\n    }\n  }\n]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3040,-256],"id":"62daac51-9413-47a5-9bf9-74a5d8d9c40f","name":"Code"},{"parameters":{"operation":"update","fileId":{"__rl":true,"value":"1EF22KAk7itLEeaNdZLM4wfsZ_x5QoYYD","mode":"id"},"changeFileContent":true,"inputDataFieldName":"=dataHtml","options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[832,-368],"id":"8f69c123-46ec-46ec-9cfb-1fd25a968d51","name":"html","credentials":{"googleDriveOAuth2Api":{"id":"P36va2523EqjU55B","name":"Misterh.shop (DRIVE)"}}},{"parameters":{"operation":"update","fileId":{"__rl":true,"value":"12ZTTZgzjTZw7ExRxLjPQWkf9xQ1Kun8u","mode":"id"},"changeFileContent":true,"inputDataFieldName":"dataCss","options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[832,-240],"id":"616ba553-88f5-476f-b641-2c3053868e85","name":"CSS1","credentials":{"googleDriveOAuth2Api":{"id":"P36va2523EqjU55B","name":"Misterh.shop (DRIVE)"}}},{"parameters":{"jsonSchemaExample":"{\n  \"html\": \"<!DOCTYPE html> …\",     \n  \"css\":  \"body { … }\",            \n  \"js\":   \"console.log('…');\"      \n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[384,16],"id":"72883954-7fd4-432b-ad73-381fc00490a6","name":"Structured Output Parser"},{"parameters":{"jsCode":"// --- 1. Récupère le texte HTML, CSS et JS renvoyés par l’agent ----------\nconst htmlText = $json.output?.html ?? '';\nconst cssText  = $json.output?.css  ?? '';\nconst jsText   = $json.output?.js   ?? '';\n\n// --- 2. Crée la structure binaire attendue par n8n ---------------------\nconst binary = {\n  dataHtml: {\n    data: Buffer.from(htmlText, 'utf8').toString('base64'),\n    mimeType: 'text/html',\n    fileName: 'index.html',\n  },\n  dataCss: {\n    data: Buffer.from(cssText, 'utf8').toString('base64'),\n    mimeType: 'text/css',\n    fileName: 'style.css',\n  },\n  dataJs: {\n    data: Buffer.from(jsText, 'utf8').toString('base64'),\n    mimeType: 'text/javascript',\n    fileName: 'script.js',\n  },\n};\n\n// --- 3. Retourne un nouvel item complet --------------------------------\nreturn {\n  json: $json,   // conserve le JSON d’origine\n  binary,        // ajoute les trois fichiers\n};\n\n\n\n\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,-304],"id":"435b8292-b9cb-4799-a55c-b2d8c784d592","name":"Code1"},{"parameters":{"operation":"update","fileId":{"__rl":true,"value":"=1yDP7QhvEB0lW0sRmwCs0-R3G28l9Q5my","mode":"id"},"changeFileContent":true,"inputDataFieldName":"dataJS","options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[832,-64],"id":"84b3a3a0-deb7-4393-89d5-3ad8b46fb3f3","name":"JS1","credentials":{"googleDriveOAuth2Api":{"id":"P36va2523EqjU55B","name":"Misterh.shop (DRIVE)"}}},{"parameters":{"content":"# CORRECTION","height":576,"width":1856,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1392,-400],"typeVersion":1,"id":"acbe326c-128d-47b5-86f7-c5dc5a3ea3f2","name":"Sticky Note"},{"parameters":{"content":"# CREATION","height":576,"width":1376,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-32,-400],"typeVersion":1,"id":"a20716a1-3c74-44a8-b16c-05b7908d3e2d","name":"Sticky Note1"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}\n\n\n\n\n","options":{"systemMessage":"=\nUtilise toujours l'outil list_tool pour connaitre les outils dont tu disposes et ensuite l'outil execute_tool pour repondre a la demande\n\n\n\n\n\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[448,-1088],"id":"448b1d70-ca83-410f-80e5-123a8a3eab98","name":"AI Agent2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[256,-720],"id":"701c8645-4d0e-498d-afdc-7d71d2f24b77","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"dvW7sOBx2nN3N5iu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sseEndpoint":"https://n8n.n8n-sbf-avocats.fr/mcp-test/create_drive"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[3264,-928],"id":"c83cdc4d-3ffb-417b-b8fc-697d07b145ea","name":"CREATE_FILES"},{"parameters":{},"type":"n8n-nodes-mcp.mcpClientTool","typeVersion":1,"position":[3008,-944],"id":"3906b6e7-6cf5-4274-a94f-75b3f4b657a9","name":"MCP Client","credentials":{"mcpClientApi":{"id":"e44e8e5Vv6yUG5fG","name":"MCP Client (STDIO) account 2"}}},{"parameters":{"sseEndpoint":"https://n8n.n8n-sbf-avocats.fr/mcp/google_drive"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[480,-720],"id":"8c765d37-4ba1-4e7c-8589-99f75808fb4e","name":"MCP Client1"},{"parameters":{"jsCode":"// Récupérer le buffer binaire du fichier\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n\n// Convertir le buffer en base64\nconst base64 = Buffer.from(buffer).toString('base64');\n\n// Si c'est un fichier texte (txt, csv, etc.), convertir en texte brut\nconst text = buffer.toString('utf8');\n\n// Générer la sortie\nreturn [\n  {\n    json: {\n      fileBase64: base64,\n      fileText: text,\n    },\n  },\n];"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.3,"position":[768,-720],"id":"76dc049e-ecf9-4193-ae33-e985fbc0cda6","name":"Code Tool"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1Tn2eTT_18HxdShHBd2pHkmaq8YRmZnsw","mode":"list","cachedResultName":"N8N creation app","cachedResultUrl":"https://drive.google.com/drive/folders/1Tn2eTT_18HxdShHBd2pHkmaq8YRmZnsw"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[1632,-928],"id":"277dd124-f453-41d2-bb3a-af0a6342ddc0","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"P36va2523EqjU55B","name":"Misterh.shop (DRIVE)"}}},{"parameters":{"promptType":"define","text":"=voici l'id du nouveau fichier {{ $json.id }}","options":{"systemMessage":"=Tu es un assistant de bureautique. ton role est de modifier le nom du nouveau fichier avec la date du jour et l'heure {{$now}}\n\nTu disposes pour cela de l'outil drive_tools."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[1952,-928],"id":"86f14e26-883a-4f3a-8459-981874235c4a","name":"AI Agent3"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1824,-656],"id":"e5886bdc-6ce2-4d95-b73f-74e57ae4f8a6","name":"Google Gemini Chat Model3","credentials":{"googlePalmApi":{"id":"dvW7sOBx2nN3N5iu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sseEndpoint":"https://n8n.n8n-sbf-avocats.fr/mcp/google_drive"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[2304,-624],"id":"031a6c29-8d18-4a21-8ca4-0f5637942d43","name":"drive_tools"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"CSS":{"main":[[{"node":"Extract CSS","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Extract HTML","type":"main","index":0}]]},"JS":{"main":[[{"node":"Extract JS","type":"main","index":0}]]},"Extract JS":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Extract HTML":{"main":[[{"node":"JS","type":"main","index":0}]]},"Extract CSS":{"main":[[{"node":"HTML","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"html":{"main":[[{"node":"CSS","type":"main","index":0}]]},"CSS1":{"main":[[{"node":"CSS","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Code1":{"main":[[{"node":"html","type":"main","index":0},{"node":"CSS1","type":"main","index":0},{"node":"JS1","type":"main","index":0}]]},"JS1":{"main":[[{"node":"CSS","type":"main","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"CREATE_FILES":{"ai_tool":[[]]},"AI Agent2":{"main":[[]]},"MCP Client":{"ai_tool":[[]]},"MCP Client1":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"Code Tool":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"Google Drive Trigger":{"main":[[{"node":"AI Agent3","type":"main","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"drive_tools":{"ai_tool":[[{"node":"AI Agent3","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2025-08-06T17:42:16Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Google Drive Trigger":[{"json":{"parents":["1Tn2eTT_18HxdShHBd2pHkmaq8YRmZnsw"],"lastModifyingUser":{"displayName":"MIS TERH","kind":"drive#user","me":true,"permissionId":"07230586203253030658","emailAddress":"misterh.shop@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocK3aOCh9hhgQ7aM1GVzZgg004N1bZDZ2rpC8c4iBJPibf-EBw=s64"},"owners":[{"displayName":"MIS TERH","kind":"drive#user","me":true,"permissionId":"07230586203253030658","emailAddress":"misterh.shop@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocK3aOCh9hhgQ7aM1GVzZgg004N1bZDZ2rpC8c4iBJPibf-EBw=s64"}],"permissions":[{"kind":"drive#permission","id":"07230586203253030658","type":"user","emailAddress":"misterh.shop@gmail.com","role":"owner","displayName":"MIS TERH","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocK3aOCh9hhgQ7aM1GVzZgg004N1bZDZ2rpC8c4iBJPibf-EBw=s64","deleted":false,"pendingOwner":false}],"spaces":["drive"],"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":true,"canChangeItemDownloadRestriction":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canComment":true,"canCopy":true,"canDelete":true,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":true,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":true,"canUntrash":true},"permissionIds":["07230586203253030658"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"kind":"drive#file","id":"1uj1WVFPtLT-HfRnGNbpfmkW6GAEQkOnJ","name":"Nouveau document texte (2).txt","mimeType":"text/plain","starred":false,"trashed":false,"explicitlyTrashed":false,"version":"2","webContentLink":"https://drive.google.com/uc?id=1uj1WVFPtLT-HfRnGNbpfmkW6GAEQkOnJ&export=download","webViewLink":"https://drive.google.com/file/d/1uj1WVFPtLT-HfRnGNbpfmkW6GAEQkOnJ/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/text/plain","hasThumbnail":false,"thumbnailVersion":"0","viewedByMe":true,"viewedByMeTime":"2025-08-06T14:08:08.419Z","createdTime":"2025-08-06T14:08:08.419Z","modifiedTime":"2025-08-06T14:08:07.311Z","modifiedByMeTime":"2025-08-06T14:08:07.311Z","modifiedByMe":true,"shared":false,"ownedByMe":true,"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"originalFilename":"","fullFileExtension":"txt","fileExtension":"txt","md5Checksum":"d41d8cd98f00b204e9800998ecf8427e","size":"0","quotaBytesUsed":"0","headRevisionId":"0Bw82pQgaX2ojTE5ScVNTcHhjK1lacFdmUWxmZDhldFN3aVh3PQ","isAppAuthorized":false,"inheritedPermissionsDisabled":false}}]},"versionId":"7ca2b86e-f496-47fd-80b1-cc4bad7ffa42","triggerCount":2,"tags":[]}