intraday_analyse-dEBC3yUhm2YQbqEu.json

{"createdAt":"2025-05-07T05:11:56.248Z","updatedAt":"2025-09-29T14:39:23.000Z","id":"dEBC3yUhm2YQbqEu","name":"Intraday_Analyse","active":true,"isArchived":false,"nodes":[{"parameters":{"numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-560,-624],"id":"f4acef39-e10e-4b33-a10a-25b1374b3015","name":"Merge"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-384,-592],"id":"934912e6-860d-442b-808a-cc52a1c8fc8f","name":"Aggregate"},{"parameters":{"jsCode":"// Limites par timeframe\nconst maxPerTF = { \"1min\": 500, \"15min\": 40, \"1h\": 60, \"1d\": 100 };\n\n// Récupération des datasets\n// Cette partie est bonne et n'a pas besoin de changer\nlet datasets = [];\nif (items[0]?.json?.data?.length) {\n  datasets = items[0].json.data;\n} else {\n  datasets = items.map(it => it.json);\n}\n\nconst perTF = {}; // { tf: [bougies...] }\n\n// On parcourt chaque dataset (un par intervalle de temps)\nfor (const ds of datasets) {\n  // On ignore les entrées qui sont des erreurs ou qui n'ont pas de valeurs\n  if (ds.status !== 'ok' || !ds.values || !ds.meta) {\n    continue;\n  }\n\n  const meta = ds.meta;\n  const tf = meta.interval; // On récupère l'intervalle depuis meta.interval\n\n  if (!perTF[tf]) {\n    perTF[tf] = [];\n  }\n\n  // On parcourt le tableau 'values' qui contient les bougies\n  for (const candle of ds.values) {\n    // Les valeurs sont des chaînes de caractères, il faut les convertir en nombres\n    const o = parseFloat(candle.open);\n    const h = parseFloat(candle.high);\n    const l = parseFloat(candle.low);\n    const c = parseFloat(candle.close);\n    const v = parseInt(candle.volume, 10);\n\n    // On ignore les bougies avec des données invalides après conversion\n    if ([o, h, l, c, v].some(isNaN)) {\n      continue;\n    }\n    \n    // La date est une chaîne, on la convertit en timestamp UNIX (en secondes)\n    const timestamp = new Date(candle.datetime).getTime() / 1000;\n\n    perTF[tf].push({\n      tf,\n      time: timestamp,\n      open: o,\n      high: h,\n      low: l,\n      close: c,\n      volume: v,\n      range: h - l,\n      body: Math.abs(c - o),\n      dir: c > o ? 1 : c < o ? -1 : 0,\n      heure_humaine: new Date(timestamp * 1000).toLocaleString(\n        'fr-FR',\n        { timeZone: \"Europe/Paris\", hour12: false }\n      ),\n      // Note: gmtoffset n'est pas dans vos données, donc heure_exchange est basée sur UTC\n      heure_exchange_utc: new Date(timestamp * 1000).toISOString()\n    });\n  }\n}\n\n// Appliquer les limites par UT puis fusionner (cette partie est aussi correcte)\nlet out = [];\nfor (const [tf, arr] of Object.entries(perTF)) {\n  const max = maxPerTF[tf] || arr.length;\n  // On trie par date au cas où les données ne seraient pas dans l'ordre chronologique\n  arr.sort((a, b) => a.time - b.time);\n  out = out.concat(arr.slice(-max));\n}\n\n// On trie le résultat final pour être sûr\nout.sort((a, b) => a.time - b.time);\n\nreturn [{\n  json: {\n    nb_bougies: out.length,\n    derniere_bougie: out[out.length - 1] || null,\n    bougies: out\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-192,-592],"id":"09668f2e-dddc-473e-9f01-a85202580e12","name":"Code"},{"parameters":{"url":"https://newsapi.org/v2/everything","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $json.queries.fr }}"},{"name":"apiKey","value":"7b78d57dbcbb4ea5bebeaed64f5a082a"},{"name":"from","value":"={{ new Date(Date.now() - 3 * 24 * 60 * 60 * 1000).toISOString().split('T')[0] }}"},{"name":"sortBy","value":"publishedAt"},{"name":"pageSize","value":"50"},{"name":"language","value":"fr"},{"name":"searchIn","value":"title,description"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-592,192],"id":"28270308-9e77-4844-8086-fb2cf34e056e","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"16Sp9YLnTnqbOAY2","name":"News API"}}},{"parameters":{"promptType":"define","text":"=# Rôle\nTu es analyste spécialisé en sentiment crypto.\n\n# Objectif\nLis les articles transmis et produis une double analyse de sentiment :\n- Court terme : impact immédiat, volatilité, news récentes (catégorie : Positif/Neutre/Négatif, score : -1 à 1, justification synthétique)\n- Long terme : fondamentaux, régulation, macroéconomie, adoption (catégorie : Positif/Neutre/Négatif, score : -1 à 1, justification synthétique)\n\n# Instructions\n- Sois factuel, direct, sans markdown ni emoji.\n- Justifie chaque score en 2-3 phrases maximum.\n- Sors strictement au format JSON :\n\n{\n  \"shortTermSentiment\": {\n    \"category\": \"\",\n    \"score\": null,\n    \"rationale\": \"\"\n  },\n  \"longTermSentiment\": {\n    \"category\": \"\",\n    \"score\": null,\n    \"rationale\": \"\"\n  }\n}\n\n# Contenu à analyser\nUtilise : {{ JSON.stringify($json.articles) }}\n\n\n\n","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-352,192],"id":"2cfbd7e2-3483-4b1c-868f-a2289c374fd5","name":"Basic LLM Chain"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-384,384],"id":"98ec6047-5387-4cd2-ac26-8d0df3ab8506","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"dvW7sOBx2nN3N5iu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[576,-192],"id":"81b22bed-d781-4fb9-bbf8-5bbaefd082a7","name":"Merge1"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[800,-192],"id":"cb26e96f-8735-4a6c-b503-34778ad1cd30","name":"Aggregate1"},{"parameters":{"httpMethod":"POST","path":"send_action","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1568,-592],"id":"1586080c-ec52-4d97-82e7-a082f564ede4","name":"Webhook","webhookId":"927ababb-f7dc-4389-ab4d-e2e9bb2782cb"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1632,-368],"id":"fb1e74c0-9acf-4869-ad38-ddb82a66b236","name":"Respond to Webhook"},{"parameters":{"promptType":"define","text":"=Résume ce texte en 100 mots maximum avec les informations les plus importantes:  {{ $json.output }}","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1712,416],"id":"4c385955-82c4-4148-8b1c-900c5d0b1aff","name":"Basic LLM Chain1"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1712,736],"id":"7b09dd00-0ce8-49eb-bc6e-2c0b5fc0e5f3","name":"Google Gemini Chat Model3","credentials":{"googlePalmApi":{"id":"dvW7sOBx2nN3N5iu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      //text: $node[\"Basic LLM Chain1\"].json.text,\n      detailed: $node[\"AI Agent1\"].json.output\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,-368],"id":"c724c567-6db0-4466-966b-f29c0eda99a2","name":"Code1"},{"parameters":{"promptType":"define","text":"={{ JSON.stringify($node[\"Code\"].json.bougies, null, 2) }}\n\n\n","options":{"systemMessage":"=Tu es **\"Alpha\"**, un analyste de trading expert pour un fonds propriétaire.  \nTon analyse est froide, objective et basée sur des probabilités.  \nTu analyses les données de bougies de l'action `{{ $('Webhook').item.json.body.symbol }}` pour fournir des plans de trading intraday exploitables.\n\n## 🛡️ RÈGLE D'OR (TA PHILOSOPHIE)\nTa mission n'est pas de prédire, mais de **préparer**.  \nLe marché est une bataille entre acheteurs (*Bulls*) et vendeurs (*Bears*).  \nTon analyse doit d'abord identifier le **champ de bataille** (zones clés), puis évaluer les forces de chaque camp avant de recommander une action.  \nUne zone n'est pas une certitude, c'est une **opportunité de réaction**.  \nTu dois donc systématiquement présenter le cas pour les **Bulls** ET pour les **Bears**.\n\n---\n\n## 📊 TES DONNÉES\n- **Tableau de bougies** : `timestamp`, `open`, `high`, `low`, `close`, `volume`, `heure_humaine`\n- **Macroéconomie et news du jour** : `{{ $json.data[1].text }}`\n- **Timeframes à analyser** : 1D, 1H, 15M, 1M\n\n---\n\n## 🎯 OBJECTIF\n1. **Analyser la structure de marché** (1D, 1H) pour définir la tendance de fond.  \n2. **Identifier les zones d'intérêt intraday** (15M, 1M) :  \n   - Order Block (OB)  \n   - FVG (Fair Value Gap)  \n   - Breaker Block  \n   - Zones de liquidité (Buy-side & Sell-side)\n3. **Évaluer la dynamique actuelle** :  \n   - Mouvement impulsif (fort) ou correctif (faible)  \n   - Volume confirmant ou non la direction\n4. **Formuler un plan complet** avec recommandation directe.\n\n---\n\n## 📄 STRUCTURE DE RÉPONSE ATTENDUE (Format strict, sans introduction)\n\n### 1. RESUME DE L'ANALYSE\n- **Tendance de Fond** (H1/1D) :  \n- **Volatilité & Volume** (Session Actuelle) :  \n- **Narratif du Jour** : synthèse en 1 phrase.  \n  *Exemple : \"Les vendeurs contrôlent la tendance sur fond de news négatives, mais les acheteurs tentent une contre-attaque depuis l'ouverture US, créant un conflit sur la zone de résistance majeure à X€.\"*\n- Conseil & Recommandation Immédiate\n**[VENDRE]**: Confiance : Élevée / Moyenne / Faible, Condition : valide UNIQUEMENT si déclencheur vendeur actif maintenant  \n\n**[ACHETER]**: Confiance : Élevée / Moyenne / Faible, Condition : valide UNIQUEMENT si déclencheur acheteur actif maintenant  \n\n**[ATTENDRE]** Raison : pas de zone d’action claire ou R:R défavorable  \n- Action à surveiller :  \n  - Pour une VENTE : attendre zone vendeuse + signe de rejet  \n  - Pour un ACHAT : attendre zone acheteuse + signe de rebond OU cassure du niveau d’invalidation vendeur\n\n---\n\n### 2. Analyse des Forces en Présence\n**Arguments pour une VENTE (Bear Case)**  \n- Liste des zones (OB, FVG baissiers, résistances) favorisant les vendeurs  \n- Indique heure + niveau de prix + pourquoi la zone est pertinente\n\n**Arguments pour un ACHAT (Bull Case)**  \n- Liste des zones (OB, FVG haussiers, supports) favorisant les acheteurs  \n- Évaluer la force du momentum acheteur\n\n---\n\n### 3. Synthèse & Plan de Trading\n**Plan Principal (scénario le plus probable)**  \n- Action : `[VENDRE]` ou `[ACHETER]`  \n- Déclencheur : condition précise  \n- Cible(s) :  \n- Invalidation (Stop-Loss) :  \n\n**Plan Alternatif (si le plan principal échoue)**  \n- Action : `[VENDRE]` ou `[ACHETER]`  \n- Déclencheur :  \n- Cible(s) :  \n- Invalidation (Stop-Loss) :  \n\n---\n\n### 4. Notation du Plan Principal\n- **Confiance Globale** : ★★★★★ /5  \n- **Clarté du Setup** : /5  \n- **Ratio Risque/Récompense Potentiel** : /5\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[1040,-368],"id":"b5f3dc14-2941-4782-9c8a-786829ce2eb2","name":"AI Agent1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1008,-48],"id":"68c90e1b-863a-4c61-b5f9-4250bed220f0","name":"Google Gemini Chat Model4","credentials":{"googlePalmApi":{"id":"dvW7sOBx2nN3N5iu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2144,368],"id":"df9d5048-1978-4a12-8ca4-2588c756f364","name":"Merge2"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.body.symbol }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1200,-48],"id":"04c66243-9f88-43b3-a625-0437091d66af","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"kplKRIiTUIKSbjxH","name":"Agent_Analyste_Bourse"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-1680,-1824],"id":"55c81ae5-8565-49ae-a922-18741ec813bc","name":"When chat message received","webhookId":"be72fedc-0ed3-45b6-a9dc-d97cb9c08715"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[832,-1200],"id":"8fff7fef-e1aa-458f-9e82-bca99e055b8e","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[656,-1024],"id":"3119a419-44a9-483c-9289-5c28672fc72e","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"dvW7sOBx2nN3N5iu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"=bougie {{ $('Webhook').item.json.body.symbol }}","message":"={{ $json.message }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[208,-384],"id":"8832cffa-4f44-4f16-9565-58086d526e42","name":"Insert rows in a table","credentials":{"postgres":{"id":"kplKRIiTUIKSbjxH","name":"Agent_Analyste_Bourse"}}},{"parameters":{"jsCode":"// items = [{ json: { ... } }]\nconst input = items[0].json;\n\nreturn [\n  {\n    json: {\n      message: {\n        bougies: input.bougies,\n        nb_bougies: input.nb_bougies,\n        derniere_bougie: input.derniere_bougie\n      }\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,-384],"id":"4e316366-9dd4-43cd-aea9-2c3271c463f4","name":"Code2"},{"parameters":{"content":"# RECUPERATION DE BOUGIES + FORMATAGE","height":800,"width":1600,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1664,-960],"typeVersion":1,"id":"8585abfd-6e64-4aa9-ad28-81330ce0bd38","name":"Sticky Note"},{"parameters":{"content":"## Envoi de toutes les bougies dans BDD (pour un symbol choisi)","height":288,"width":416,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-48,-512],"typeVersion":1,"id":"e49b16de-977c-49cf-88d9-33719bcc620c","name":"Sticky Note1"},{"parameters":{"content":"## Analyse de la fiabilité des prédictions","height":416,"width":848,"color":3},"type":"n8n-nodes-base.stickyNote","position":[400,-1280],"typeVersion":1,"id":"c1893974-b648-41d7-bd78-e95c7a37a7bd","name":"Sticky Note2"},{"parameters":{"content":"## Analyse complète + résumé","height":736,"width":1344,"color":7},"type":"n8n-nodes-base.stickyNote","position":[464,-512],"typeVersion":1,"id":"d985495f-ad91-4132-8eed-2c2f7e93265f","name":"Sticky Note3"},{"parameters":{"content":"# Analyse média","height":464,"width":1168,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-1232,64],"typeVersion":1,"id":"76dd2aab-f079-4eed-acb6-736ce0f3fd88","name":"Sticky Note4"},{"parameters":{"jsCode":"const meta = items[0].json.chart.result[0].meta;\n\nfunction cleanCompanyName(name) {\n  // Retire les formes juridiques courantes\n  return name\n    .replace(/\\bS\\.?A\\.?\\b/gi, \"\")\n    .replace(/\\bS\\.?E\\.?\\b/gi, \"\")\n    .replace(/\\bSoci[eé]t[eé]\\s+(Europ[eé]enne|Anonyme)\\b/gi, \"\")\n    .replace(/\\bInc\\.?\\b/gi, \"\")\n    .replace(/\\bCorporation\\b/gi, \"\")\n    .replace(/\\bCorp\\.?\\b/gi, \"\")\n    .replace(/\\bLtd\\.?\\b/gi, \"\")\n    .replace(/\\bPLC\\b/gi, \"\")\n    .replace(/\\s{2,}/g, \" \") // supprime les espaces multiples\n    .trim();\n}\n\n// Nom long avec et sans accents\nconst longNameClean = cleanCompanyName(meta.longName);\nconst longNameNoAccent = longNameClean.normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\");\n\nconst queries = [\n  `\"${meta.symbol}\"`,\n  `${meta.exchangeName ? meta.exchangeName.toUpperCase() + \":\" + meta.symbol.replace(\".\" + meta.exchangeName, \"\") : meta.symbol}`,\n  `\"${meta.shortName}\"`,\n  `\"${longNameClean}\"`,\n  `\"${longNameNoAccent}\"`\n];\n\nreturn [\n  {\n    json: {\n      queries: {\n        fr: queries.join(\" OR \"),\n        en: queries.join(\" OR \")\n      }\n    }\n  }\n];\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-848,192],"id":"162f42f7-5c8f-48bb-93dd-0e4465d761d0","name":"Code3"},{"parameters":{"url":"=https://query1.finance.yahoo.com/v8/finance/chart/{{ $json.body.symbol }}?interval=1d&range=1d","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1056,192],"id":"f0f47dcd-a3ee-40ba-a6ee-3354f65c4352","name":"Recup_Name_symbol"},{"parameters":{"url":"=https://query1.finance.yahoo.com/v8/finance/chart/{{ $json.body.symbol }}?interval=1m&range=7d&includePrePost=true","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1264,-576],"id":"178d0987-c912-42a1-b7a7-7638f6de40c3","name":"Seed 1m 7d"},{"parameters":{"jsCode":"/**\n * Sort d'un chart Yahoo la dernière séance TERMINÉE en secondes UNIX :\n *  - EXTENDED=true => pré + RTH + post\n *  - EXTENDED=false => RTH uniquement\n * Fallback si pas de tradingPeriods: on remonte au dernier bloc de minutes cohérent.\n */\nconst EXTENDED = true;               // tu pourras le brancher sur un flag du Webhook plus tard\nconst SHIFT_DAYS_MAX = 10;           // on remonte jusqu'à 10 jours si fériés/WE\nconst SEED = items[0].json;          // réponse du HTTP Request \"Seed 1m 7d\"\n\nfunction pickLastSessionWindow(chart) {\n  const now = Math.floor(Date.now() / 1000);\n  const res = chart?.result?.[0];\n  if (!res) throw new Error(\"Chart vide\");\n\n  const meta = res.meta || {};\n  const tz = meta.exchangeTimezoneName || \"UTC\";\n  const gmtoffset = meta.gmtoffset || 0;\n  const tp = res.tradingPeriods || {};\n  const ts = res.timestamp || [];\n\n  // util: y a-t-il des bougies dans [start, end) ?\n  function hasData(start, end) {\n    // bsearch light\n    for (let i = 0; i < ts.length; i++) {\n      const t = ts[i];\n      if (t >= end) break;\n      if (t >= start && t < end) return true;\n    }\n    return false;\n  }\n\n  // 1) Cas standard: tradingPeriods présent (actions/ETF)\n  const regBlocks = tp?.regular?.[0] || [];\n  const preBlock  = tp?.pre?.[0]?.[0]  || null;\n  const postBlock = tp?.post?.[0]?.[0] || null;\n\n  if (regBlocks.length) {\n    const baseRegStart = regBlocks[0].start;\n    const baseRegEnd   = regBlocks[regBlocks.length - 1].end;\n    const basePreStart = (preBlock?.start ?? baseRegStart);\n    const basePostEnd  = (postBlock?.end  ?? baseRegEnd);\n\n    const baseStart = EXTENDED ? basePreStart : baseRegStart;\n    const baseEnd   = EXTENDED ? basePostEnd  : baseRegEnd;\n\n    for (let d = 0; d <= SHIFT_DAYS_MAX; d++) {\n      const start = baseStart - d * 86400;\n      const end   = baseEnd   - d * 86400;\n\n      // on veut une séance qui est *déjà finie* et avec data\n      if (now >= end && hasData(start, end)) {\n        return { period1: start, period2: end, tz, gmtoffset, symbol: meta.symbol || null };\n      }\n    }\n  }\n\n  // 2) Fallback (crypto / marchés 24/7 ou pas de tradingPeriods):\n  // On prend le dernier timestamp \"plein\" et on forme une fenêtre ~12h autour\n  if (ts.length) {\n    const last = ts[ts.length - 1];\n    // éviter la bougie en cours\n    const lastFull = Math.min(last, now - 60);\n    const period2 = lastFull + 60;\n    const period1 = lastFull - 12 * 3600; // 12h de fenêtre raisonnable\n    return { period1, period2, tz, gmtoffset, symbol: meta.symbol || null };\n  }\n\n  throw new Error(\"Impossible de déduire une fenêtre de séance.\");\n}\n\nconst chart = SEED?.chart;\nconst win = pickLastSessionWindow(chart);\n\nreturn [{ json: win }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1056,-576],"id":"2ce10b21-a990-4ab2-8a8e-00e3232b18b1","name":"Compute period window"},{"parameters":{"url":"=https://api.twelvedata.com/time_series\n\n","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"={{ $json.chatInput }}"},{"name":"interval","value":"15min"},{"name":"outputsize","value":"60"},{"name":"apikey","value":"ee6a290787f341849d49e5b7110b63c1"},{"name":"timezone","value":"Europe/Paris"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-928,-2096],"id":"592cfa96-279f-4473-bb4a-7ed707b86372","name":"vue d'ensemblex1"},{"parameters":{"url":"=https://api.twelvedata.com/time_series\n\n","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"={{ $json.chatInput }}"},{"name":"interval","value":"5min"},{"name":"outputsize","value":"30"},{"name":"apikey","value":"ee6a290787f341849d49e5b7110b63c1"},{"name":"timezone","value":"Europe/Paris"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-928,-1824],"id":"9bb12e6a-1adb-4a0f-b615-5d4909cceab4","name":"requete reguliere"},{"parameters":{"jsCode":"// $json représente la réponse de l'API Twelve Data\nconst response = $json;\n\ntry {\n  const rows = response.values;\n  if (!Array.isArray(rows) || rows.length === 0) {\n    return [{ json: { error: \"Aucune bougie reçue de l'API.\" } }];\n  }\n\n  // Tri du plus ancien au plus récent\n  const sorted = rows\n    .slice()\n    .sort((a, b) => {\n      // \"YYYY-MM-DD HH:mm:ss\" -> \"YYYY-MM-DDTHH:mm:ss\" pour Date()\n      const ta = new Date(a.datetime.replace(' ', 'T')).getTime();\n      const tb = new Date(b.datetime.replace(' ', 'T')).getTime();\n      return ta - tb;\n    })\n    .map(b => {\n      const [date, time] = b.datetime.split(' ');\n      return {\n        date,\n        heure: time,\n        open: Number(b.open),\n        high: Number(b.high),\n        low: Number(b.low),\n        close: Number(b.close),\n        volume: Number(b.volume),\n        datetime: b.datetime\n      };\n    });\n\n  // ✅ n8n attend un tableau d'items { json: {...} }\n  return sorted.map(candle => ({ json: candle }));\n\n} catch (error) {\n  return [{ json: { error: String(error) } }];\n}\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-720,-1824],"id":"587b8267-209f-4fb5-bb39-2d24aad4e41a","name":"Code4"},{"parameters":{"content":"## ZONE D'OBSERVATION -- 4 bougies de 1 minute (récurrence 10mn) ","height":256,"width":832,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1168,-1920],"typeVersion":1,"id":"44f06400-722c-4e5a-9a0a-484a156bbef0","name":"Sticky Note5"},{"parameters":{"url":"=https://api.twelvedata.com/time_series\n\n","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"={{ $json.chatInput }}"},{"name":"interval","value":"1min"},{"name":"outputsize","value":"10"},{"name":"apikey","value":"ee6a290787f341849d49e5b7110b63c1"},{"name":"timezone","value":"Europe/Paris"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-928,-1520],"id":"2b9e36ff-06c7-43ca-9457-ada462aebe39","name":"requete reguliere1"},{"parameters":{"jsCode":"// $json représente la réponse de l'API Twelve Data\nconst response = $json;\n\ntry {\n  // On extrait simplement la liste des bougies\n  const bougies = response.values;\n\n  // On s'assure que les valeurs numériques sont bien des nombres\n  const formattedBougies = bougies.map(b => ({\n    datetime: b.datetime,\n    open: parseFloat(b.open),\n    high: parseFloat(b.high),\n    low: parseFloat(b.low),\n    close: parseFloat(b.close),\n    volume: parseInt(b.volume)\n  }));\n\n  // On retourne un objet propre avec la liste des bougies\n  return [{\n    json: {\n      dernieres_bougies: formattedBougies\n    }\n  }];\n\n} catch (e) {\n  return [{\n    json: {\n      error: \"Impossible de formater les données de l'API.\",\n      details: e.message\n    }\n  }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-720,-1520],"id":"fde71cbc-e68a-4f58-b2af-3f481c93b24a","name":"Code5"},{"parameters":{"content":"## VUE D'ENSEMBLE (2 jours toutes les 15minutes)","height":256,"width":832,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-1168,-2192],"typeVersion":1,"id":"15d8b1a9-a3b9-4ac6-a539-32955aa42c6f","name":"Sticky Note7"},{"parameters":{"content":"## PROMPTE","height":256,"width":272,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1760,-1888],"typeVersion":1,"id":"aa4e31c4-faf8-4e21-b739-09a2d7359ae5","name":"Sticky Note8"},{"parameters":{"content":"## ZONE D'ATTAQUE (10 bougies de 1 minute)","height":256,"width":816,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1152,-1616],"typeVersion":1,"id":"e78c719a-5fce-4ca0-a3ff-0ebd8eaee077","name":"Sticky Note6"},{"parameters":{"content":"# NASDAQ\n## ETAPE 1: Données de l'action sur 2 jours\n## ETAPE 2: Scan 4 bougies d'une minute toutes les 10 minnutes*\n## ETAPE 3: Scan 10 bougies d'une minute régulièrement (pour entrer sur le marché)\n\n## Déclenché par chat avec entrée du symbol ##","height":928,"width":1824,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-2128,-2240],"typeVersion":1,"id":"b9523f54-c1da-4f88-bb3f-546c3e10e9e9","name":"Sticky Note9"},{"parameters":{"jsCode":"// $json représente la réponse de l'API Twelve Data\nconst response = $json;\n\ntry {\n  const rows = response.values;\n  if (!Array.isArray(rows) || rows.length === 0) {\n    return [{ json: { error: \"Aucune bougie reçue de l'API.\" } }];\n  }\n\n  // Tri du plus ancien au plus récent\n  const sorted = rows\n    .slice()\n    .sort((a, b) => {\n      // \"YYYY-MM-DD HH:mm:ss\" -> \"YYYY-MM-DDTHH:mm:ss\" pour Date()\n      const ta = new Date(a.datetime.replace(' ', 'T')).getTime();\n      const tb = new Date(b.datetime.replace(' ', 'T')).getTime();\n      return ta - tb;\n    })\n    .map(b => {\n      const [date, time] = b.datetime.split(' ');\n      return {\n        date,\n        heure: time,\n        open: Number(b.open),\n        high: Number(b.high),\n        low: Number(b.low),\n        close: Number(b.close),\n        volume: Number(b.volume),\n        datetime: b.datetime\n      };\n    });\n\n  // ✅ n8n attend un tableau d'items { json: {...} }\n  return sorted.map(candle => ({ json: candle }));\n\n} catch (error) {\n  return [{ json: { error: String(error) } }];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,-2080],"id":"37f706ef-9bfd-4ff6-91ea-acbcd1f0bf98","name":"Code6"},{"parameters":{"content":"## PROMPT COMPLET : MENTOR DE TRADING INTRADAY\n# CONTEXTE & PERSONA\nTu es \"Alpha\", un mentor et analyste de trading professionnel spécialisé en intraday. Ta mission est de m'accompagner pendant une session de trading simulée sur une action spécifique. Tu dois analyser les données de bougies que je te fournis (15 minutes pour la vue d'ensemble, 1 minute pour le temps réel) et me guider pas à pas.\nTon approche est basée sur la discipline, la gestion du risque et les concepts de \"Smart Money\" (Order Blocks, FVG, liquidité). Tu ne donnes jamais de certitudes, mais des plans basés sur des probabilités. Tu dois m'expliquer CHAQUE concept que tu utilises avec des analogies simples (le plongeoir, la rivière, le sniper, etc.) pour que je comprenne la logique derrière chaque décision.\n# PROCESSUS DE LA SIMULATION\nLa simulation se déroule en 3 phases. Tu dois guider chaque phase.\n## PHASE 1 : PRÉPARATION (AVANT L'OUVERTURE OU AU DÉBUT)\nDemande les données de \"Vue d'Ensemble\" : Commence par me demander de te fournir les données des bougies 15 minutes sur les 2 derniers jours.\nAnalyse et établis le Plan de Bataille : Une fois que je te donne les données, fournis une analyse complète et structurée :\nAnalyse de la Vue d'Ensemble (15M) :\nTendance de Fond : Haussière, Baissière ou Range ?\nZones Clés : Identifie et explique les zones de support et de résistance les plus importantes. Trouve les Order Blocks (OB) et les Fair Value Gaps (FVG) majeurs laissés par la veille. Explique pourquoi ce sont des zones importantes.\nPlan de Trading pour la Session :\nBiais du Jour : Uniquement Acheteur, Vendeur, ou Neutre ?\nPlan Principal (Haute Probabilité) : Décris le scénario idéal. Précise la Zone d'Achat/Vente Clé, le Déclencheur (le signal de confirmation en 1 minute que l'on attendra), le Stop-Loss (le niveau d'invalidation) et les Cibles (objectifs de gain).\nPlan Alternatif (Probabilité Moyenne) : Décris un deuxième scénario si le plan principal ne se présente pas.\nConseil Immédiat : Termine toujours par une recommandation claire pour le début de session, qui sera presque toujours [ATTENDRE ET OBSERVER].\n## PHASE 2 : SUIVI EN TEMPS RÉEL (PENDANT LA SESSION)\nDemande les mises à jour : Après avoir établi le plan, demande-moi de t'envoyer les 5 dernières bougies 1 minute toutes les 10-15 minutes. Si le prix approche d'une zone clé, demande-moi les 10 dernières bougies pour plus de précision.\nAnalyse chaque mise à jour : Pour chaque nouvelle donnée que je t'envoie, fournis une analyse concise :\nAnalyse de la Situation : Décris le mouvement récent. Le prix monte, descend, consolide ?\nDétection de Patterns (1M) : Y a-t-il des micro OB ou FVG qui se forment ? Explique ce qu'ils signifient.\nMise à Jour du Plan : Compare la situation actuelle à notre plan de bataille. Sommes-nous proches d'une zone ? Le plan est-il toujours valide ?\n                 ].\n## PHASE 3 : GESTION DU TRADE (SI UNE POSITION EST OUVERTE)\nSi un déclencheur est activé : Confirme l'ordre d'entrée. Rappelle-moi le prix d'entrée, le Stop-Loss et la Cible.\nSuivi de la position : À chaque nouvelle mise à jour, commente l'état du trade (en gain latent, en perte latente).\nDiscipline : Rappelle-moi de ne pas toucher au Stop-Loss et de laisser le plan se dérouler. Explique la psychologie du moment (gérer la peur si le trade est en perte, gérer l'euphorie s'il est en gain).\nConclusion du Trade : Confirme si la Cible ou le Stop-Loss a été atteint et fais un bilan de l'opération (gain/perte, et leçons apprises).\n# PRINCIPES CLÉS & RÈGLES DE CONDUITE\nPédagogie avant tout : Explique le \"pourquoi\" de chaque décision. Définis chaque terme technique (OB, FVG, BOS, liquidité) avec une analogie la première fois que tu l'utilises.\nGestion du Risque : Le Stop-Loss est non négociable. Mentionne-le dans chaque plan.\nPatience : Insiste sur l'importance d'attendre que le prix vienne à nos zones, et non l'inverse.\nClarté : Utilise des instructions directes et sans ambiguïté.\n- **Analyse Coût/Bénéfice (Règle des Frais) : Pour chaque plan de trading que tu proposes, tu dois :\n    1. Calculer le **Risque Net** (Perte du Stop-Loss).\n    2. Calculer la **Récompense Nette** (Gain de la Cible).\n    3. Calculer le **Ratio Risque/Récompense NET**.\n    4. **Rejeter explicitement** tout plan de trading dont le ratio R/R net est inférieur à **1.5:1**. Tu dois m'expliquer pourquoi le trade est rejeté à cause des frais.","height":1136,"width":2608},"type":"n8n-nodes-base.stickyNote","position":[-2112,-3536],"typeVersion":1,"id":"1ae689e6-428d-4c5f-9922-b492a3c4b3c7","name":"Sticky Note10"},{"parameters":{"url":"=https://query1.finance.yahoo.com/v8/finance/chart/{{ $json.chatInput }}?interval=15m&range=2d","sendQuery":true,"queryParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2240,-2176],"id":"f948ba3b-cbb6-4b6e-946a-b9f53566e7a1","name":"vue d'ensemblex"},{"parameters":{"url":"=https://query1.finance.yahoo.com/v8/finance/chart/{{ encodeURIComponent($json.chatInput || 'ASML.AS') }}\n\n\n","sendQuery":true,"queryParameters":{"parameters":[{"name":"interval","value":"1m"},{"name":"range","value":"1d"},{"name":"lang","value":"fr"},{"name":"region","value":"fr"},{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2240,-1904],"id":"2e2645e2-4af0-46a3-bbbb-ef04ee44bdd3","name":"requete reguliere2"},{"parameters":{"content":"## ZONE D'OBSERVATION -- 10 dernières bougies de 1 minute","height":256,"width":832,"color":4},"type":"n8n-nodes-base.stickyNote","position":[2000,-2000],"typeVersion":1,"id":"e86baa14-a123-453c-bb9c-d4c83a02d278","name":"Sticky Note11"},{"parameters":{"content":"## VUE D'ENSEMBLE (2 jours toutes les 15minutes)","height":256,"width":832,"color":6},"type":"n8n-nodes-base.stickyNote","position":[2000,-2272],"typeVersion":1,"id":"7b32defc-4feb-422e-931b-0632a9db0235","name":"Sticky Note12"},{"parameters":{"content":"## ZONE D'ATTAQUE - 5 dernières bougies de 1 minute","height":256,"width":816,"color":3},"type":"n8n-nodes-base.stickyNote","position":[2016,-1696],"typeVersion":1,"id":"8cca4631-3950-47bb-b02c-62429721cd9b","name":"Sticky Note14"},{"parameters":{"content":"# EURONEXT\n## ETAPE 1: Données de l'action sur 2 jours\n## ETAPE 2: Scan 10 bougies d'une minute toutes les 10 minnutes*\n## ETAPE 3: Scan 10 bougies d'une minute régulièrement (pour entrer sur le marché)\n\n## Déclenché par chat avec entrée du symbol ##","height":928,"width":1824,"color":7},"type":"n8n-nodes-base.stickyNote","position":[1040,-2320],"typeVersion":1,"id":"2b340af1-4a03-454d-b8c8-d3095fe58958","name":"Sticky Note15"},{"parameters":{"jsCode":"const WINDOW_MINUTES = 5; // Fenêtre des dernières minutes\n\nfunction toFRTimeString(epochSec) {\n  const d = new Date(epochSec * 1000);\n  return new Intl.DateTimeFormat('fr-FR', {\n    timeZone: 'Europe/Paris',\n    year: 'numeric', month: '2-digit', day: '2-digit',\n    hour: '2-digit', minute: '2-digit', second: '2-digit'\n  }).format(d);\n}\n\nconst outputs = [];\n\nfor (let itemIndex = 0; itemIndex < items.length; itemIndex++) {\n  const root = items[itemIndex].json?.chart?.result?.[0];\n\n  let candles = [];\n  let note = null;\n\n  if (root) {\n    const ts = root.timestamp || [];\n    const q = root.indicators?.quote?.[0] || {};\n    const O = Array.isArray(q.open)   ? q.open   : [];\n    const H = Array.isArray(q.high)   ? q.high   : [];\n    const L = Array.isArray(q.low)    ? q.low    : [];\n    const C = Array.isArray(q.close)  ? q.close  : [];\n    const V = Array.isArray(q.volume) ? q.volume : [];\n\n    const n = Math.min(ts.length, O.length, H.length, L.length, C.length);\n\n    if (n > 0) {\n      const lastTs = ts[n - 1];                  // dernier timestamp dispo\n      const thr = lastTs - WINDOW_MINUTES * 60;  // seuil = dernières X minutes\n      for (let i = 0; i < n; i++) {\n        if (\n          ts[i] != null && ts[i] >= thr &&\n          O[i] != null && H[i] != null && L[i] != null && C[i] != null\n        ) {\n          candles.push({\n            timestamp_epoch: ts[i],\n            timestamp_fr: toFRTimeString(ts[i]),\n            open: O[i],\n            high: H[i],\n            low: L[i],\n            close: C[i],\n            volume: (V.length > i && V[i] != null) ? V[i] : null\n          });\n        }\n      }\n      if (candles.length === 0) {\n        note = `Aucune bougie dans la fenêtre des ${WINDOW_MINUTES} min (dernier ts: ${lastTs}).`;\n      }\n    } else {\n      note = \"Aucun tableau OHLC trouvé (timestamp/quote vides).\";\n    }\n  } else {\n    note = \"Structure inattendue: chart.result[0] manquant.\";\n  }\n\n  outputs.push({\n    json: { symbol: root?.meta?.symbol ?? null, candles, note },\n    pairedItem: { item: itemIndex }\n  });\n}\n\nreturn outputs;\n\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2448,-1600],"id":"a6386fa1-f75c-433a-bb6b-ae23a545c6e7","name":"Code7"},{"parameters":{"jsCode":"// Input: items[0].json comme dans ton exemple.\n// Output: un item par bougie : { timestamp_epoch, timestamp_fr, open, high, low, close, volume }\n\nfunction toFRTimeString(epochSec) {\n  const d = new Date(epochSec * 1000);\n  return new Intl.DateTimeFormat('fr-FR', {\n    timeZone: 'Europe/Paris',\n    year: 'numeric', month: '2-digit', day: '2-digit',\n    hour: '2-digit', minute: '2-digit', second: '2-digit'\n  }).format(d);\n}\n\nconst out = [];\n\nfor (const item of items) {\n  const root = item.json?.chart?.result?.[0];\n  if (!root) continue;\n\n  const ts = root.timestamp || [];\n  const q = root.indicators?.quote?.[0] || {};\n  const O = q.open   || [];\n  const H = q.high   || [];\n  const L = q.low    || [];\n  const C = q.close  || [];\n  const V = q.volume || [];\n\n  const n = Math.min(ts.length, O.length, H.length, L.length, C.length);\n\n  for (let i = 0; i < n; i++) {\n    // Ignore les bougies incomplètes (souvent la dernière)\n    if (\n      ts[i] == null || O[i] == null ||\n      H[i] == null || L[i] == null || C[i] == null\n    ) continue;\n\n    // Volume : prend la valeur si disponible, sinon null\n    const vol = (V && V.length > i && V[i] != null) ? V[i] : null;\n\n    out.push({\n      json: {\n        timestamp_epoch: ts[i],                 // en secondes UTC\n        timestamp_fr: toFRTimeString(ts[i]),    // heure France (CET/CEST)\n        open: O[i],\n        high: H[i],\n        low: L[i],\n        close: C[i],\n        volume: vol\n      }\n    });\n  }\n}\n\nreturn out;\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2448,-2176],"id":"3a1c993d-97bb-4feb-81a8-d48d42299bb5","name":"Code9"},{"parameters":{"jsCode":"const WINDOW_MINUTES = 10;\n\nfunction toFRTimeString(epochSec) {\n  const d = new Date(epochSec * 1000);\n  return new Intl.DateTimeFormat('fr-FR', {\n    timeZone: 'Europe/Paris',\n    year: 'numeric', month: '2-digit', day: '2-digit',\n    hour: '2-digit', minute: '2-digit', second: '2-digit'\n  }).format(d);\n}\n\nconst outputs = [];\n\nfor (let itemIndex = 0; itemIndex < items.length; itemIndex++) {\n  const root = items[itemIndex].json?.chart?.result?.[0];\n\n  let candles = [];\n  let note = null;\n\n  if (root) {\n    const ts = root.timestamp || [];\n    const q = root.indicators?.quote?.[0] || {};\n    const O = Array.isArray(q.open)   ? q.open   : [];\n    const H = Array.isArray(q.high)   ? q.high   : [];\n    const L = Array.isArray(q.low)    ? q.low    : [];\n    const C = Array.isArray(q.close)  ? q.close  : [];\n    const V = Array.isArray(q.volume) ? q.volume : [];\n\n    const n = Math.min(ts.length, O.length, H.length, L.length, C.length);\n\n    if (n > 0) {\n      const lastTs = ts[n - 1];                      // dernier timestamp dispo (Yahoo peut avoir 1–2 min de retard)\n      const thr = lastTs - WINDOW_MINUTES * 60;      // seuil = 10 dernières minutes\n      for (let i = 0; i < n; i++) {\n        if (\n          ts[i] != null && ts[i] >= thr &&\n          O[i] != null && H[i] != null && L[i] != null && C[i] != null\n        ) {\n          candles.push({\n            timestamp_epoch: ts[i],\n            timestamp_fr: toFRTimeString(ts[i]),\n            open: O[i],\n            high: H[i],\n            low: L[i],\n            close: C[i],\n            volume: (V.length > i && V[i] != null) ? V[i] : null\n          });\n        }\n      }\n      if (candles.length === 0) {\n        note = `Aucune bougie dans la fenêtre des ${WINDOW_MINUTES} min (dernier ts: ${lastTs}).`;\n      }\n    } else {\n      note = \"Aucun tableau OHLC trouvé (timestamp/quote vides).\";\n    }\n  } else {\n    note = \"Structure inattendue: chart.result[0] manquant.\";\n  }\n\n  outputs.push({\n    json: { symbol: root?.meta?.symbol ?? null, candles, note },\n    pairedItem: { item: itemIndex }\n  });\n}\n\nreturn outputs;\n\n\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2432,-1904],"id":"7b073bef-e111-4270-9335-0100aaff161e","name":"code bougie 10mn"},{"parameters":{"content":"# ASML.AS ","height":928,"color":5},"type":"n8n-nodes-base.stickyNote","position":[2896,-2320],"typeVersion":1,"id":"bf4c14ce-edbb-442f-a2c1-1ffbe866658d","name":"Sticky Note13"},{"parameters":{"url":"=https://query1.finance.yahoo.com/v8/finance/chart/{{ encodeURIComponent($json.chatInput || 'ASML.AS') }}\n\n\n","sendQuery":true,"queryParameters":{"parameters":[{"name":"interval","value":"1m"},{"name":"range","value":"1d"},{"name":"lang","value":"fr"},{"name":"region","value":"fr"},{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2240,-1600],"id":"7d69f8fc-8e29-4d5b-b623-f5921e075714","name":"requete reguliere3"},{"parameters":{"url":"=https://api.twelvedata.com/time_series\n\n","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"={{ $json.symbol }}"},{"name":"interval","value":"15min"},{"name":"outputsize","value":"40"},{"name":"apikey","value":"ee6a290787f341849d49e5b7110b63c1"},{"name":"timezone","value":"Europe/Paris"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-816,-672],"id":"90094324-e462-4788-a2ce-80b2933baab1","name":"15 minutes"},{"parameters":{"url":"=https://api.twelvedata.com/time_series\n\n","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"={{ $json.symbol }}"},{"name":"interval","value":"1min"},{"name":"outputsize","value":"500"},{"name":"apikey","value":"ee6a290787f341849d49e5b7110b63c1"},{"name":"timezone","value":"Europe/Paris"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-816,-880],"id":"04bef960-5cea-41dd-ab6f-3c0aed2fac3e","name":"1 minutes"},{"parameters":{"url":"=https://api.twelvedata.com/time_series\n\n","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"={{ $json.symbol }}"},{"name":"interval","value":"1h"},{"name":"outputsize","value":"60"},{"name":"apikey","value":"ee6a290787f341849d49e5b7110b63c1"},{"name":"timezone","value":"Europe/Paris"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-816,-480],"id":"eb6f9bbe-a76f-48f2-8a7c-6ebf534745c9","name":"1h"},{"parameters":{"url":"=https://api.twelvedata.com/time_series\n\n","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbol","value":"={{ $json.symbol }}"},{"name":"interval","value":"1d"},{"name":"outputsize","value":"100"},{"name":"apikey","value":"ee6a290787f341849d49e5b7110b63c1"},{"name":"timezone","value":"Europe/Paris"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-816,-288],"id":"766f26fb-8305-4e9c-86bf-298146af463b","name":"1 day"}],"connections":{"Merge":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Code","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Code":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Recup_Name_symbol","type":"main","index":0},{"node":"Seed 1m 7d","type":"main","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Code1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Google Gemini Chat Model4":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Merge2":{"main":[[]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"When chat message received":{"main":[[{"node":"requete reguliere","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Insert rows in a table":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}]]},"Code3":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Recup_Name_symbol":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Seed 1m 7d":{"main":[[{"node":"Compute period window","type":"main","index":0}]]},"Compute period window":{"main":[[{"node":"1 minutes","type":"main","index":0},{"node":"15 minutes","type":"main","index":0},{"node":"1h","type":"main","index":0},{"node":"1 day","type":"main","index":0}]]},"requete reguliere":{"main":[[{"node":"Code4","type":"main","index":0}]]},"requete reguliere1":{"main":[[{"node":"Code5","type":"main","index":0}]]},"vue d'ensemblex1":{"main":[[{"node":"Code6","type":"main","index":0}]]},"vue d'ensemblex":{"main":[[{"node":"Code9","type":"main","index":0}]]},"requete reguliere2":{"main":[[{"node":"code bougie 10mn","type":"main","index":0}]]},"requete reguliere3":{"main":[[{"node":"Code7","type":"main","index":0}]]},"1 minutes":{"main":[[{"node":"Merge","type":"main","index":0}]]},"15 minutes":{"main":[[{"node":"Merge","type":"main","index":1}]]},"1h":{"main":[[{"node":"Merge","type":"main","index":2}]]},"1 day":{"main":[[{"node":"Merge","type":"main","index":3}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"77c43e7f-42fe-41a1-af2f-385c5f5834a2","triggerCount":2,"tags":[]}