mail_assistant-sbf-avocats-mi1rtkyq9dSUvWVo.json
{"createdAt":"2025-04-22T10:46:19.901Z","updatedAt":"2025-07-29T05:26:20.000Z","id":"mi1rtkyq9dSUvWVo","name":"Mail_Assistant sbf-avocats","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"d027cc91-ff43-4eee-96bb-1fe53ff81887","name":"objet","value":"={{ $json.envelope.subject }}","type":"string"},{"id":"97848922-1a7a-4e78-b67b-0c2a5523ea9c","name":"expediteur email","value":"={{ $json.envelope.from[0].address }}","type":"string"},{"id":"95cde126-9f30-4062-b453-661823a5a226","name":"date_heure","value":"={{ $json.envelope.date }}","type":"string"},{"id":"6ec45507-9cd2-4d66-9dbe-a6f539a1c874","name":"texte_original","value":"={{ $json.htmlContent ?? $json.textContent }}","type":"string"},{"id":"cbda05f9-899e-4d94-b2b6-e1da7d0bdb20","name":"imap_message_uid","value":"={{ $json.uid }}","type":"string"},{"id":"27b5593a-b1d8-4164-80b3-c47ee8b845aa","name":"attachments_info","value":"={{ \n  (() => {\n    const attachments = $json.attachmentsInfo ?? [];\n\n    if (!Array.isArray(attachments) || attachments.length === 0) {\n      return \"📭 Aucune pièce jointe détectée.\";\n    }\n\n    const filenames = attachments\n      .map(att => (att && typeof att === 'object') ? att.filename : null)\n      .filter(name => !!name);\n\n    if (filenames.length > 0) {\n      return `📎 Pièces jointes détectées : ${filenames.join(', ')}`;\n    } else {\n      return `📎 Des pièces jointes sont présentes (${attachments.length}), mais leurs noms n'ont pas pu être extraits.`;\n    }\n  })()\n}}","type":"string"},{"id":"02954934-cdaf-44d9-b711-0c43f1dfa55c","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1888,368],"id":"dca1c361-b24d-4857-9d1b-bfdc65ce7858","name":"texte_original"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ec8e120e-2293-4b24-8d11-cfc7dc1f9fca","leftValue":"{{ $json.message?.reply_to_message }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[128,752],"id":"2d3b09db-5ec2-4622-a532-98ee0358a46c","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"1afc3000-c689-4d7e-a2b1-26c128b72ab0","leftValue":"={{ $items.length > 0 && Array.isArray($items[0].json) && $items[0].json.length > 0 }}\n\n","rightValue":1,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[640,752],"id":"08a1e303-28e9-4ca9-b608-86cc8bfe8b3c","name":"If1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.user_command }}","rightValue":"DELETE","operator":{"type":"string","operation":"equals"},"id":"362ce59b-ec3d-4632-bb82-92829d3e78a0"}],"combinator":"and"},"renameOutput":true,"outputKey":"delete"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"db7aa575-f272-4252-afb9-e9a6406c0330","leftValue":"={{ $json.user_command }}","rightValue":"IGNORE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ignore"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8e1050e5-522e-4205-a84b-a324a9f35b9f","leftValue":"={{ $json.user_command }}","rightValue":"REPLY","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"reply"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6ae72693-e0b4-4628-b34f-2bfe4c6c9972","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"defaut"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[944,720],"id":"76e56f46-36e3-409e-94a8-5f7a9fdfe3e4","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"d5be5c85-f66c-4548-baf1-f68b52a2ffdd","name":"user_command","value":"={{ $json.body.action }}","type":"string"},{"id":"72c860fc-81f2-4f1f-bff6-07d6d94e8586","name":"writing_style","value":"={{ $json.body.writingStyle ?? '' }}","type":"string"},{"id":"6a900210-dbbd-4e11-a09e-732be006aeda","name":"extra_instructions","value":"={{ $json.body.extraInstructions ?? '' }}\n","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,752],"id":"cc9d0716-8c8d-4e54-9495-5244b8d75eae","name":"Edit Fields2"},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-preview-04-17:generateContent?key=AIzaSyD2-O5ZZEqJVwg4yb0sE4qPRhnYKrEG0Yo","sendBody":true,"specifyBody":"=json","bodyParameters":{"parameters":[{}]},"jsonBody":"={{\n  {\n    \"contents\": [\n      {\n        \"parts\": [\n          {\n            \"text\": $json.reply_prompt // <- Injecte le prompt préparé\n          }\n        ]\n      }\n    ]\n    // Tu peux ajouter d'autres paramètres ici si besoin\n    // \"generationConfig\": {\n    //   \"temperature\": 0.7,\n    //   \"maxOutputTokens\": 8192\n    // },\n    // \"safetySettings\": [\n    //   { \"category\": \"HARM_CATEGORY_...\", \"threshold\": \"BLOCK_MEDIUM_AND_ABOVE\" }\n    // ]\n  }\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2048,1008],"id":"c5d10ce3-1c41-487f-8066-8d40830d3276","name":"Gemini_GenerateReply"},{"parameters":{"assignments":{"assignments":[{"id":"a44d5b4d-a33d-4e2f-b5ac-33af09bd774c","name":"reply_prompt","value":"=={{\n(() => {\n  // 1. Données de contexte\n  const node2 = $('Edit Fields2')?.item?.json ?? {};\n  const customStyle      = node2.writing_style?.trim()      || '';\n  const extraInstructions= node2.extra_instructions?.trim() || '';\n  const imapData         = $('IMAP Comm - Get Original (for Reply)').item.json;\n  const originalText     = imapData.textContent \n                          || imapData.htmlContent \n                          || 'Contenu de l\\'email original non disponible.';\n\n  // 2. Exemple de mail depuis votre nœud “Exemple de style”\n  const exampleNode = $('Exemple de style')?.item?.json ?? {};\n  const exampleEmail = exampleNode.example_email?.trim() || '';\n\n  // 3. Construction du prompt\n  let prompt = \n    'Cette réponse est destinée à être envoyée directement. Fournis uniquement le corps de l\\'e-mail, sans aucune explication ou commentaire supplémentaire.' +\n    '\\n\\n' +\n    'Rédige uniquement le corps de la réponse à cet e-mail :' +\n    '\\n---\\n' +\n    originalText +\n    '\\n---\\n\\n';\n\n  // 4. Style et instructions personnalisées\n  if (customStyle) {\n    prompt += 'Adopte ce style de rédaction : ' + customStyle + '\\n\\n';\n  }\n  if (extraInstructions) {\n    prompt += 'Prends bien en compte ces instructions supplémentaires : ' + extraInstructions + '\\n\\n';\n  }\n\n  // 5. Exemple à prendre en référence\n  if (exampleEmail) {\n    prompt += 'Inspire-toi de cet exemple de mail formel :' +\n              '\\n' + exampleEmail + '\\n\\n';\n  }\n\n  // 6. Règles de formatage\n  prompt +=\n    'Respecte les règles suivantes :' +\n    '\\n- Ne commence pas par \"Voici le corps de la réponse...\"' +\n    '\\n- Pas de signature ou mention \"[Votre nom]\"' +\n    '\\n- Structure la réponse directement en HTML (utilise <br> pour les sauts de ligne)' +\n    '\\n- Ne pas encapsuler dans des balises Markdown' +\n    '\\n- Une seule version finale' +\n    '\\n- IMPORTANT: la formule d’introduction devra être strictement adaptée a la signature du mail (Cher Maître, Cher confrère, Cher consoeur, monsieur, madame, prénom, nom).' +\n    '\\n\\n' +\n    'Réponds maintenant.';\n\n  return prompt;\n})()\n}}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1872,1008],"id":"8a3861bb-31c2-4c34-bf0c-869002980838","name":"Prompt Réponse Gemini"},{"parameters":{"httpMethod":"POST","path":"e55fe17f-6985-4fb3-98f6-68beab2ed656","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[64,384],"id":"59751e41-a7a6-477e-adea-c7c2bfd8aa8f","name":"Webhook","webhookId":"e55fe17f-6985-4fb3-98f6-68beab2ed656"},{"parameters":{"options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2752,352],"id":"e30e6358-ce25-47dc-8d8c-cfd50ba66908","name":"Respond to Webhook","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"30fb0b13-8d92-425e-b3c0-7b5e81c0979d","name":"expediteur","value":"={{ $node[\"texte_original\"].json[\"expediteur email\"] || \"Expéditeur non trouvé\" }}","type":"string"},{"id":"64d9c35a-3093-4d32-8f5c-ebe39de5b0d8","name":"objet","value":"={{ $node[\"texte_original\"].json.objet || \"Objet non trouvé\" }}","type":"string"},{"id":"cc02ed9f-57e5-4f58-8802-39ef3e5d879c","name":"date","value":"={{ $node[\"texte_original\"].json.date_heure || \"Date non trouvée\" }}","type":"string"},{"id":"a87aaad9-d1b1-4ee1-b609-d34a2d9cc99a","name":"resume","value":"={{ $json.text }}","type":"string"},{"id":"7fb02705-d049-4099-a17b-88c62cabd8ea","name":"imap_message_uid","value":"={{ $node[\"texte_original\"].json.imap_message_uid }}","type":"string"},{"id":"949e02ec-fe00-438d-a380-5937634110b1","name":"fullEmail","value":"={{$node[\"texte_original\"].json.texte_original}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2544,352],"id":"b6fbcc05-c3e1-4d1a-9f2c-b8d2c03b09eb","name":"Edit Fields"},{"parameters":{"httpMethod":"POST","path":"3251383a-01dc-495b-bf2c-ebe6b9de960e","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-48,752],"id":"6851dbb7-38f6-4789-aab1-4f1e141f987f","name":"Webhook Action","webhookId":"3251383a-01dc-495b-bf2c-ebe6b9de960e"},{"parameters":{"options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1440,1152],"id":"e4e73c81-aabc-439e-9a97-c98f39002d08","name":"Respond to Webhook1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2192,688],"id":"ebb03e22-2b93-4192-9da5-bde3f97ea30e","name":"Respond to Webhook2","onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2192,832],"id":"5e0522df-fa30-473a-8783-b9f5921842da","name":"Respond to Webhook3"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2448,1008],"id":"1207c1e5-aa6e-4316-aa40-9ba3af41689d","name":"Respond to Webhook4"},{"parameters":{"assignments":{"assignments":[{"id":"5abceb2e-8062-4d7d-98fd-066e25e91409","name":"imap_message_uid_to_process","value":"={{ $('Webhook Action').item.json.body.imap_message_uid }}","type":"string"},{"id":"3a054305-e6e2-4d1e-a62d-45a9fb7813be","name":"user_command","value":"={{ $('Edit Fields2').item.json.user_command }}","type":"string"},{"id":"02350761-e625-4d85-9aa0-e96a83ed8c42","name":"writing_style","value":"={{ $('Edit Fields2').item.json.writing_style }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,752],"id":"34da8698-5972-4d5d-afbf-f89512a87392","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"92e07863-f300-4c9d-82d2-b4a11f072637","name":"status","value":"suggestion_ready","type":"string"},{"id":"d4cac96f-8dc7-4bd7-b57b-3a157836e87f","name":"suggestedReply","value":"={{ $('Gemini_GenerateReply').item.json.candidates[0].content.parts[0].text }}","type":"string"},{"id":"ca46d874-a897-42ef-85cd-8db749569f32","name":"recipientEmail","value":"={{ $('IMAP Comm - Get Original (for Reply)').item.json.envelope.from[0].address }}","type":"string"},{"id":"dccde686-0bf2-44de-9daf-1626c75bdf8c","name":"originalSubject","value":"={{ $('IMAP Comm - Get Original (for Reply)').item.json.envelope.subject }}","type":"string"},{"id":"a312dc7f-0fe4-4c4f-ae7f-03b9634dfef6","name":"imap_message_uid","value":"={{ $('IMAP Comm - Get Original (for Reply)').item.json.uid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2240,1008],"id":"148fef83-0fef-4b88-bbc0-972266e0f636","name":"Prepare Reply Suggestion Data"},{"parameters":{"httpMethod":"POST","path":"send-final-reply","responseMode":"responseNode","options":{"binaryPropertyName":"=attachments"}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-48,1008],"id":"04d9013f-7ee3-4202-b647-06444aa18ab0","name":"Webhook - Send Final Reply","webhookId":"9d1e24b8-2bcb-4329-9ad6-fb2bddb1126f"},{"parameters":{"respondWith":"json","responseBody":"={ \"status\": \"success\", \"message\": \"Email envoyé avec succès.\" }","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[768,1008],"id":"59c240ec-30a0-496e-a149-8e262e477c00","name":"Respond Send Confirmation"},{"parameters":{"path":"get-labels","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[32,-256],"id":"500c63cb-eb8f-4cf3-bab1-d1d88bfee390","name":"Webhook - Get Gmail Labels","webhookId":"84059266-d0b0-43a5-a272-c68a6d965b19"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[512,-256],"id":"c6637ebd-e62d-4a2a-be57-d9a051f9a8cd","name":"Respond to Webhook5"},{"parameters":{"jsCode":"// Récupère tous les items (dossiers) du nœud précédent\nconst allFolders = items.map(item => item.json);\n\n// Liste des noms/paths système connus à exclure (en minuscules pour la comparaison)\nconst systemPathsToExclude = ['inbox', 'objets envoyés', 'spam', 'corbeille'];\n// On ajoute aussi le dossier parent \"Mes dossiers\" lui-même si on ne veut pas le classer dedans\nsystemPathsToExclude.push('mes dossiers');\n\n// Filtrer les dossiers système\nconst userFolders = allFolders.filter(folder => {\n  // Utilise le path pour la comparaison, ou le nom si path manque\n  const folderPathForCheck = (folder.path || folder.name || '').toLowerCase();\n  // Utilise aussi le nom pour vérifier (au cas où 'Mes dossiers' n'a pas de path spécifique)\n  const folderNameForCheck = (folder.name || '').toLowerCase();\n\n  // Vérifie que le path/nom n'est PAS dans la liste d'exclusion\n  return folderPathForCheck &&\n         !systemPathsToExclude.includes(folderPathForCheck) &&\n         !systemPathsToExclude.includes(folderNameForCheck);\n});\n\n// Mappe les dossiers filtrés au format attendu {id, name}\nreturn userFolders.map(folder => {\n  // Prend le path comme ID\n  const folderId = folder.path;\n  // Prend le nom tel quel pour l'instant\n  let folderName = folder.name;\n\n  // Essaie d'extraire le nom final (après le dernier séparateur)\n  // Détecte le séparateur (probablement '/')\n  const separator = folder.delimiter || '/'; // Utilise le délimiteur fourni s'il existe, sinon suppose '/'\n  const lastSeparatorIndex = folderName.lastIndexOf(separator);\n  if (lastSeparatorIndex !== -1) {\n    folderName = folderName.substring(lastSeparatorIndex + 1);\n  }\n\n  return {\n    json: {\n      id: folderId, // L'ID EST TOUJOURS LE PATH COMPLET\n      name: folderName // Le nom est la partie finale\n    }\n  };\n  // Filtrer si l'ID (path) ou le nom manque\n}).filter(f => f.json.id && f.json.name);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,-256],"id":"52981366-5480-4df2-9692-56a99b5c37d6","name":"Code"},{"parameters":{"content":"## ETAPE 1 Branche de récupération des libellés","height":280,"width":752,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-16,-336],"id":"8aed57c3-1adc-444d-9c4c-451b1f60a6cf","name":"Sticky Note"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"message\": \"Email déplacé avec succès vers {{ $('Webhook2').item.json.body.labelId }}.\"\n}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1680,-256],"id":"0460818c-64ee-4d3c-a4d7-35ce57514d64","name":"Respond to Webhook6"},{"parameters":{"content":"Attribution du libellé","height":280,"width":1120},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[752,-336],"id":"ddb07e98-45dc-4aea-9c6b-88304dee3d11","name":"Sticky Note1"},{"parameters":{"httpMethod":"POST","path":"recep-libelles","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[800,-256],"id":"562d3c3f-055d-4c50-b28f-b9ce19c93425","name":"Webhook2","webhookId":"b9a4d8d0-f59b-4071-a35f-aa4522586ca4"},{"parameters":{"documentId":{"__rl":true,"value":"1h0LHRydNSQJvY0MKA9EtQzGqAkbSxiCiALnjrHYpcA8","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1h0LHRydNSQJvY0MKA9EtQzGqAkbSxiCiALnjrHYpcA8/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"=GmailMessageID","lookupValue":"={{ $('Webhook Action').item.json.body.imap_message_uid }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[480,752],"id":"6df60b96-5174-4148-a56a-6d286406da50","name":"GetSheetDataWithIndex","credentials":{"googleSheetsOAuth2Api":{"id":"msQv72O0ca6dzU02","name":"Misterh06 (SHEET)"}}},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1h0LHRydNSQJvY0MKA9EtQzGqAkbSxiCiALnjrHYpcA8","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1h0LHRydNSQJvY0MKA9EtQzGqAkbSxiCiALnjrHYpcA8/edit#gid=0"}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[272,384],"id":"a734c2d2-62ab-4da5-8d75-7c9a9a864cd0","name":"Google Sheets3","credentials":{"googleSheetsOAuth2Api":{"id":"msQv72O0ca6dzU02","name":"Misterh06 (SHEET)"}}},{"parameters":{"authentication":"coreImapAccount","resource":"email","operation":"moveEmail","sourceMailbox":{"__rl":true,"mode":"list","value":"INBOX"},"emailUid":"={{ $json.imap_message_uid_to_process }}","destinationMailbox":{"__rl":true,"value":"Corbeille","mode":"list","cachedResultName":"Corbeille"}},"type":"n8n-nodes-imap.imap","typeVersion":1,"position":[1728,688],"id":"7a0b2cfc-5e57-4130-87a7-454e4f581848","name":"IMAP Comm - Move to Corbeille","credentials":{"imap":{"id":"e08SIUvsuyY0UQTH","name":"IMAP account"}}},{"parameters":{"assignments":{"assignments":[{"id":"5e495ca6-ab1f-4d97-b503-fb675ad36921","name":"status","value":"success","type":"string"},{"id":"b3cf1c20-d8a9-44fa-a3e7-9a96290d7be5","name":"message","value":"Email déplacé vers la Corbeille.","type":"string"},{"id":"d5b534b7-b5aa-422c-bb89-af6b22e243e8","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2032,688],"id":"07f72110-36e2-43cc-a601-5bc6539c0cdf","name":"Edit Fields3"},{"parameters":{"assignments":{"assignments":[{"id":"3a397c6d-dc26-4d59-af9c-96052fdda7d4","name":"status","value":"success","type":"string"},{"id":"c963c6f1-2682-403a-875b-530e14818e89","name":"message","value":"Email ignoré.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2032,832],"id":"418bf2ae-f196-4fa3-bc12-8c79cbea92d0","name":"Edit Fields4"},{"parameters":{"authentication":"coreImapAccount","resource":"email","operation":"setEmailFlags","mailboxPath":{"__rl":true,"mode":"list","value":"INBOX"},"emailUid":"={{ $node[\"Edit Fields1\"].json.imap_message_uid_to_process }}","flags":{"\\Seen":false}},"type":"n8n-nodes-imap.imap","typeVersion":1,"position":[1728,832],"id":"50e4f115-62df-4715-b802-7b8172ccf834","name":"IMAP Comm - Mark as Unread","alwaysOutputData":true,"credentials":{"imap":{"id":"e08SIUvsuyY0UQTH","name":"IMAP account"}}},{"parameters":{"authentication":"coreImapAccount","resource":"email","mailboxPath":{"__rl":true,"mode":"list","value":"INBOX"},"emailDateRange":{"since":""},"emailFlags":{},"emailSearchFilters":{"uid":"={{ $node[\"Edit Fields1\"].json.imap_message_uid_to_process }}"},"includeParts":["textContent","htmlContent","headers","attachmentsInfo"]},"type":"n8n-nodes-imap.imap","typeVersion":1,"position":[1264,800],"id":"5ae5d6f6-a191-4867-8e71-9a4758ae86d1","name":"IMAP Comm - Get Original (for Reply)","credentials":{"imap":{"id":"e08SIUvsuyY0UQTH","name":"IMAP account"}}},{"parameters":{"fromEmail":"test@sbf-avocats.com","toEmail":"={{ $json.body.recipientEmail }}","subject":"=Re: {{ $json.body.originalSubject }}","html":"={{ $json.body.editedReply }}","options":{"appendAttribution":false,"attachments":"=attachements0"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[480,1008],"id":"74c7647a-7b64-44dd-8b34-1c915d928e4f","name":"Send Final Email (SMTP)","webhookId":"8bdbe175-0ac1-4865-885a-693f29e74184","credentials":{"smtp":{"id":"PUO8Rt2BxRzoLSZx","name":"SMTP account"}},"disabled":true},{"parameters":{"authentication":"coreImapAccount"},"type":"n8n-nodes-imap.imap","typeVersion":1,"position":[192,-256],"id":"bc29cc45-ab15-481f-857f-de5a1fba8866","name":"IMAP","credentials":{"imap":{"id":"e08SIUvsuyY0UQTH","name":"IMAP account"}}},{"parameters":{"authentication":"coreImapAccount","resource":"email","operation":"moveEmail","sourceMailbox":{"__rl":true,"mode":"list","value":"INBOX"},"emailUid":"={{ $json.body.imap_message_uid }}","destinationMailbox":{"__rl":true,"value":"={{ $json.body.labelId }}","mode":"path"}},"type":"n8n-nodes-imap.imap","typeVersion":1,"position":[1248,-256],"id":"d5ffd944-16dd-4e17-bab7-6479fab18b4d","name":"IMAP Comm - Move to Selected Folder","credentials":{"imap":{"id":"e08SIUvsuyY0UQTH","name":"IMAP account"}}},{"parameters":{"authentication":"coreImapAccount","resource":"email","mailboxPath":{"__rl":true,"value":"INBOX","mode":"list","cachedResultName":"INBOX"},"emailDateRange":{},"emailFlags":{"seen":false},"emailSearchFilters":{},"includeParts":["textContent","htmlContent","attachmentsInfo","headers"]},"type":"n8n-nodes-imap.imap","typeVersion":1,"position":[480,384],"id":"ed44ae06-73d8-46bc-a6ce-a4b1a3e098df","name":"IMAP Comm - Lire Non Lus","alwaysOutputData":true,"credentials":{"imap":{"id":"e08SIUvsuyY0UQTH","name":"IMAP account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d58b4663-6fed-40cc-ba16-ec4beb13b6a0","leftValue":"={{ Object.keys($json).length }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1248,400],"id":"c86ed828-3bf1-4dc9-9fad-42fe03820068","name":"If2"},{"parameters":{"assignments":{"assignments":[{"id":"f14b0649-1b5e-4dbe-a1f3-4242aea4a694","name":"status","value":"no_emails","type":"string"},{"id":"16ea2778-457f-45d2-95c2-8a6fd21394ff","name":"message","value":"Aucun nouvel email non lu trouvé.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1488,304],"id":"c0562e19-2b71-4dd6-a8df-8834548de49f","name":"Set - No Unread Emails"},{"parameters":{"assignments":{"assignments":[{"id":"719ad2b4-0967-4900-83e0-b85b75eb45c2","name":"example_email","value":"{  \n  \"example_email\": \"[formule d'introduction adaptée à l'expéditeur],<br><br>\nConformément à votre demande, je vous prie de bien vouloir trouver ci-joint le projet de protocole d’accord relatif à la cession de la participation sociale de [Civilité cliente] [Nom cliente] dans la SARL Innovo. Je vous serais reconnaissante de me transmettre vos observations d’ici le 20 mai 2025 afin que nous puissions finaliser les modalités dans les meilleurs délais.<br><br>\nRestant à votre disposition pour tout complément d’information ou pour convenir d’un rendez-vous, je vous prie d’agréer, [Appel : Civilité et fonction], l’expression de mes salutations distinguées.<br><br>\n[Appel : Civilité expéditeur] [Nom expéditeur]\"  \n}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1440,880],"id":"431acb5f-9f4f-491d-83bb-20ed5cdbebad","name":"Exemple de style"},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1h0LHRydNSQJvY0MKA9EtQzGqAkbSxiCiALnjrHYpcA8","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1h0LHRydNSQJvY0MKA9EtQzGqAkbSxiCiALnjrHYpcA8/edit#gid=0"}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2352,688],"id":"30215a1d-b36a-4c5d-8fd9-d1998658e14b","name":"Delete row 1","credentials":{"googleSheetsOAuth2Api":{"id":"msQv72O0ca6dzU02","name":"Misterh06 (SHEET)"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1h0LHRydNSQJvY0MKA9EtQzGqAkbSxiCiALnjrHYpcA8","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1h0LHRydNSQJvY0MKA9EtQzGqAkbSxiCiALnjrHYpcA8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"GmailMessageID":"={{ $json.imap_message_uid }}"},"matchingColumns":["GmailMessageID"],"schema":[{"id":"GmailMessageID","displayName":"GmailMessageID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2944,352],"id":"06996ec2-72b3-4e5c-be69-587db1847811","name":"Update row","credentials":{"googleSheetsOAuth2Api":{"id":"msQv72O0ca6dzU02","name":"Misterh06 (SHEET)"}}},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1h0LHRydNSQJvY0MKA9EtQzGqAkbSxiCiALnjrHYpcA8","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1h0LHRydNSQJvY0MKA9EtQzGqAkbSxiCiALnjrHYpcA8/edit#gid=0"}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2352,832],"id":"4528e6f1-8fd7-4d04-b7fc-0c7a999572c1","name":"Delete row 2","credentials":{"googleSheetsOAuth2Api":{"id":"msQv72O0ca6dzU02","name":"Misterh06 (SHEET)"}}},{"parameters":{"promptType":"define","text":"Merci de résumer en français et de manière concise l’email reçu, sans ajouter de texte supplémentaire. Si des pièces jointes existent, mentionnez-le dans le résumé.\n","messages":{"messageValues":[{"message":"=“Tu es l’assistant personnel de Maître Brice, avocat au barreau de Nice. Tu ne dois faire que des résumés d’e-mails en français, sans texte superflu.”"},{"type":"HumanMessagePromptTemplate","message":"=Voici le mail a résumer en français et de manière consise:  Objet :{{ $json.objet }} Expéditeur : {{ $json['expediteur email'] }}  Pièces jointes : {{ $json.attachments_info }}  Contenu : --- {{ $json.texte_original }} ---  Résumé (merci d’indiquer s’il y a des pièces jointes et de nommer leur(s) fichier(s) si possible)"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[2128,352],"id":"755d7385-6922-4d26-88d6-cac77365f840","name":"Basic LLM Chain"},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2048,480],"id":"26c3528a-19d2-4ec3-9ccb-8bffaf52389a","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"dvW7sOBx2nN3N5iu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"content":"## ETAPE 2: Récupération et résumé du mail","height":400,"width":3220,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-48,224],"typeVersion":1,"id":"38c66ba5-dd0f-4036-a1c8-f4072e4c3103","name":"Sticky Note2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[704,384],"id":"23554098-19b1-42ec-9537-ffe22c280311","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"d027cc91-ff43-4eee-96bb-1fe53ff81887","name":"objet","value":"={{ $('Lire mail entrant').item.json.envelope.subject }}","type":"string"},{"id":"97848922-1a7a-4e78-b67b-0c2a5523ea9c","name":"expediteur email","value":"={{ $('Lire mail entrant').item.json.envelope.from[0].address }}","type":"string"},{"id":"95cde126-9f30-4062-b453-661823a5a226","name":"date_heure","value":"={{ $('Lire mail entrant').item.json.envelope.date }}","type":"string"},{"id":"6ec45507-9cd2-4d66-9dbe-a6f539a1c874","name":"texte_original","value":"={{ $('Lire mail entrant').item.json.textContent }}","type":"string"},{"id":"cbda05f9-899e-4d94-b2b6-e1da7d0bdb20","name":"imap_message_uid","value":"={{ $json.uid }}","type":"string"},{"id":"27b5593a-b1d8-4164-80b3-c47ee8b845aa","name":"attachments_info","value":"={{ \n  (() => {\n    const attachments = $json.attachmentsInfo ?? [];\n\n    if (!Array.isArray(attachments) || attachments.length === 0) {\n      return \"📭 Aucune pièce jointe détectée.\";\n    }\n\n    const filenames = attachments\n      .map(att => (att && typeof att === 'object') ? att.filename : null)\n      .filter(name => !!name);\n\n    if (filenames.length > 0) {\n      return `📎 Pièces jointes détectées : ${filenames.join(', ')}`;\n    } else {\n      return `📎 Des pièces jointes sont présentes (${attachments.length}), mais leurs noms n'ont pas pu être extraits.`;\n    }\n  })()\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,-976],"id":"5b7a245f-8bb3-4ac3-96e1-2945a122aa73","name":"texte_original1"},{"parameters":{"authentication":"coreImapAccount"},"type":"n8n-nodes-imap.imap","typeVersion":1,"position":[1936,-1952],"id":"644a427f-116e-498c-be33-017e6d71b3b7","name":"IMAP1","credentials":{"imap":{"id":"e08SIUvsuyY0UQTH","name":"IMAP account"}}},{"parameters":{"jsCode":"// Récupère tous les items (dossiers) du nœud précédent\nconst allFolders = items.map(item => item.json);\n\n// Liste des noms/paths système connus à exclure (en minuscules pour la comparaison)\nconst systemPathsToExclude = ['inbox', 'objets envoyés', 'spam', 'corbeille'];\n// On ajoute aussi le dossier parent \"Mes dossiers\" lui-même si on ne veut pas le classer dedans\nsystemPathsToExclude.push('mes dossiers');\n\n// Filtrer les dossiers système\nconst userFolders = allFolders.filter(folder => {\n  // Utilise le path pour la comparaison, ou le nom si path manque\n  const folderPathForCheck = (folder.path || folder.name || '').toLowerCase();\n  // Utilise aussi le nom pour vérifier (au cas où 'Mes dossiers' n'a pas de path spécifique)\n  const folderNameForCheck = (folder.name || '').toLowerCase();\n\n  // Vérifie que le path/nom n'est PAS dans la liste d'exclusion\n  return folderPathForCheck &&\n         !systemPathsToExclude.includes(folderPathForCheck) &&\n         !systemPathsToExclude.includes(folderNameForCheck);\n});\n\n// Mappe les dossiers filtrés au format attendu {id, name}\nreturn userFolders.map(folder => {\n  // Prend le path comme ID\n  const folderId = folder.path;\n  // Prend le nom tel quel pour l'instant\n  let folderName = folder.name;\n\n  // Essaie d'extraire le nom final (après le dernier séparateur)\n  // Détecte le séparateur (probablement '/')\n  const separator = folder.delimiter || '/'; // Utilise le délimiteur fourni s'il existe, sinon suppose '/'\n  const lastSeparatorIndex = folderName.lastIndexOf(separator);\n  if (lastSeparatorIndex !== -1) {\n    folderName = folderName.substring(lastSeparatorIndex + 1);\n  }\n\n  return {\n    json: {\n      id: folderId, // L'ID EST TOUJOURS LE PATH COMPLET\n      name: folderName // Le nom est la partie finale\n    }\n  };\n  // Filtrer si l'ID (path) ou le nom manque\n}).filter(f => f.json.id && f.json.name);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2416,-1952],"id":"1a05832d-d365-4d79-b211-ce267db2f8f9","name":"Code1"},{"parameters":{"modelName":"models/gemini-2.0-flash-thinking-exp-01-21","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[736,-816],"id":"a69bdfbc-b1f4-4baa-a796-6b5fdbbaa447","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"dvW7sOBx2nN3N5iu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"Tu es un assistant juridique pour un cabinet d'avocat.\nTon rôle est de classer les mails dans différents libellés.","messages":{"messageValues":[{"message":"=## Donnée du mail:\n - nom:  {{ $('Lire mail entrant').item.json.envelope.from[0].name }}\n- email: {{ $('Lire mail entrant').item.json.envelope.from[0].address }}\n- texte du message : {{ $('Lire mail entrant').item.json.textContent }}\n\n## choisi parmis ces libellés lequel est le plus approprié:\n - 01-SUIVI (les mails recus des huissiers, commissaires de jusitice et de la DGFIP ou CDIF)\n - 02-ORDRE (mail recus du barreau de nice)\n - 03-NOUVEAU DOSSIER (quand le terme \"nouveau dossier\" ou \"référé expulsion\" apparait dans le corps ou l'objet du mail)\n - 04-A TRAITER (seulement les mails qui on un rapport avec les dossiers juridique)\n - 05-DIVERS (qui n'a pas de rapport au travail juridique et qui n'est pas de la publicité.)\n - 06-PUBLICITE (tout ce qui est mail commercial, de vente etc...)\n\ntu renverras une reponse en json de ce type:\n\nTa réponse **doit être exclusivement en JSON** au format :\n\n```json\n{\n  \"libelle\": \"LIBELLE_CHOISI\",\n  }\n\nexemple: \n```json\n{\n  \"libelle\": \"06-PUBLICITE\",\n  }\n\n"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[800,-976],"id":"c4c4fe27-6f5b-45cf-adf4-aa770423c3eb","name":"Basic LLM Chain1"},{"parameters":{"postProcessAction":"nothing","options":{}},"type":"n8n-nodes-base.emailReadImap","typeVersion":2,"position":[-80,-1136],"id":"7ce9c2d8-6db6-440b-a5be-4aba338e3272","name":"Email Trigger (IMAP)","credentials":{"imap":{"id":"e08SIUvsuyY0UQTH","name":"IMAP account"}},"disabled":true},{"parameters":{"fieldToSplitOut":"uid","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[288,-976],"id":"2967e8ed-e979-4a96-9405-cc7883b8a8e6","name":"Split Out"},{"parameters":{"content":"## CLASSEMENT AUTOMATIQUE DES MAILS ENTRANTS","height":580,"width":2200,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-496,-1248],"typeVersion":1,"id":"5a3dc281-b5ba-4707-9317-b49e7b6987a7","name":"Sticky Note3"},{"parameters":{"authentication":"coreImapAccount","resource":"email","mailboxPath":{"__rl":true,"value":"INBOX","mode":"list","cachedResultName":"INBOX"},"emailDateRange":{},"emailFlags":{"seen":false},"emailSearchFilters":{},"includeParts":["textContent","htmlContent","attachmentsInfo","headers"]},"type":"n8n-nodes-imap.imap","typeVersion":1,"position":[112,-976],"id":"b06a07d6-51c0-442e-b93a-194d95cb5978","name":"Lire mail entrant","alwaysOutputData":true,"credentials":{"imap":{"id":"e08SIUvsuyY0UQTH","name":"IMAP account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"let txt = $json.text;\n\n// Supprime les balises Markdown ```json ... ```\ntxt = txt.replace(/```json|```/gi, '').trim();\n\n// Supprime d'éventuels retours à la ligne en début/fin\ntxt = txt.replace(/^\\s+|\\s+$/g, '');\n\n// Parse le JSON (en mode sécurisé)\nlet result = {};\ntry {\n  result = JSON.parse(txt);\n} catch (e) {\n  result = { error: \"JSON parse failed\", raw: txt };\n}\n\n// On crée une propriété labelId pour l'étape suivante\nreturn {\n  json: {\n    ...$json,\n    labelId: result.libelle || \"\",\n    resume: result.resume || \"\",\n    raison: result.raison || \"\"\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,-976],"id":"e7de6bad-ec03-4c55-a437-72d3a2b9aad7","name":"Libéllé formatage"},{"parameters":{"authentication":"coreImapAccount","resource":"email","operation":"moveEmail","sourceMailbox":{"__rl":true,"mode":"list","value":"INBOX"},"emailUid":"={{ $('Lire mail entrant').item.json.uid }}","destinationMailbox":{"__rl":true,"value":"={{ $json.labelId }}","mode":"path"}},"type":"n8n-nodes-imap.imap","typeVersion":1,"position":[1440,-976],"id":"bc740634-db77-4c54-a97b-ec4504131e94","name":"Move to libéllé","credentials":{"imap":{"id":"e08SIUvsuyY0UQTH","name":"IMAP account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1va_abE8evBxvx8-Tt6u8VOJNmw46VVdc1--neeSweP8","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1va_abE8evBxvx8-Tt6u8VOJNmw46VVdc1--neeSweP8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('texte_original1').item.json.imap_message_uid }}","message":"={{ $('texte_original1').item.json.texte_original }}","mail":"={{ $('texte_original1').item.json['expediteur email'] }}","date":"={{ $now.format('DD') }}","objet":"={{ $('texte_original1').item.json.objet }}","name":"={{ $('Lire mail entrant').item.json.envelope.from[0].name }}","libelle":"={{ $json.labelId }}"},"matchingColumns":["id"],"schema":[{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"objet","displayName":"objet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"mail","displayName":"mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"libelle","displayName":"libelle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1440,-1184],"id":"20ccd329-f601-4151-81e0-ff521a5a183e","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"msQv72O0ca6dzU02","name":"Misterh06 (SHEET)"}}},{"parameters":{"content":"## RESUME ACTION AGENT CLASSEMENT","height":560,"width":1536,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1856,-1248],"typeVersion":1,"id":"78e58ac9-6420-4f2f-99cd-ab1ac227ce6c","name":"Sticky Note4"},{"parameters":{"promptType":"define","text":"Tu es un assistant juridique, ton rôle est de résumer toutes les actions qui ont été faites dans le 24h. voici la date du jour {{$now}}.","options":{"systemMessage":"=L'ensemble des mails reçus hier ont été classés dans différents libellés.\nTon rôle est de fournir un résumé simple en indiquant l'objet, l'adresse mail, le message et de dire dans quel libelle ce mail a été classé.\nUtilise le tool \"get historique\" qui contient l'ensemble des informations nécessaires.\n\n## IMPORTANT \n- Tu ne dois traiter que les lignes datant de moins de 24 heures. Nous sommes le {{ $now}} }}\n- Tu dois fournir un résumé concis et clair sans phrases superflues. pas plus de 50 mots\n- Ajoute quelques emojis\n\n**À rendre STRICTEMENT au format suivant pour chaque mail, SANS ajout ou changement d’ordre :**\n📧 <strong>Objet</strong>: [Objet du mail]<br/>\n📧 <strong>Name</strong>: [Nom de l'expéditeur]<br/>\n➡️ <strong>De</strong>: [Adresse mail]<br/>\n💬 <strong>Message</strong>: [Résumé du message]<br/>\n🗄️ <strong>Classé dans</strong>: [Libellé]<br/><br/>\n\nphp-template\nCopier\nModifier\n— Chaque mail doit commencer par l’emoji 📧 Objet… et finir par 🗄️ Classé dans…<br/>\n— Un mail = un bloc. Mets deux sauts de ligne (`<br/><br/>`) entre chaque mail.\n— N’invente rien, suis l’exemple à la lettre."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[2240,-1072],"id":"2b7a14ba-1f1d-4ff3-8045-844f1816b570","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2112,-864],"id":"931bdac6-9af3-45bb-a5ba-b89b6e6b29e6","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"dvW7sOBx2nN3N5iu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1va_abE8evBxvx8-Tt6u8VOJNmw46VVdc1--neeSweP8","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1va_abE8evBxvx8-Tt6u8VOJNmw46VVdc1--neeSweP8/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[2496,-848],"id":"b8030267-c350-4a2d-b329-46ae795724a7","name":"get historique","credentials":{"googleSheetsOAuth2Api":{"id":"msQv72O0ca6dzU02","name":"Misterh06 (SHEET)"}}},{"parameters":{"httpMethod":"POST","path":"get_resume","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1952,-1072],"id":"bdbe4012-7c0a-44a2-835b-3542c03b4168","name":"Webhook1","webhookId":"6d1622b1-d736-4be3-a2a8-f7957ebaafb5"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[3152,-1088],"id":"2f399f04-590a-4a56-842d-3f349bded015","name":"Respond to Webhook7"},{"parameters":{"jsCode":"// Dans un node Function, après ton IA agent\nconst markdown = items[0].json.output;\n\n// Conversion simple du markdown en HTML (basique, ou tu peux faire plus si besoin)\nfunction markdownToHtml(md) {\n  return md\n    .replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>')           // gras\n    .replace(/\\*(.*?)\\*/g, '<em>$1</em>')                       // italique\n    .replace(/\\n\\n/g, '<br/><br/>')                             // double retour\n    .replace(/\\n/g, '<br/>')                                    // simple retour\n    .replace(/\\* +/g, '<li>')                                   // listes (simplifié)\n    .replace(/<\\/li><li>/g, '</li><li>');\n}\n\nconst html = markdownToHtml(markdown);\n\nreturn [{ json: { html: html } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2592,-1072],"id":"a3fee422-b732-407e-b69d-d144cb14d867","name":"Code2"},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-208,-976],"id":"1cd176a2-834a-4083-9ce8-4e2c9946d78e","name":"Schedule Trigger"}],"connections":{"texte_original":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"IMAP Comm - Move to Corbeille","type":"main","index":0}],[{"node":"IMAP Comm - Mark as Unread","type":"main","index":0}],[{"node":"IMAP Comm - Get Original (for Reply)","type":"main","index":0}],[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"GetSheetDataWithIndex","type":"main","index":0}]]},"Gemini_GenerateReply":{"main":[[{"node":"Prepare Reply Suggestion Data","type":"main","index":0}]]},"Prompt Réponse Gemini":{"main":[[{"node":"Gemini_GenerateReply","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Google Sheets3","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"Update row","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook Action":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Respond to Webhook2":{"main":[[{"node":"Delete row 1","type":"main","index":0}]]},"Prepare Reply Suggestion Data":{"main":[[{"node":"Respond to Webhook4","type":"main","index":0}]]},"Webhook - Send Final Reply":{"main":[[{"node":"Send Final Email (SMTP)","type":"main","index":0}]]},"Webhook - Get Gmail Labels":{"main":[[{"node":"IMAP","type":"main","index":0}]]},"Code":{"main":[[{"node":"Respond to Webhook5","type":"main","index":0}]]},"Webhook2":{"main":[[{"node":"IMAP Comm - Move to Selected Folder","type":"main","index":0}]]},"GetSheetDataWithIndex":{"main":[[{"node":"If1","type":"main","index":0}]]},"Respond to Webhook3":{"main":[[{"node":"Delete row 2","type":"main","index":0}]]},"Google Sheets3":{"main":[[{"node":"IMAP Comm - Lire Non Lus","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]},"IMAP Comm - Move to Corbeille":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}]]},"IMAP Comm - Mark as Unread":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"IMAP Comm - Get Original (for Reply)":{"main":[[{"node":"Exemple de style","type":"main","index":0}]]},"Send Final Email (SMTP)":{"main":[[{"node":"Respond Send Confirmation","type":"main","index":0}]]},"IMAP":{"main":[[{"node":"Code","type":"main","index":0}]]},"IMAP Comm - Move to Selected Folder":{"main":[[{"node":"Respond to Webhook6","type":"main","index":0}]]},"IMAP Comm - Lire Non Lus":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If2":{"main":[[{"node":"Set - No Unread Emails","type":"main","index":0}],[{"node":"texte_original","type":"main","index":0}]]},"Set - No Unread Emails":{"main":[[{"node":"texte_original","type":"main","index":0}]]},"Exemple de style":{"main":[[{"node":"Prompt Réponse Gemini","type":"main","index":0}]]},"Update row":{"main":[[]]},"Basic LLM Chain":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"If2","type":"main","index":0}]]},"texte_original1":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"IMAP1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Email Trigger (IMAP)":{"main":[[]]},"Basic LLM Chain1":{"main":[[{"node":"Libéllé formatage","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"texte_original1","type":"main","index":0}]]},"Lire mail entrant":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Libéllé formatage":{"main":[[{"node":"Move to libéllé","type":"main","index":0},{"node":"Append row in sheet","type":"main","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"get historique":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Webhook1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Respond to Webhook7","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Lire mail entrant","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Paris","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Email Trigger (IMAP)":{"lastMessageUid":68973},"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"752e90f8-c225-430c-ad1f-83cd7f59f15c","triggerCount":7,"tags":[]}