mail-assistant-misterh06-OqDrlCKT5Xs3K1wU.json

{"createdAt":"2025-04-21T14:55:08.641Z","updatedAt":"2025-07-29T14:59:35.000Z","id":"OqDrlCKT5Xs3K1wU","name":"Mail Assistant misterh06","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"message","operation":"getAll","limit":1,"additionalFields":{"format":"full","includeSpamTrash":false,"q":"=is:unread category:primary\n\n"}},"name":"Lire Gmail (non lus)","type":"n8n-nodes-base.gmail","typeVersion":1,"position":[420,380],"id":"b1c3c18f-8854-48e7-90ec-dd68f4ca00ff","credentials":{"gmailOAuth2":{"id":"b5BjrbVHHWpFUvVV","name":"Misterh.shop (GMAIL)"}}},{"parameters":{"requestMethod":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key=AIzaSyD2-O5ZZEqJVwg4yb0sE4qPRhnYKrEG0Yo","jsonParameters":true,"options":{},"bodyParametersJson":"={{$json}}"},"name":"Gemini Résumé","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[1680,380],"id":"add90a72-c9d4-4de6-94ce-a4ff66ff2444"},{"parameters":{"jsCode":"// Récupérer les données du nœud précédent\nconst emailData = $node[\"texte_original\"].json;\n\n// Valeurs par défaut\nconst textOriginal = emailData.texte_original ?? 'Contenu non fourni';\nconst objet = emailData.objet ?? 'Objet non fourni';\nconst expediteur = emailData['expediteur email'] ?? 'Expéditeur non fourni';\nconst dateHeure = emailData.date_heure ?? 'Date non fournie';\nconst attachmentsInfo = emailData.attachments_info ?? 'Information sur les pièces jointes indisponible.';\n\n// Construire le prompt\nconst prompt = `\nVeuillez fournir un résumé concis en français de l'e-mail suivant :\n\n📧 Expéditeur : ${expediteur}\n📅 Date : ${dateHeure}\n📝 Objet : ${objet}\n📎 ${attachmentsInfo}\n\nContenu de l'e-mail :\n---\n${textOriginal}\n---\n\nRésumé :\n(Instruction importante : Si des pièces jointes sont indiquées ci-dessus, merci de le mentionner clairement dans le résumé, y compris leurs noms si possible.)\n`;\n\n// Retourner sous forme attendue pour Gemini\nreturn [\n  {\n    json: {\n      contents: [\n        {\n          parts: [\n            {\n              text: prompt\n            }\n          ]\n        }\n      ]\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,380],"id":"fe24dc6f-5af9-40bb-b7d3-44625dcdf476","name":"Function prompt"},{"parameters":{"assignments":{"assignments":[{"id":"d027cc91-ff43-4eee-96bb-1fe53ff81887","name":"objet","value":"={{$json.subject}}","type":"string"},{"id":"97848922-1a7a-4e78-b67b-0c2a5523ea9c","name":"expediteur email","value":"={{$json.from.value[0].address}}","type":"string"},{"id":"95cde126-9f30-4062-b453-661823a5a226","name":"date_heure","value":"={{$json.date}}","type":"string"},{"id":"6ec45507-9cd2-4d66-9dbe-a6f539a1c874","name":"texte_original","value":"={{$json.html}}","type":"string"},{"id":"cbda05f9-899e-4d94-b2b6-e1da7d0bdb20","name":"gmail_message_id","value":"={{$json.id}}","type":"string"},{"id":"27b5593a-b1d8-4164-80b3-c47ee8b845aa","name":"attachments_info","value":"=={{ (() => {\n  const binaryData = $binary ?? {};\n  const binaryKeys = Object.keys(binaryData);\n\n  if (binaryKeys.length === 0) {\n    return \"📭 Aucune pièce jointe détectée.\";\n  }\n\n  const filenames = binaryKeys.map(key => {\n    const file = binaryData[key];\n    if (file?.fileName && file?.fileExtension) {\n      return `${file.fileName}.${file.fileExtension}`;\n    } else if (file?.fileName) {\n      return file.fileName;\n    } else {\n      return null;\n    }\n  }).filter(Boolean);\n\n  if (filenames.length > 0) {\n    return `📎 Pièces jointes détectées : ${filenames.join(', ')}`;\n  } else {\n    return `📎 Des pièces jointes sont présentes dans l’e-mail, mais leurs noms complets ne sont pas disponibles.`;\n  }\n})() }}\n\n\n\n\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1360,380],"id":"7ea19b87-1273-4c66-9421-4d878ba90401","name":"texte_original"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ec8e120e-2293-4b24-8d11-cfc7dc1f9fca","leftValue":"{{ $json.message?.reply_to_message }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[120,680],"id":"ad47ef71-f9fc-41c3-a8cc-124b6e2e38b5","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"1afc3000-c689-4d7e-a2b1-26c128b72ab0","leftValue":"={{ $items.length > 0 && Array.isArray($items[0].json) && $items[0].json.length > 0 }}\n\n","rightValue":1,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[640,660],"id":"7dba1143-49b9-41cc-aeea-93b9817871c6","name":"If1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.user_command }}","rightValue":"DELETE","operator":{"type":"string","operation":"equals"},"id":"362ce59b-ec3d-4632-bb82-92829d3e78a0"}],"combinator":"and"},"renameOutput":true,"outputKey":"delete"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"db7aa575-f272-4252-afb9-e9a6406c0330","leftValue":"={{ $json.user_command }}","rightValue":"IGNORE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ignore"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8e1050e5-522e-4205-a84b-a324a9f35b9f","leftValue":"={{ $json.user_command }}","rightValue":"REPLY","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"reply"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6ae72693-e0b4-4628-b34f-2bfe4c6c9972","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"defaut"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[940,620],"id":"1a260a58-2f8d-4c56-8b34-cceae2be2762","name":"Switch"},{"parameters":{"operation":"delete","messageId":"={{ $json.gmail_message_id_to_process }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1660,560],"id":"1fc861b0-5dff-4060-911e-bf6d1bea6d46","name":"Gmail","webhookId":"13a9faaa-f95c-4da2-81a0-0a1e997a2a1d","credentials":{"gmailOAuth2":{"id":"b5BjrbVHHWpFUvVV","name":"Misterh.shop (GMAIL)"}}},{"parameters":{"operation":"markAsUnread","messageId":"={{ $json.gmail_message_id_to_process }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1840,700],"id":"4254ed4b-7dfe-43d7-9ed8-4f87426e2dd7","name":"Gmail2","webhookId":"579f8c4e-4ef2-406d-b41b-cbdf2ad81eae","credentials":{"gmailOAuth2":{"id":"b5BjrbVHHWpFUvVV","name":"Misterh.shop (GMAIL)"}}},{"parameters":{"assignments":{"assignments":[{"id":"d5be5c85-f66c-4548-baf1-f68b52a2ffdd","name":"user_command","value":"={{ $json.body.action }}","type":"string"},{"id":"72c860fc-81f2-4f1f-bff6-07d6d94e8586","name":"writing_style","value":"={{ $json.body.writingStyle ?? '' }}","type":"string"},{"id":"6a900210-dbbd-4e11-a09e-732be006aeda","name":"extra_instructions","value":"={{ $json.body.extraInstructions ?? '' }}\n","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,660],"id":"ac92dac8-77c4-45ad-8707-86ead0b4b87d","name":"Edit Fields2"},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-lite:generateContent?key=AIzaSyD2-O5ZZEqJVwg4yb0sE4qPRhnYKrEG0Yo","sendBody":true,"specifyBody":"=json","bodyParameters":{"parameters":[{}]},"jsonBody":"={{\n  {\n    \"contents\": [\n      {\n        \"parts\": [\n          {\n            \"text\": $json.reply_prompt // <- Injecte le prompt préparé\n          }\n        ]\n      }\n    ]\n    // Tu peux ajouter d'autres paramètres ici si besoin\n    // \"generationConfig\": {\n    //   \"temperature\": 0.7,\n    //   \"maxOutputTokens\": 8192\n    // },\n    // \"safetySettings\": [\n    //   { \"category\": \"HARM_CATEGORY_...\", \"threshold\": \"BLOCK_MEDIUM_AND_ABOVE\" }\n    // ]\n  }\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1460,780],"id":"19e4d76e-05d3-40d3-981e-efd7cbc949fd","name":"Gemini_GenerateReply"},{"parameters":{"operation":"get","messageId":"={{ $json.id }}","simple":false,"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1200,380],"id":"978e675f-5ac4-42b3-9d4e-409a60a70fd0","name":"Gmail3","webhookId":"1289ad67-35ed-4c56-a8d9-973f5508bdfb","credentials":{"gmailOAuth2":{"id":"b5BjrbVHHWpFUvVV","name":"Misterh.shop (GMAIL)"}}},{"parameters":{"assignments":{"assignments":[{"id":"a44d5b4d-a33d-4e2f-b5ac-33af09bd774c","name":"reply_prompt","value":"=={{ (() => {\n  const node2 = $('Edit Fields2')?.item?.json ?? {};\n  const customStyle = node2.writing_style ?? '';\n  const extraInstructions = node2.extra_instructions ?? '';\n  const originalEmailText = $json?.text ?? 'Contenu de l\\'email original non disponible.';\n\n  let styleInstruction = customStyle && customStyle.trim() !== ''\n    ? `Adopte ce style de rédaction : ${customStyle.trim()}`\n    : `Par défaut, adopte un ton juridique, clair et professionnel.`;\n\n  let fullInstructions = `Tu es un assistant juridique très qualifié. Ton rôle est de rédiger une réponse adaptée à l’e-mail suivant. ${styleInstruction}`;\n\n  if (extraInstructions && extraInstructions.trim() !== '') {\n    fullInstructions += ` Prends bien en compte ces instructions supplémentaires et intègre-les au mieux dans ta réponse : ${extraInstructions.trim()}`;\n  }\n\n  return `Cette réponse est destinée à être envoyée directement. Fournis uniquement le corps de l'e-mail, sans aucune explication ou commentaire supplémentaire.\n\nRédige uniquement le corps de la réponse à cet e-mail :\n---\n\n${originalEmailText}\n---\n\n${fullInstructions}\n\nRespecte les règles suivantes :\n- Ne commence pas par des phrases telles que \"Voici le corps de la réponse...\" ou similaires.\n- Pas de signature ou mention \"[Votre nom]\".\n- Structure la réponse directement en HTML (utilise <br> pour les sauts de ligne).\n- Ne l’encapsule pas dans des balises Markdown comme \\`\\`\\`html ou '''html.\n- La réponse doit pouvoir être copiée-collée directement comme contenu d’e-mail.\n- Une seule version finale de la réponse (pas de variantes).\n- Commence directement par une formule d’introduction adaptée.\n\n\n\nRéponds maintenant.`;\n})() }}\n\n\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1300,720],"id":"5e0bace4-deb1-4e5b-bced-355d87d2c0e7","name":"Prompt Réponse Gemini"},{"parameters":{"operation":"get","messageId":"={{ $json.gmail_message_id_to_process }}","simple":false,"options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1120,720],"id":"98384cd8-d55a-446e-9fde-ac42260b1f90","name":"Gmail_GetOriginal","webhookId":"c90d4926-75bc-404f-a733-0790ef6497f8","credentials":{"gmailOAuth2":{"id":"b5BjrbVHHWpFUvVV","name":"Misterh.shop (GMAIL)"}}},{"parameters":{"httpMethod":"POST","path":"e55fe17f-6985-4fb3-98f6-68beab2ed656","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[60,380],"id":"4014683e-c38e-4d0c-86c3-3b1b2b807a32","name":"Webhook","webhookId":"e55fe17f-6985-4fb3-98f6-68beab2ed656"},{"parameters":{"options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2040,360],"id":"7151cdba-511c-493a-8e85-92d292026e35","name":"Respond to Webhook","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"30fb0b13-8d92-425e-b3c0-7b5e81c0979d","name":"expediteur","value":"={{ $node[\"texte_original\"].json[\"expediteur email\"] || \"Expéditeur non trouvé\" }}","type":"string"},{"id":"64d9c35a-3093-4d32-8f5c-ebe39de5b0d8","name":"objet","value":"={{ $node[\"texte_original\"].json.objet || \"Objet non trouvé\" }}","type":"string"},{"id":"cc02ed9f-57e5-4f58-8802-39ef3e5d879c","name":"date","value":"={{ $node[\"texte_original\"].json.date_heure || \"Date non trouvée\" }}","type":"string"},{"id":"a87aaad9-d1b1-4ee1-b609-d34a2d9cc99a","name":"resume","value":"={{ $node[\"Gemini Résumé\"].json.candidates[0].content.parts[0].text || \"Résumé introuvable\" }}","type":"string"},{"id":"7fb02705-d049-4099-a17b-88c62cabd8ea","name":"gmailMessageId","value":"={{ $node[\"texte_original\"].json.gmail_message_id }}","type":"string"},{"id":"949e02ec-fe00-438d-a380-5937634110b1","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1820,380],"id":"1b172565-d6ac-4492-a124-b225526ffeaf","name":"Edit Fields"},{"parameters":{"httpMethod":"POST","path":"3251383a-01dc-495b-bf2c-ebe6b9de960e","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-60,680],"id":"1a548582-9a3c-4b10-b2e1-c3bff253cfb5","name":"Webhook Action","webhookId":"3251383a-01dc-495b-bf2c-ebe6b9de960e"},{"parameters":{"options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1440,1080],"id":"6b6aa27c-3ca6-4c10-a177-a13ef3a83735","name":"Respond to Webhook1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1840,560],"id":"d4046201-eb62-4a52-a234-74a1a47c1f20","name":"Respond to Webhook2","onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2060,700],"id":"07f8dd1e-e75f-404b-81d4-04e665433e30","name":"Respond to Webhook3"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1860,920],"id":"5194f8c9-33bb-4acf-871c-c067db592455","name":"Respond to Webhook4"},{"parameters":{"assignments":{"assignments":[{"id":"5abceb2e-8062-4d7d-98fd-066e25e91409","name":"gmail_message_id_to_process","value":"={{ $('Webhook Action').item.json.body.gmailMessageId }}","type":"string"},{"id":"3a054305-e6e2-4d1e-a62d-45a9fb7813be","name":"user_command","value":"={{ $('Edit Fields2').item.json.user_command }}","type":"string"},{"id":"02350761-e625-4d85-9aa0-e96a83ed8c42","name":"writing_style","value":"={{ $('Edit Fields2').item.json.writing_style }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,640],"id":"507396c3-a133-464f-8fb8-6383c91414cb","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"92e07863-f300-4c9d-82d2-b4a11f072637","name":"status","value":"suggestion_ready","type":"string"},{"id":"d4cac96f-8dc7-4bd7-b57b-3a157836e87f","name":"suggestedReply","value":"={{ $('Gemini_GenerateReply').item.json.candidates[0].content.parts[0].text }}","type":"string"},{"id":"ca46d874-a897-42ef-85cd-8db749569f32","name":"recipientEmail","value":"={{ $('Gmail_GetOriginal').item.json.from.value[0].address }}","type":"string"},{"id":"dccde686-0bf2-44de-9daf-1626c75bdf8c","name":"originalSubject","value":"={{ $('Gmail_GetOriginal').item.json.subject }}","type":"string"},{"id":"a312dc7f-0fe4-4c4f-ae7f-03b9634dfef6","name":"gmailId","value":"={{ $('Edit Fields1').item.json.gmail_message_id_to_process }}","type":"string"},{"id":"de5fdb3d-f7c9-4fcf-893c-48ada40b782a","name":"airtableId","value":"={{ $('Edit Fields1').item.json.airtable_record_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1680,780],"id":"c33f8e3e-b0bf-486a-a187-32155393903b","name":"Prepare Reply Suggestion Data"},{"parameters":{"httpMethod":"POST","path":"send-final-reply","responseMode":"responseNode","options":{"binaryPropertyName":"=attachments"}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-40,1000],"id":"9c412aa0-a5c8-42b0-83cc-150fc195781e","name":"Webhook - Send Final Reply","webhookId":"9d1e24b8-2bcb-4329-9ad6-fb2bddb1126f"},{"parameters":{"resource":"thread","operation":"reply","threadId":"={{ $json.body.gmailId }}","messageId":"={{ $json.body.gmailId }}","emailType":"html","message":"={{ $json.body.editedReply }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[420,1000],"id":"3abb40eb-cafe-465b-b868-e50797009cf0","name":"Send Final Email","webhookId":"e2eaffc1-e3e5-47c2-81a9-b07a67ae07bf","credentials":{"gmailOAuth2":{"id":"b5BjrbVHHWpFUvVV","name":"Misterh.shop (GMAIL)"}}},{"parameters":{"respondWith":"json","responseBody":"={ \"status\": \"success\", \"message\": \"Email envoyé avec succès.\" }","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[760,1000],"id":"df62293e-e9ac-468d-86fa-a0cc4f2c7041","name":"Respond Send Confirmation"},{"parameters":{"path":"get-labels","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[40,80],"id":"2d057db5-48a6-4341-9c97-2ddd176a9cb4","name":"Webhook - Get Gmail Labels","webhookId":"84059266-d0b0-43a5-a272-c68a6d965b19"},{"parameters":{"resource":"label"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[200,80],"id":"8ed028ac-23eb-4183-8798-dc902149baf7","name":"Get Gmail Labels","webhookId":"38ffc58b-2e3f-4c13-b28e-5c6567027100","credentials":{"gmailOAuth2":{"id":"b5BjrbVHHWpFUvVV","name":"Misterh.shop (GMAIL)"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,80],"id":"01871ca6-631f-4b99-9c9c-38a7d4e4a62b","name":"Respond to Webhook5"},{"parameters":{"jsCode":"// Dans n8n, les items sont accessibles via items variable\n// Filtrer les éléments de type \"user\" et extraire id et name\nconst userLabels = items\n  .filter(item => item.json.type === 'user')\n  .map(item => {\n    return {\n      json: {\n        id: item.json.id,\n        name: item.json.name\n      }\n    };\n  });\n\n// Retourner le résultat filtré\nreturn userLabels;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,80],"id":"6c2f5e83-b2c2-44bd-9d94-8f5eaf590407","name":"Code"},{"parameters":{"content":"Branche de récupération des libellés","height":280,"width":640,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"19b9796c-ec4a-4095-8086-7dca40810bfe","name":"Sticky Note"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.body.gmailMessageId }}","labelIds":"={{ $json.body.labelId }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[980,80],"id":"a87d62d8-7c6c-4569-92b9-6f6e1d3daa7e","name":"Gmail1","webhookId":"530cc259-c55c-4d40-b91b-1b854753fb5c","credentials":{"gmailOAuth2":{"id":"b5BjrbVHHWpFUvVV","name":"Misterh.shop (GMAIL)"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"message\": \"classement effectué dans le libellé {{ $json.name }}\"\n}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1700,80],"id":"7bbba9a8-0e62-4f7a-a3fd-d30918ed836d","name":"Respond to Webhook6"},{"parameters":{"content":"Attribution du libellé","height":280,"width":1120},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[760,0],"id":"dc214b6a-740a-4371-a464-67a06d41a087","name":"Sticky Note1"},{"parameters":{"resource":"label","operation":"get","labelId":"={{ $('Webhook2').item.json.body.labelId }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1220,80],"id":"ccc8d3d2-0581-4a4f-b242-f0a79a813af4","name":"GetLabelInfo","webhookId":"3563945e-f290-436c-a8e2-cbf4317819aa","credentials":{"gmailOAuth2":{"id":"b5BjrbVHHWpFUvVV","name":"Misterh.shop (GMAIL)"}}},{"parameters":{"operation":"removeLabels","messageId":"={{ $('Webhook2').item.json.body.gmailMessageId }}","labelIds":["INBOX"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1440,80],"id":"22c686f7-c5d7-48a0-b5f6-8b7ede56167d","name":"Gmail4","webhookId":"1d6684f8-c33c-4d91-8967-eef581e20452","credentials":{"gmailOAuth2":{"id":"b5BjrbVHHWpFUvVV","name":"Misterh.shop (GMAIL)"}}},{"parameters":{"httpMethod":"POST","path":"recep-libelles","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[780,80],"id":"e370c011-0b84-4ec0-ba5a-f717197093e0","name":"Webhook2","webhookId":"b9a4d8d0-f59b-4071-a35f-aa4522586ca4"},{"parameters":{"documentId":{"__rl":true,"value":"1h0LHRydNSQJvY0MKA9EtQzGqAkbSxiCiALnjrHYpcA8","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1h0LHRydNSQJvY0MKA9EtQzGqAkbSxiCiALnjrHYpcA8/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"GmailMessageID","lookupValue":"={{ $('Webhook Action').item.json.body.imap_message_uid }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[480,660],"id":"355b44cb-d059-44ba-8c91-de9990f0ee67","name":"GetSheetDataWithIndex","credentials":{"googleSheetsOAuth2Api":{"id":"msQv72O0ca6dzU02","name":"Misterh06 (SHEET)"}}},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1h0LHRydNSQJvY0MKA9EtQzGqAkbSxiCiALnjrHYpcA8","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1h0LHRydNSQJvY0MKA9EtQzGqAkbSxiCiALnjrHYpcA8/edit#gid=0"}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2060,560],"id":"3066d012-7198-49df-8970-f96dce6cd9e6","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"msQv72O0ca6dzU02","name":"Misterh06 (SHEET)"}}},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1h0LHRydNSQJvY0MKA9EtQzGqAkbSxiCiALnjrHYpcA8","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1h0LHRydNSQJvY0MKA9EtQzGqAkbSxiCiALnjrHYpcA8/edit#gid=0"}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2280,700],"id":"e02350ed-2acc-4ea8-883f-c59077d84ac5","name":"Google Sheets2","credentials":{"googleSheetsOAuth2Api":{"id":"msQv72O0ca6dzU02","name":"Misterh06 (SHEET)"}}},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1h0LHRydNSQJvY0MKA9EtQzGqAkbSxiCiALnjrHYpcA8","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1h0LHRydNSQJvY0MKA9EtQzGqAkbSxiCiALnjrHYpcA8/edit#gid=0"}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[260,380],"id":"04fbae36-c588-4f85-8065-18f2e840a2c3","name":"Google Sheets3","credentials":{"googleSheetsOAuth2Api":{"id":"msQv72O0ca6dzU02","name":"Misterh06 (SHEET)"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1h0LHRydNSQJvY0MKA9EtQzGqAkbSxiCiALnjrHYpcA8","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1h0LHRydNSQJvY0MKA9EtQzGqAkbSxiCiALnjrHYpcA8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"GmailMessageID":"={{ $json.gmailMessageId }}","TimestampCreation":"={{ $now }}"},"matchingColumns":["GmailMessageID"],"schema":[{"id":"GmailMessageID","displayName":"GmailMessageID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TimestampCreation","displayName":"TimestampCreation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"RowIndex","displayName":"RowIndex","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2260,360],"id":"b145d75e-c0fd-46b0-b2a0-908dcd747a70","name":"AddMappingToSheet","credentials":{"googleSheetsOAuth2Api":{"id":"msQv72O0ca6dzU02","name":"Misterh06 (SHEET)"}}}],"connections":{"Lire Gmail (non lus)":{"main":[[{"node":"Gmail3","type":"main","index":0}]]},"Gemini Résumé":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Function prompt":{"main":[[{"node":"Gemini Résumé","type":"main","index":0}]]},"texte_original":{"main":[[{"node":"Function prompt","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Gmail","type":"main","index":0}],[{"node":"Gmail2","type":"main","index":0}],[{"node":"Gmail_GetOriginal","type":"main","index":0}],[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]},"Gmail2":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"GetSheetDataWithIndex","type":"main","index":0}]]},"Gemini_GenerateReply":{"main":[[{"node":"Prepare Reply Suggestion Data","type":"main","index":0}]]},"Gmail3":{"main":[[{"node":"texte_original","type":"main","index":0}]]},"Prompt Réponse Gemini":{"main":[[{"node":"Gemini_GenerateReply","type":"main","index":0}]]},"Gmail_GetOriginal":{"main":[[{"node":"Prompt Réponse Gemini","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Google Sheets3","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"AddMappingToSheet","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook Action":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Respond to Webhook2":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Prepare Reply Suggestion Data":{"main":[[{"node":"Respond to Webhook4","type":"main","index":0}]]},"Webhook - Send Final Reply":{"main":[[{"node":"Send Final Email","type":"main","index":0}]]},"Send Final Email":{"main":[[{"node":"Respond Send Confirmation","type":"main","index":0}]]},"Webhook - Get Gmail Labels":{"main":[[{"node":"Get Gmail Labels","type":"main","index":0}]]},"Get Gmail Labels":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Respond to Webhook5","type":"main","index":0}]]},"Gmail1":{"main":[[{"node":"GetLabelInfo","type":"main","index":0}]]},"GetLabelInfo":{"main":[[{"node":"Gmail4","type":"main","index":0}]]},"Gmail4":{"main":[[{"node":"Respond to Webhook6","type":"main","index":0}]]},"Webhook2":{"main":[[{"node":"Gmail1","type":"main","index":0}]]},"GetSheetDataWithIndex":{"main":[[{"node":"If1","type":"main","index":0}]]},"Respond to Webhook3":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Google Sheets3":{"main":[[{"node":"Lire Gmail (non lus)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ecb46790-384d-4a9d-8933-da984c63753e","triggerCount":5,"tags":[]}