running_coach_plan-0KwztJds1MtW5kAZ.json

{"createdAt":"2025-04-29T11:05:34.319Z","updatedAt":"2025-07-22T15:34:30.000Z","id":"0KwztJds1MtW5kAZ","name":"Running_coach_plan","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"running-plan/start","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-960,-560],"id":"17222b91-206f-4b57-be29-7deb40c5c596","name":"Webhook","webhookId":"651273c8-4405-4094-9d8f-cdee771181cc"},{"parameters":{"promptType":"define","text":"=Tu es un coach de course à pied motivant et professionnel.\n\nDonnées déjà calculées :\n- Durée estimée : {{$json.durationWeeks}} semaines  \n- Objectif réalisable : {{$json.isRealistic}}  \n- Ton souhaité : {{$json.coachtone}}\n\nInstructions :\n1. Si Objectif réalisable = false :\n   Commence par « Objectif non réalisable 😞 » puis explique en 50-60 mots pourquoi (trop ambitieux par rapport à la VMA actuelle) et propose un objectif intermédiaire plus raisonnable. Utilise le ton {{$json.coachtone}} et quelques emojis.\n\n2. Si Objectif réalisable = true :\n    Donne 40-70 mots de conseils (sans détailler le calcul) dans le ton {{$json.coachtone}} et quelques emojis.\n\nRédige de façon concise et encourageante.\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-400,-560],"id":"1d801f1b-ba8a-4860-ab12-8deb20857fb1","name":"AI Agent"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[160,-560],"id":"95e1437e-276a-49e3-80e4-0142f08bc0b9","name":"Respond to Webhook"},{"parameters":{"httpMethod":"POST","path":"running-plan/build","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1220,-80],"id":"548d088a-a497-449f-a6b7-4d1bfbfa2269","name":"Webhook1","webhookId":"41606414-8dcb-405c-b218-804286e8b5d8"},{"parameters":{"assignments":{"assignments":[{"id":"2a43fdd7-61ac-472d-ac7b-cd779c556b0e","name":"planIntroduction","value":"=Nombre de semaine pour atteindre votre objectif : {{$json.output}}","type":"string"},{"id":"c56c0700-db92-423f-9b73-699c1c0ab46e","name":"planDuration","value":"={{ $('Code2').item.json.durationWeeks }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-40,-560],"id":"3b8517a5-5d3f-43bb-a2f6-ea85923ef419","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"=Tu es un coach de course à pied expert en plans personnalisés.\n\n1.structure JSON de base :\n{{ $json.rawPlan }}\n\n2. Données de l’athlète (VMA, FC, poids, taille...) :\n{{ $('Webhook1').item.json.body.performanceStats }}\n\nTa tâche : **complète chaque objet \"sessions\"** en respectant exactement la structure.\n\nÀ renseigner pour chaque séance :\n1. \"distance_totale\" : distance totale en km (échauffement + travail + récup éventuelle + 1 km cooldown).\n2. \"duree_estimee\"  : au format hh:mm, basée sur l’allure.\n3. \"details\"        : tableau d’objets décrivant chaque phase.\n\nAllures à utiliser (avec VMA de l’athlète) :\n- EF ≈ 60 % VMA\n- Tempo ≈ 75 %\n- Seuil ≈ 85 %\n- Fractionné ≈ 90 %\n- Pyramidale : segments à 70 %, 80 %, 85 % VMA\n\nFormat d’un objet **details** :\n\n```json\n{\n  \"phase\" : \"Échauffement | Travail | Récupération | Cooldown\",\n  \"distance\" : \"400 m\" ou \"2 km\",\n  \"allure\"   : \"min/km\",\n  \"vitesse\"  : \"km/h\",\n  \"intensité\": \"bpm\"         // facultatif, laisser vide si inconnue\n  \"repetitions\"           : 8,        // optionnel (fractionné)\n  \"segment_distance\"      : \"400 m\",  // optionnel\n  \"distance_totale_recup\" : \"1.6 km\"  // optionnel\n}\n\n\n\n## CONSIGNES FINALES\n\n- Utilise strictement la structure du JSON fourni.\n- Ne change pas les noms des champs.\n- Ne rajoute aucun commentaire ni texte explicatif.\n- Rends uniquement le JSON final structuré comme à l’origine.\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-160,-80],"id":"7fae1ead-5581-4250-ac78-b57205d389d2","name":"AI Agent2","alwaysOutputData":false},{"parameters":{"jsCode":"// Le champ \"output\" contient la structure renvoyée par AI Agent 1 (avec ```json ... ```)\nlet txt = $json.output ?? \"\";\n\n// 1. Supprime l’ouverture ```json (insensible à la casse + espaces éventuels)\ntxt = txt.replace(/```json\\s*/i, \"\");\n\n// 2. Supprime tous les autres ``` éventuels (fermeture)\ntxt = txt.replace(/```/g, \"\").trim();\n\n// 3. Retourne un nouvel item avec la clé \"rawPlan\"\nreturn [\n  {\n    rawPlan: txt          // <-- Flutter lira res[\"rawPlan\"]\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-420,-80],"id":"8c43a29c-c217-472d-8156-cf2fb25da8b9","name":"wrapRawPlan"},{"parameters":{"jsCode":"// 1. Récupère la chaîne brute où qu’elle se trouve\nconst raw = $json.output || $json.rawPlan || \"\";\n\nif (!raw) {\n  throw new Error(\n    \"Aucune propriété 'output' ou 'rawPlan' trouvée dans l'item entrant.\"\n  );\n}\n\n// 2. Nettoie toutes les balises ```json … ```\nconst cleaned = raw\n  .replace(/```json\\s*/i, \"\")   // supprime l'ouverture (insensible à la casse)\n  .replace(/```/g, \"\")          // supprime toutes les fermetures\n  .trim();\n\n// 3. Parse le JSON proprement\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (err) {\n  throw new Error(\"JSON invalide : \" + err.message);\n}\n\n// 4. Renvoie un seul item avec les deux formats\nreturn [\n  {\n    json: {\n      rawPlan: cleaned,   // chaîne prête à stocker/télécharger\n      parsedPlan: parsed  // objet prêt à être manipulé\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[140,-80],"id":"9f97e342-27f1-4c7d-ba2d-e87ccf908405","name":"Code"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[-100,160],"id":"5732a612-5f76-4ce5-8738-ac8653dc2fa7","name":"Calculator"},{"parameters":{"assignments":{"assignments":[{"id":"fcd76742-4e75-444d-80c2-cb8d89a7a094","name":"=job_id","value":"={{$execution.id}}","type":"string"},{"id":"4f353f13-a2b8-4bdb-9d06-06976e965f74","name":"status","value":"\"in_progress\"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1000,-80],"id":"e9489f44-b344-407f-a976-bf004c1e4a7f","name":"job_id"},{"parameters":{"assignments":{"assignments":[{"id":"5c14e184-5d21-4da8-85c2-6db244d6e177","name":"=rawPlan","value":"={{ $json.rawPlan }}","type":"string"},{"id":"4a73f81e-1ef6-432d-92ef-72a33bb4c3bd","name":"parparsed","value":"={{$json[\"parsedPlan\"]}}","type":"string"},{"id":"d63102df-24b1-4712-8d8f-74d31ab6a42b","name":"ready","value":true,"type":"boolean"},{"id":"5b3214c8-f036-4633-84f7-a6c4ce45324e","name":"createdAt","value":"={{ $now }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[280,-80],"id":"e4359462-47c6-4438-bedb-e7877a5e6477","name":"Edit Fields1"},{"parameters":{"jsCode":"return items.map(item => {\n  const parsedData = typeof item.json.parparsed === 'string' \n    ? JSON.parse(item.json.parparsed) \n    : item.json.parparsed;\n  \n  // Créer un objet simple avec au moins un champ\n  return {\n    json: {\n      plan_metadata: {\n        plan_duration: parsedData.plan_duration,\n        training_goal: parsedData.training_goal,\n        sessions_per_week: parsedData.sessions_per_week\n      },\n      weekly_sessions_data: JSON.stringify(parsedData.weekly_sessions)\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[460,-80],"id":"f721b8d7-4849-4473-ade1-1e21f4ab1b92","name":"Code1"},{"parameters":{"content":"## CALCUL DE LA DUREE DU PLAN","height":420,"width":1440},"type":"n8n-nodes-base.stickyNote","position":[-1020,-660],"typeVersion":1,"id":"f97b6884-6669-4b3c-841f-837d91a122c5","name":"Sticky Note"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-380,-340],"id":"3407d6d0-0714-4c3c-ace6-89fb9e925d95","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"dvW7sOBx2nN3N5iu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"const b = items[0].json.body || {};\n\n// 1. Gestion sécurisée de l'objectif de temps\nconst t = String(b.objectiveTime || '').trim();\nconst parts = t.split(':').map(Number);\n\n// 2. Correction du calcul des secondes (gère les formats \"mm:ss\" ou \"hh:mm:ss\")\nlet objSec;\nif (parts.length === 3) {\n  // Format \"hh:mm:ss\"\n  objSec = parts[0] * 3600 + parts[1] * 60 + parts[2];\n} else if (parts.length === 2) {\n  // Format \"mm:ss\" ou \"hh:mm\" selon la valeur (ex: \"04:20\" = 4h20min)\n  // Si la première valeur > 60, on considère que c'est en minutes\n  if (parts[0] < 60) {\n    objSec = parts[0] * 3600 + parts[1] * 60; // format \"hh:mm\"\n  } else {\n    objSec = parts[0] * 60 + parts[1]; // format \"mm:ss\"\n  }\n} else {\n  objSec = 0; // Valeur par défaut\n}\n\n// 3. Conversion des paramètres en nombres\nconst vma = Number(b.vma);\nconst dist = Number(b.distance);\nconst spw = Number(b.sessionsPerWeek);\n\n// 4. Calcul correct de la différence (objectif - capacité actuelle)\n// Valeur positive = objectif plus ambitieux que la capacité actuelle\nconst vmaPace = 3600 / vma / 0.85; // Allure cible ajustée (en sec/km)\nconst targetPace = objSec / dist;  // Allure objectif (en sec/km)\nconst diff = vmaPace - targetPace; // positif = objectif plus rapide que capacité\n\n// 5. Calcul des semaines avec gestion des cas limites\nlet weeks;\nif (vma <= 0 || dist <= 0 || spw <= 0) {\n  weeks = null; // Données invalides\n} else if (diff >= 30) {\n  weeks = Math.ceil(20 * (3 / spw)); // Objectif très ambitieux\n} else if (diff >= 20) {\n  weeks = Math.ceil(16 * (3 / spw));\n} else if (diff >= 15) {\n  weeks = Math.ceil(12 * (3 / spw));\n} else if (diff >= 10) {\n  weeks = Math.ceil(10 * (3 / spw));\n} else if (diff >= 5) {\n  weeks = Math.ceil(8 * (3 / spw));\n} else if (diff >= 0) {\n  weeks = Math.ceil(6 * (3 / spw)); // Objectif légèrement ambitieux\n} else {\n  // Objectif réalisable immédiatement (diff < 0)\n  weeks = 2; // Minimum de 2 semaines pour consolider la base\n}\n\nreturn [{\n  json: {\n    durationWeeks: weeks,\n    isRealistic: weeks !== null,\n    coachtone: b.coachtone || 'professionnel',\n    // Données de diagnostic (utile pour le debug)\n    debug: {\n      vmaPace,\n      targetPace,\n      diff,\n      isValid: vma > 0 && dist > 0 && spw > 0\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-720,-560],"id":"9ca2faf4-1d3a-4494-9da9-4f47fa305428","name":"Code2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-860,-80],"id":"c971fcae-458f-41c7-80be-dcfa70609d01","name":"Respond to Webhook1"},{"parameters":{"path":"{job_id}","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1100,300],"id":"7e2920fb-17a5-4024-a7db-05e00f2e20a8","name":"Webhook2","webhookId":"f9977668-274b-4713-9a83-04d40cf22e88"},{"parameters":{"folderId":"189NEHKv5wwEoWCjCyc8DhiXrWC9gnXNS","title":"={{ $('job_id').item.json.job_id }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[640,-80],"id":"86842aec-5892-4512-b0d6-684101178009","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"nYOY5yU07rvlYs09","name":"Misterh.shop (DOCS)"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Seance type').item.json.output }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[780,-80],"id":"d57dcf37-79b2-4d1a-b604-ad29d6f7d846","name":"Google Docs1","credentials":{"googleDocsOAuth2Api":{"id":"nYOY5yU07rvlYs09","name":"Misterh.shop (DOCS)"}}},{"parameters":{"promptType":"define","text":"=Tu es un coach de course à pied professionnel.\n\n📌 Données de l'athlète :\n{{ $('Webhook1').item.json.body.performanceStats }}\n\n📌 Règles générales :\n- Répartis les séances sur **{{ $('Webhook1').item.json.body.planDuration }} semaines** en fonction de l'objectif **«  {{ $('Webhook1').item.json.body.improvementAxis }}»**.\n- Nombre de séances par semaine : **{{ $('Webhook1').item.json.body.sessionsPerWeek }}**.\n- La dernière séance chaque semaine doit être en Endurance Fondamentale (EF).\n\n👉 Pour chaque axe d'amélioration, applique cette répartition (EF, Tempo, Seuil, Fractionné, Pyramidale) :\n- Cardio : EF 30 %, Tempo 20 %, Seuil 15 %, Fractionné 25 %, Pyramidale 10 %\n- Endurance : EF 50 %, Tempo 20 %, Seuil 15 %, Fractionné 10 %, Pyramidale 5 %\n- Vitesse : EF 25 %, Tempo 20 %, Seuil 25 %, Fractionné 20 %, Pyramidale 10 %\n- Rester en forme : EF 40 %, Tempo 20 %, Seuil 15 %, Fractionné 15 %, Pyramidale 10 %\n\n🚨 **Consignes strictes** :\n- Génère uniquement la structure (pas les distances ni allures).  \n- Le résultat doit être **exclusivement un JSON** sans texte autour et comporter exactement les clés :  \n\n```json\n{\n  \"plan_duration\": {{ $('Webhook1').item.json.body.planDuration }},\n  \"training_goal\": {{ $('Webhook1').item.json.body.improvementAxis }},\n  \"sessions_per_week\": {{ $('Webhook1').item.json.body.sessionsPerWeek }},\n  \"weekly_sessions\": [\n    {\n      \"week\": 1,\n      \"sessions\": [\n        {\n          \"title\": \"TYPE_DE_SEANCE\",\n          \"distance_totale\": \"\",\n          \"duree_estimee\": \"\",\n          \"details\": [\n            {\"phase\": \"Échauffement\"},\n            {\"phase\": \"Travail\"},\n            {\"phase\": \"Cooldown\"}\n          ]\n        }\n        … répète selon le nombre de séances …\n      ]\n    }\n    … répète jusqu’à week = plan_duration …\n  ]\n}\n**Ne rajoute PAS de texte explicatif autour du JSON.**\n\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-720,-80],"id":"95623930-8882-4605-b9b0-0f37e6eda0e3","name":"Seance type"},{"parameters":{"operation":"get","documentURL":"={{ $json.id }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-660,300],"id":"e56f69ed-dd92-49fc-93b4-90487bdcfb2b","name":"Google Docs2","credentials":{"googleDocsOAuth2Api":{"id":"nYOY5yU07rvlYs09","name":"Misterh.shop (DOCS)"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1B9LCWlvrhtldmMhLPsOPL8S8EufCH_lWH7Z6ik34CYw","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9LCWlvrhtldmMhLPsOPL8S8EufCH_lWH7Z6ik34CYw/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"2","job_id":"=1","value":"={{ $('job_id').item.json.job_id }}","id":"={{ $json.documentId }}"},"matchingColumns":["job_id"],"schema":[{"id":"job_id","displayName":"job_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"value","displayName":"value","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[940,-80],"id":"9eac80d7-7e19-4dc4-833a-c33cd87d8b2b","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"FmpMTzNAmEkSrMV1","name":"Misterh.shop (SHEET)"}}},{"parameters":{"documentId":{"__rl":true,"value":"1B9LCWlvrhtldmMhLPsOPL8S8EufCH_lWH7Z6ik34CYw","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1B9LCWlvrhtldmMhLPsOPL8S8EufCH_lWH7Z6ik34CYw/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"job_id","lookupValue":"1"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-880,300],"id":"6915ab66-96a1-43bf-9b98-72deca4882c8","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"FmpMTzNAmEkSrMV1","name":"Misterh.shop (SHEET)"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-440,300],"id":"6853defc-c7bd-4401-b6b4-fc5873d927e8","name":"Respond to Webhook2"}],"connections":{"Webhook":{"main":[[{"node":"Code2","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"job_id","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"wrapRawPlan":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"job_id":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0},{"node":"Seance type","type":"ai_languageModel","index":0},{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Code2":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Respond to Webhook1":{"main":[[{"node":"Seance type","type":"main","index":0}]]},"Webhook2":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Google Docs1","type":"main","index":0}]]},"Seance type":{"main":[[{"node":"wrapRawPlan","type":"main","index":0}]]},"Google Docs1":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Google Docs2","type":"main","index":0}]]},"Google Docs2":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b7f40c38-115a-418d-9997-07f75c3e4f94","triggerCount":2,"tags":[]}