track_symbol_intraday-kYeSF1x0PIhlEMu6.json

{"createdAt":"2025-08-09T09:32:47.254Z","updatedAt":"2025-08-09T14:37:52.000Z","id":"kYeSF1x0PIhlEMu6","name":"Track_symbol_intraday","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const tickersArray = [\n  \"TSLA\", \"AAPL\", \"MSFT\", \"GOOG\", \"AMZN\", \"NVDA\", \"META\", \"NFLX\", \"AMD\", \"INTC\",\n  \"XOM\", \"JPM\", \"BAC\", \"WMT\", \"DIS\", \"BA\", \"CAT\"\n];\n\n// Créer un item distinct pour chaque ticker\nreturn tickersArray.map(ticker => ({\n  json: {\n    ticker: ticker\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,240],"id":"f10f301d-fd35-4d66-994b-029779a9eb44","name":"Liste des Actions à Scanner"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// $json représente l'item en cours de traitement (la réponse de l'API)\nconst response = $json;\n\nlet ticker = null;\nlet volume = 0;\nlet dailyRangePercentage = 0;\nlet trendStatus = \"Indéterminée\";\nlet error = null;\n\ntry {\n  const meta = response.chart.result[0].meta;\n  const indicators = response.chart.result[0].indicators.quote[0];\n  const closePrices = indicators.close;\n\n  // 1. Extraire le Ticker et le Volume\n  ticker = meta.symbol;\n  volume = meta.regularMarketVolume || 0;\n\n  // 2. Calculer la Volatilité (Range en % de la dernière journée)\n  const lastHigh = indicators.high[indicators.high.length - 1];\n  const lastLow = indicators.low[indicators.low.length - 1];\n  const lastClose = closePrices[closePrices.length - 1];\n  if (lastClose > 0) {\n    dailyRangePercentage = ((lastHigh - lastLow) / lastClose) * 100;\n  }\n\n  // 3. Calculer la Tendance (par rapport à la SMA 20 jours)\n  const smaPeriod = 20;\n  if (closePrices.length >= smaPeriod) {\n    // Calculer la SMA 20\n    const last20closes = closePrices.slice(-smaPeriod);\n    const sum = last20closes.reduce((a, b) => a + b, 0);\n    const sma20 = sum / smaPeriod;\n\n    // Déterminer le statut de la tendance\n    if (lastClose > sma20) {\n      trendStatus = \"Haussière\";\n    } else {\n      trendStatus = \"Baissière\";\n    }\n  }\n\n} catch (e) {\n  error = \"Erreur de parsing des données\";\n}\n\n// Retourner un objet enrichi\nreturn {\n  json: {\n    ticker: ticker,\n    volume: volume,\n    // On arrondit pour la lisibilité\n    dailyRangePercentage: parseFloat(dailyRangePercentage.toFixed(2)),\n    trendStatus: trendStatus,\n    error: error\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,240],"id":"5a3cde05-42f1-45c1-92ee-f80544386d41","name":"Extraire Volume"},{"parameters":{"jsCode":"// --- VOS RÉGLAGES PERSONNELS ---\nconst minVolume = 5000000; // Au moins 5 millions d'actions échangées\nconst minVolatility = 2.5; // Au moins 2.5% de range dans la journée\n// ---------------------------------\n\nconst stocks = $items();\n\n// 1. Filtrer les actions qui respectent VOS critères\nlet interestingStocks = stocks.filter(item => \n  item.json.volume >= minVolume &&\n  item.json.dailyRangePercentage >= minVolatility &&\n  !item.json.error\n);\n\n// 2. Trier les actions par volume décroissant (les plus liquides en premier)\ninterestingStocks.sort((a, b) => b.json.volume - a.json.volume);\n\n// 3. Formater le résultat final\nreturn [{\n  json: {\n    scan_date: new Date().toISOString(),\n    // On ne garde que les 10 meilleures pour ne pas être surchargé\n    topIntradayStocks: interestingStocks.slice(0, 10).map(item => item.json)\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,240],"id":"7b033ab6-ac1c-4a24-8636-a2b218661ef6","name":"Filtrer & Trier"},{"parameters":{"url":"={{ `https://query1.finance.yahoo.com/v8/finance/chart/${$json.ticker}` }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"range","value":"=1mo"},{"name":"interval","value":"1d"}]},"options":{"response":{}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-336,240],"id":"09535464-0042-4ee1-a50c-af35caf5d1c9","name":"Appel API Yahoo Finance"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-880,240],"id":"a5e62c3c-c249-47a9-8729-8ec0e237d06e","name":"When chat message received","webhookId":"617c661b-78d9-4a67-91d2-ed8738a38415"}],"connections":{"Liste des Actions à Scanner":{"main":[[{"node":"Appel API Yahoo Finance","type":"main","index":0}]]},"Extraire Volume":{"main":[[{"node":"Filtrer & Trier","type":"main","index":0}]]},"Filtrer & Trier":{"main":[[]]},"Appel API Yahoo Finance":{"main":[[{"node":"Extraire Volume","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Liste des Actions à Scanner","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"891dc1e9-1d0f-4cf5-903c-f5d209ae19c5","triggerCount":0,"tags":[]}